[2017-07-21 08:06] pedrovgs opened #4 "Refactor part of the system initialisation to use cake pattern."

[2017-07-21 08:06] pedrovgs opened #5 "Start working on the error handling to be able to break a task execution when needed by returning an error modeled using Either and sealed traits."
Remember to check the configuration param and show errors when needed. We will also have to break the build if something goes wrong.

We will also have to break the build if adb is not installed or returns -1.

[2017-07-21 08:06] pedrovgs opened #6 "Start comparing images and getting the difference between every pair of screenshots. To be able to do this we will have to parse the metadata file we've pulled from the connected device."

[2017-07-21 16:25] pedrovgs commented on #5
Remember to review the config params such as the existence of the app id and show feedback properly 😄

We will have to break the build if something goes wrong! Remember to implement this or using the tool will be impossible.

[2017-07-21 16:26] pedrovgs opened #8 "Delete temporal data generated while pulling screenshots"
We need to delete temporal data pulled from the connected device while pulling the screenshots taken. Every file inside ``screenshots/screenshots-default``

[2017-07-21 16:28] pedrovgs opened #9 "Improve error or success feedback with a reporting summary"
Most of the testing frameworks show an execution summary as part of the execution result using html, xml or json formats. We should do the same.

[2017-07-21 16:29] pedrovgs opened #10 "Implement record mode as described in the project readme"
Right now we can just compare screenshots, we should also be able to remove the already recorded screenshots and pull the new one storing the result in our ``screenshots`` folder.

[2017-07-21 16:31] pedrovgs opened #11 "Improve coverage"
Cover the image comparison implementation using real images and improve unit tests written for the main class named ``Shot``. Integration tests will be hard to implement, but we should at list write unit tests.

[2017-08-21 06:34] #6 closed

[2017-08-21 17:16] pedrovgs opened #14 "Improve travis configuration"
Improve Travis CI configuration to use the plugin in the ``shot-consumer`` after the build.

[2017-08-22 07:19] pedrovgs opened #16 "Flavors support"
Add support for applications using different flavors.

[2017-08-30 09:18] #10 closed

[2017-08-30 09:19] #14 closed

[2017-08-30 09:19] #8 closed

[2017-08-30 09:19] #5 closed

[2017-08-30 11:46] #16 closed

[2017-09-04 16:47] flipper83 opened #18 "Problems with gradle version 3.0.0-beta or upper."
### Expected behaviour
execute the gradle task

### Actual behaviour

when running the gradle task throw this error:

and after that this cause a Multidex exception:

### Steps to reproduce
1) create a kotlin proyect with gradle build version 3.0.0-beta-1 or upper.
2) add shot plugin
3) try to record the tests with ./gradlew executeScreenshotTests -Precord
4) Throw the exception
### Version of the

[2017-09-04 17:15] pedrovgs commented on #18
@flipper83 is Gradle 3.0.0 still in beta?

[2017-09-04 18:04] flipper83 commented on #18
Sorry its android plugin beta 3, last one is beta 4, and cotains gradle
version 4.1-rc-1.

And this change is for gradle 4. This version its that google recommend for
kotlin development

On Mon, Sep 4, 2017, 19:15 Pedro Vicente Gómez Sánchez <
notifications@github.com> wrote:

[2017-09-09 00:30] jonathanrz opened #19 "Not getting the screenshots even when granting permissions in api23."
I posted the question in stackoverflow, all the details are there: https://stackoverflow.com/questions/46126100/facebooks-screenshot-tests-failing-with-api-bigger-then-23

[2017-09-09 11:19] pedrovgs commented on #19
I'll review your issue next week @jonathanrz. Could you please indicate the version of the plugin being used in your project and the device or emulator configuration you are using?

[2017-09-10 10:45] jonathanrz commented on #19
Pedro,

You can check the code in this branch: https://github.com/jonathanrz/myexpenses-android/tree/shot
The commit where I added the plugin is this: https://github.com/jonathanrz/myexpenses-android/commit/61470dfc4855fa3c68319047b330d36e56cbbb8f

I am using the version: 0.1.2
I tested in an emulator with api 24.

One possible problem: I am using Android Studio 3.0. Now Android generates another

[2017-09-11 07:23] pedrovgs commented on #19
@jonathanrz the plugin fails trying to save the screenshots in an API >= 23 because the permission has to be granted in the testing APK and not the APK under test. Using the rule named grant permission test rule does not provide this functionality. This is not supported by the official Facebook library and we don't support it for now :( If you or any other friendly contributor would like to help u

[2017-09-11 07:44] pedrovgs commented on #19
You should also review your shot configuration. Your project overrides the application id adding a suffix named ``applicationIdSuffix '.debug'`` but your shot configuration uses:

[code]

Remember to update your shot configuration to

[code]

before running your tests again using an API <= 22 device 😃

[2017-09-12 00:37] jonathanrz commented on #19
@pedrovgs thanks for the help, I think that I fixed the problem with the permissions, but I am constantly receiving this error:

`Execution failed for task ':app:executeScreenshotTests'.

I updated my branch with the code, I think that you will be able to reproduce the error.

I am still running the test against an api 22 x86 emulator with Android Studio 3.0.

[2017-09-12 00:46] jonathanrz commented on #19
It was some cache from Android Studio, I runned a clean before running the tests and it was fixed.
Thanks for the help :)

[2017-09-12 00:46] #19 closed

[2017-09-12 07:43] pedrovgs commented on #19
Happy to see you have your screenshot tests working!

[2017-09-14 10:34] pedrovgs commented on #18
Fixed by @flipper83 and released in Shot 0.2.0 😃

[2017-09-21 09:54] Fishfield opened #21 "NoSuchFileException during record task"
### Expected behaviour
Screenshots are recorded without any error

### Actual behaviour
the gradle task `./gradlew executeScreenshotTests -Precord` is crashing with a `NoSuchFileException`

### Steps to reproduce
execute gradle command

### Version of the library
0.2.0

### Notes
After checking the folder, the file is not there, but I figured out that there is another folder called "screenshots-de

[2017-09-29 08:00] pedrovgs commented on #21
Hi @Fishfield this issue could be related with your shot configuration inside your ``build.gradle``. When you configure shot as follows:

[code]

The ``appId`` value is used to search your screenshots and maybe there is something wrong with your configuration 😃  Could you share your build configuration?

[2017-09-29 08:26] #18 closed

[2017-09-29 16:08] pedrovgs opened #23 "Verification report with diff between two different screenshots"
Improve our verification report showing a diff between the orginal screenshot and the new one.

[2017-09-29 17:02] JorgeCastilloPrz opened #24 "Configure HTML report to just show SS comparison for failed tests"
### Expected behaviour

Would be nice to provide a configurable property to allow users fetching the lib to just show screenshot comparisons under the HTML report for failed tests (since comparing the ones for green tests can be a bit irrelevant).

### Actual behaviour

It's showing screenshot comparison for both, passing and non-passing tests.

### Steps to reproduce

Run screenshot tests by comm

[2017-09-29 17:05] pedrovgs commented on #24
👍

[2017-10-06 08:34] #9 closed

[2017-10-23 06:53] Fishfield commented on #21
Hey @pedrovgs sorry for the late response, but I only have time once every 2 months to work on stuff which is not related to our daily business in the company. I attached the build gradle so you can have a look at it.
[build_gradle.txt](https://github.com/Karumi/Shot/files/1405993/build_gradle.txt)

It seems if I add the configuration for the facebook lib:

`screenshots {
	screenshotTestPackage "c

[2017-10-24 08:47] pedrovgs commented on #21
Hi @Fishfield the error you are facing seems could be derived from different errors:

* The instrumentation test runner is not properly configured.
* The tests you've written are not inside the ``androidTests`` folder where the instrumentations should be placed.
* Your app has configured different flavors but you are not configured shot properly using indicating the flavor you use to run your test

[2017-11-02 14:38] CristianGM opened #25 "Error:Configuration with name 'androidTestImplementation' not found."
### Expected behaviour
When using the Android gradle plugin <3.0 the plugin should use `androidTestCompile`

### Actual behaviour
it's adding `androidTestImplementation` so it doesn't compile

The issue seems to be in that function
https://github.com/Karumi/Shot/blob/adeef269ab719ffa776b96d50d7928c0c2b96fa8/shot/src/main/scala/com/karumi/shot/ShotPlugin.scala#L82

### Steps to reproduce
Apply the

[2017-11-03 08:24] flipper83 commented on #25
@CristianGM can you share with me in the gradle.properties thebuild:gradle? is 2.3.3 ??

[2017-11-03 10:11] CristianGM commented on #25
In the build.gradle I have:
`  classpath 'com.android.tools.build:gradle:2.3.3'`

but in the gradle-wrapper.properties
[code]

The issue is the new implementation/api dependencies comes with the `'com.android.tools.build:gradle:3.+'` not with the gradle wrapper you are checking.

[2017-11-21 10:33] pedrovgs commented on #25
Sorry for the delay @CristianGM, but I've been out for holidays 🛫  Could you paste a link to the Gradle Android Plugin changelog so we can review if the breaking change was added in this version or a different one? @flipper83 reviewed the version number when implementing the feature and if it was applied in the Android Plugin or Gradle twice, but it was long ago and I don't remember the numbers. I

[2018-01-08 11:21] pedrovgs opened #26 "Replace the HTML template engine."
The current implementation of the reporting system is using [Freemarker](https://freemarker.apache.org/) to render the HTML template shown to the user as a result. As the support for Scala is not so good we need to migrate the templates to [Scalate](https://github.com/scalate/scalate).

[2018-01-09 23:00] Serchinastico opened #27 "Print feedback when a screenshot doesn't match"
There are situations where we aren't able to access CI environments where tests are executed. That means that if a test fails we don't have any way to know what are the differences with the reference screenshot. The easiest fix for this sort of problems is to watch for failing tests and print a base64 of the new screenshot so that we can easily decode it in our machines and effectively see what ch

[2018-01-10 08:27] pedrovgs commented on #27
Thanks for creating the issue @Serchinastico. There are some points we should take into account:

* This feature should be disabled by default.
* The README should reflect the usage of this feature.
* If possible, we should show the image using a tool like [this one](https://github.com/stefanhaustein/TerminalImageViewer). Even when the result is not the best possible it could be useful. I don't kn

[2018-01-12 10:26] pedrovgs commented on #27
@Serchinastico I'm implementing the diff feature right now. I guess you'd like to print the base 64 of the diff generated. Let me know if you need help when working on this. I'll try to release a new release at the end of the day.

[2018-01-12 10:29] pedrovgs opened #28 "Add a configurable tolerance."
Our current implementation compares the recorded screenshots used as a baseline and the new one taken from the device using a pixel-perfect strategy. We should provide a config value we can use to compare the screenshots letting the user consider two screenshots as the same even if some pixels are not the same. [This](https://github.com/Karumi/Shot/blob/master/core/src/main/scala/com/karumi/shot/s

[2018-01-12 10:32] Serchinastico commented on #27
I think printing either the diff or the new screenshot are both good ideas. I personally have been using the newly created screenshot just because I didn't have access to the diff'ed image before but that ended up being quite usable IMO.

[2018-01-12 10:33] pedrovgs commented on #27
Let's see at the end of the day, once I publish the PR if we prefer the diff or the new screenshot taken. I think the diff is going to be more interesting.

[2018-01-12 10:43] Serchinastico commented on #28
I find it more useful to calculate the `tolerance` value by comparing colors more than number of different pixels. I'm thinking in a scenario where we have a green pixel in a black background, even if it's just one pixel, the difference between colors is too big to ignore it. There are algorithms to quantify the difference between two colors under human perception criteria (https://en.wikipedia.or

[2018-01-12 14:54] #23 closed

[2018-01-13 01:08] JorgeCastilloPrz commented on #28
This might be a stupid question but, from an end user of the lib perspective, what sort of situations would lead him to find a tolerance factor useful?. Doesn't any minimum UI change mean the screen is not showing the same way anymore?

In other words and to make it clear: Should you assume that a screen is still valid for you if it's passing just on a 95%?. What if the resting 5% is a SnackBar th

[2018-01-13 17:36] sockeqwe opened #31 "Feature Request: Only start a single test for recording"
I might be overlooking something, but is it possible to only run the "recording" mode for one single layout?

Example where this feature would be useful:
Let's say you have to change a xml layout `foo.xml` i.e. change the `padding-top` value which actually uses a `dimen` defined under `@dimen/padding_top`.
If some other layout like `bar.xml` also uses`@dimen/padding_top` which you are not aware of

[2018-01-15 07:12] pedrovgs commented on #31
This shouldn't be so hard to implement. I think the official Facebook library does not support it but we could do it. We could use the [Android Official documentation](https://developer.android.com/studio/test/command-line.html) about "Tests from command line".

There are just two things to take into account:

* The public param configured in ``ShotExtension`` should be similar to the one used in

[2018-01-15 07:22] pedrovgs commented on #28
I personally did not face any issue related to the screenshot comparison during my last year using this testing strategy for Android because we knew from the very beginning that animations and async image loading were going to be something we need to override. However, some devices emulated on different OS versions or different Android versions could rasterize fonts with just a difference of a bun

[2018-01-15 07:45] JorgeCastilloPrz commented on #28
Uhm, alright. That indeed makes sense. I guess you always have the power to run your ss tests just on stock roms to avoid that but whatever, people would still want to run them on their physical devices.

So overall, if it's an opt in feature that comes along with the proper warnings on the readme about the potential danger of using tolerance factors, it could become handy for some people!

Thx fo

[2018-01-15 09:59] sockeqwe commented on #31
yep, I'm trying to dedicate some time for it next week. Thanks for your quick response!

[2018-01-15 10:07] pedrovgs commented on #31
Great thanks! Let me know if you need something 😃

[2018-01-16 10:54] Serchinastico opened #32 "Show fallback image when the reference screenshot is missing"
### Expected behaviour

Show a fallback image when there is no reference image to compare with in the HTML report.

### Actual behaviour

When the reference image is missing we are showing a broken link in the HTML report.

### Steps to reproduce

Create a new screenshot test in your application and run screenshot tests with shot by executing `gradle executeScreenshotTests`. The  HTML report will

[2018-01-16 11:30] pedrovgs commented on #32
We can just leave an empty image. The bug is in the template generation. It assumes the file is there when it's not. This should be really simple to fix 😃

[2018-01-23 15:40] juange87 opened #33 "Failure executing task executeScreenshotTests due to SAXParseException"
### Expected behaviour

`executeScreenshotTests` or `executeScreenshotTests -Precord` should work as expected

### Actual behaviour

Exception happens executing those tasks:

[code]

### Version of the library

Tested on **1.0.0**, **0.3.0**, **0.2.0**

### Extended Stacktrace

[code]

[2018-01-24 07:18] pedrovgs commented on #33
Hi @juange87 thanks for reporting this bug. Just reading the stack trace makes me think this bug has to be related to the parsing of the XML metadata file the runner generates containing information about the tests execution. Could you please run the tests on any device or emulator you use, wait until the library fails and get a copy of the content you'll find at ``/tmp/shot/``? It has to be relat

[2018-01-24 09:24] juange87 commented on #33
Ok, I will try to do during the day.

I have more info related to this.

While setting up Shot, I made a change regarding this:

<img width="921" alt="captura de pantalla 2018-01-24 a las 8 41 46" src="https://user-images.githubusercontent.com/623411/35320012-8c0207c0-00e2-11e8-9936-e2970279d66f.png">

I changed the version to **0.5.0** (we had set Screenshot testing but It was not merged due to w

[2018-01-24 17:01] AOrobator opened #34 "Failure to generate test results"
### Expected behaviour

After running the command `./gradlew executeScreenshotTests -Precord` using the following repository https://github.com/AOrobator/ScreenshotTest, I expect the build to pass and screenshots to be recorded.

### Actual behaviour
Crashes when I run the recording command.

[code]

### Steps to reproduce
Run `./gradlew executeScreenshotTests -Precord` using the following reposit

[2018-01-24 17:09] Serchinastico commented on #34
This is a duplicated of #33 and looks like the problem has something to do with version 0.5.0 of the facebook screenshot testing library. Let's continue the discussion there!

[2018-01-24 17:09] #34 closed

[2018-01-24 20:12] AOrobator commented on #33
I can reproduce this issue 100% of the time, and I've made a sample repo that you can take a look at here:  https://github.com/AOrobator/ScreenshotTest.

Originally posted as an issue here: https://github.com/Karumi/Shot/issues/34

[2018-01-25 09:26] pedrovgs commented on #33
Thanks @AOrobator this repository is really helpful! Could you try by removing the facebook plugin from your classpath? Shot add all the dependencies needed to run your screenshot tests including the facebook lib.

[2018-01-28 22:19] AOrobator opened #35 "Shot doesn't work with API 23+ devices"
### Expected behaviour
Screenshot tests run on API 23+

### Actual behaviour
[code]

### Steps to reproduce
run ./gradlew executeScreenshotTests -Precord

### Version of the library
1.0.0

Just a note, the facebook screenshot library now supports API 23+

https://github.com/facebook/screenshot-tests-for-android/pull/89

[2018-01-28 22:20] AOrobator commented on #33
@pedrovgs Thanks that got me a bit further. Now I'm running into a separate issue which I've filed here: https://github.com/Karumi/Shot/issues/35

[2018-01-29 07:15] pedrovgs commented on #35
Thanks for reporting @AOrobator. As the latest Facebook release is recent I did not see this feature. I'll update Shot to support this feature for sure 😃

[2018-02-02 23:23] eduardb commented on #33
I ran as well into this issue, it seems that Shot is not working with version 0.5.0 of the facebook plugin. Which is a shame, since that version would solve the issue #35. I'm looking forward to seeing the update to make it work though :)

[2018-02-06 16:09] Serchinastico opened #38 "Show a list of reference images that are not being used"
I'd like Shot to tell me if it finds some reference images that are not being used while running it. When you decide to rename your tests it often leaves some orphan screenshots so I think it's great if Shot displayed a warning in that situation.

[2018-02-09 10:24] #27 closed

[2018-02-09 14:12] pedrovgs commented on #35
Fixed! I'm going to release a new version today @AOrobator

[2018-02-09 14:12] pedrovgs commented on #35
Thanks @tonilopezmr and @Serchinastico 😃

[2018-02-09 14:12] #35 closed

[2018-02-09 14:13] pedrovgs commented on #33
@eduardb @AOrobator @juange87 we've fixed this issue and provided support for the latest versions of the Facebook core library. I'm about to release a new version with @Serchinastico and @tonilopezmr contributions.

[2018-02-09 14:15] #33 closed

[2018-02-09 14:17] pedrovgs commented on #25
@CristianGM could you review this issue you opened? I'd really like to fix it but I need the information I requested you in my previous comment 😃

[2018-02-09 14:20] pedrovgs commented on #21
@Fishfield did my previous comment help you to fix the issue you were facing?

[2018-02-09 14:40] eduardb commented on #33
Thanks for the notice, Pedro! :)

[2018-02-09 14:44] pedrovgs commented on #33
You are welcome @eduardb are you using Shot for a personal or company project? We'd like to know if we have some users 😃

[2018-02-09 20:44] eduardb commented on #33
Hehe :) I am using it for a personal project, I started it very recently, and it's advancing slowly since I am working on it in my (limited) spare time. But I got introduced to the concept of screenshot testing at work on the web application we are working on, and it got me really excited to be able to do it on Android as well in such an easy way. Good job, btw! :)

[2018-02-09 22:55] CristianGM commented on #25
I did move to AGP 3.0 so I don't have the issue anymore.
I could simply close the issue, also I don't expect many people will use AGP 2.3.x , fixing it would be just for correctness.

[2018-02-10 14:14] pedrovgs commented on #25
Ok, thanks! 😃

[2018-02-10 14:14] #25 closed

[2018-02-12 09:11] juange87 commented on #33
Congrats team!! 💪

[2018-04-12 16:04] Serchinastico commented on #31
Hi,

I got it working by running the following command:

[code]

You can even run a single test with

[code]

I'm updating the project README in https://github.com/Karumi/Shot/pull/39.

[2018-04-13 07:08] pedrovgs commented on #31
@sockeqwe @Serchinastico feature implemented just by updating the documentation!! \o/

[2018-04-13 07:11] #31 closed

[2018-05-16 20:02] rm8x commented on #28
Spinners.

[2018-05-18 19:04] rm8x commented on #21
I may have a workaround:
-delete the `app->build->reports->shot` and `app->screenshots` folders.
-In Android Studio do `file->invalidate caches and restart`.

I was getting the same error when the task was looking for `metadata.xml` inside `screenshots-default` folder. Somehow things were being saved to `screenshots-default/screenshots-default` so that is where `metadata.xml` was. I had several su

[2018-05-25 23:22] pranayairan opened #40 "Running Across Multiple Devices"
### Expected behavior
Facebook Screenshot test supports running on multiple devices https://facebook.github.io/screenshot-tests-for-android/ with this flag
`screenshots {
  // ...
  multipleDevices true
}`
But I don't see the same option when using Shot.
### Actual behaviour
Shot has support for multipleDevices with gradle flags

### Steps to reproduce

### Version of the library
com.karumi:shot:2

[2018-06-01 07:57] pedrovgs commented on #40
Hi @pranayairan this could be a killer feature but it is not trivial at all. It is directly related to how our plugin uses adb and compares the images using different sources. It could be great if you or any other developer would like to contribute 😃 I'm marking this issue as ``enhancement`` and ``help wanted``  .

[2018-07-05 14:41] juanscigliano opened #41 "Test fail due to cursor on EditText"
Hi,
Im trying to Screenshot my Login screen. My EditTex has focus when the activity start, and shows  the cursor over it. When I  execute the Screenshot Tests  this fail because some times the cursor is there some time not (native animation of cursor). What can i do?. (Remove the focus in not an option due to UX)
 Thanks.

[2018-07-06 07:31] juanscigliano commented on #41
@pedrovgs Thanks for the answer, your approach make total sense.

[2018-08-13 06:52] pedrovgs opened #42 "Update Faceebook library"
As you can see [here](https://github.com/facebook/screenshot-tests-for-android/releases), Facebook published new releases of their library so it is time to update the library on our side.

[2018-09-04 23:24] ohmygar opened #43 "No such file or directory error"
⬇️ Pulling screenshots from your connected device!
rm: /sdcard/screenshots/nz.co.myappid.test/screenshots-default/: No such file or directory
Any Idea how to fix this?

Thanks

[2018-09-06 06:06] pedrovgs commented on #43
Can you provide more information about how to reproduce the error?

[2018-09-07 06:24] #43 closed, assigned to nobody

[2018-09-26 04:56] ohmygar opened #44 "Running multiple tests using Espresso."
I am combing the espresso with Karumi shot. It generates the report successfully for 2 tests if they fail the comparison. However, if the espresso cannot find some element for 1 test and fail at some point. The report won't be generated at all.
Thus I am not able to know any information, any ideas how to fix this?
Thanks

[2018-09-26 09:15] pedrovgs commented on #44
Hi @ohmygar. Espresso does not generate the report if the test fails because of how the plugin is implemented. Unfortunately, we won't be able to change this implementation for now.

If the report is not generated is because you have an Espresso test with a crash or an ``onView`` or ``assertX`` failing. Review your tests, debug them and you'll find the error.

I hope this answers your question. Fe

[2018-09-26 09:15] #44 closed

[2018-10-01 02:27] diegolucasb commented on #42
@pedrovgs, I'd like to contribute to the project working on this issue, but I'm a bit lost in how to start. Do you have any guide which can help me with it?

[2018-10-01 06:17] pedrovgs commented on #42
Hi @diegolucasb! You just need to update [this version](https://github.com/Karumi/Shot/blob/master/core/src/main/scala/com/karumi/shot/domain/model.scala#L22) number and check everything is working as expected.

For testing the lib manually you can execute ``./gradlew install`` and after that run the screenshot tests from the Android consumer project.

[2018-10-08 07:59] #42 closed

[2018-10-08 08:10] #21 closed

[2018-10-25 23:14] loveshjain commented on #40
Hi @pedrovgs @pranayairan Did you guys find out how to Shot supports running on multiple devices

[2018-10-26 06:14] pedrovgs commented on #40
Nope from my side. You should modify our Gradle plugin to list the available devices and download the images from different folders. You should also change how images are saved so the name of the file does not collide. This is a killer feature but it's not easy to implement at all.

[2018-10-26 08:46] pedrovgs opened #46 "Auto import not working in our gradle plugin for the newest Gradle version."
We should review the code adding the facebook library under the hood because it is not working as @Serchinastico discovered yesterday.

[2018-11-07 03:20] loveshjain opened #47 "Add support for Spoon"
I am trying to use Shot with Spoon by configuring

**shot {
    appId = "<applicationID>"
    instrumentationTestTask = "spoonNormalDevDebugAndroidTest"
    packageTestApkTask = "packageNormalDevDebugAndroidTest"
}**

but when I run the task `./gradlew executeScreenshotTests -Precord` it is throwing

However it works fine with

**shot {
    appId = "<applicationID>"
    instrumentationTestTask = "

[2018-11-07 07:11] pedrovgs commented on #47
Hi, @loveshjain by default our Gradle plugin doesn't' support Spoon multiple devices features. This is something we'd need to implement. This could be a nice enhancement but we don't have time to implement such a big feature by ourselves right now. Feel free to contribute to the project if you think you can help us!

[2018-11-08 21:00] loveshjain commented on #47
Hi @pedrovgs Thanks for the reply. Actually I am not trying to run test across multiple devices. Instead I am running it only on one device but with Spoon. Since Spoon is what we are using which gives a nice HTML report as well.

Since we running automation suite for feature builds, PR builds and master. I want to implement Screenshot testing for feature builds only at the moment where we can rest

[2018-11-13 01:05] Android-s14 opened #49 "Improve support for running on cloud devices"
Something I faced when trying to configure Shot for a real project.

The example setup looks something along the lines: the project is built on Circle CI (or any other provider), connected tests are run on Firebase Test Lab. The Test Lab takes an app apk + a test apk and runs them on a real device or an emulator, as an output producing contents of the device's sdcard. The further flow then is to d

[2018-11-13 09:40] pedrovgs commented on #49
Hi @Android-s14 unfortunately, this project is not compatible with Firebase Test Lab. The original facebook library we use under the hood is not compatible either. As the main image comparison logic is implemented using a Gradle plugin and this is not uploaded to the Firebase services we will never be able to use this approach in Firebase test lab without implementing the core library again. We cr

[2018-11-14 04:56] andrey-bolduzev commented on #49
I mean, as I mentioned above, there's a way to make it work and it does work, so it's not really incompatible. It's just the structure of the gradle tasks makes the setup a bit less obvious.

[2018-11-14 07:07] pedrovgs commented on #49
Are you sure we can pull through adb all the screenshots saved on the device running on Firebase Test Lab?

[2018-11-14 13:55] Android-s14 commented on #49
They don't provide an adb access to the devices/emulators they run tests on. But they do dump the complete sdcard contents to a bucket in the GCP storage.

So assuming the team already has some flow in place to run connected tests remotely and pull some results back from the cloud storage (e.g., test execution and code coverage data), it's only one step away to find a folder named `screenshots-def

[2018-11-14 14:56] pedrovgs commented on #49
Interesting 🤔 Thanks for the information, I had no idea you can get the SD card data from a GCP storage. Instead of adding the task you mention I'd make the plugin support fetching the images from the GCP storage. I've tagged this issue as an enhancement in case anyone would like to collaborate.

[2018-11-14 15:03] SergioGutierrezMotaEWB commented on #49
I'll join if you don't mind. I see two approaches here:

1. Create a separate task in Shot to just compare the screenshots just as @Android-s14 proposed
2. Create a way to integrate Shot into Firebase directly, I don't know how many other services are there available for running emulators in remote environments.

I personally like the first one as it is more versatile and cover (and will cover) ot

[2018-11-14 15:04] Serchinastico commented on #49
I'll join if you don't mind. I see two approaches here:

1. Create a separate task in Shot to just compare the screenshots just as @Android-s14 proposed
2. Create a way to integrate Shot into Firebase directly, I don't know how many other services are there available for running emulators in remote environments.

I personally like the first one as it is more versatile and cover (and will cover) ot

[2018-11-14 15:07] pedrovgs commented on #49
@Serchinastico ok, then I think we can split the tasks as a first approach and we'll see if we will implement that later.

[2018-11-21 02:03] kshirsagarps opened #50 "Upgrade to newest Gradle Version"
### Expected behaviour
executeScreenshotTests should not return error with new gradle plugin.

### Actual behaviour
I've updated my project to new android gradle plugin 3.2.1 and have updated gradle to version gradle-4.10.2. But, when I run executeScreenshotTests, the task exits with an error status.
I also get an error -
[code]
### Steps to reproduce
I am running the task in a shell script and en

[2018-11-21 07:52] pedrovgs commented on #50
We will have to take a look at the API we are using right now. @kshirsagarps could you send a PR updating the Android consumer we've written inside this repository? This would be really helpful in order to reproduce the issue and find where the error is. Thank you so much in advance.

[2019-01-12 00:34] Laimiux commented on #49
I've added a simple initial implementation of this in a PR above. Let me know if you have any feedback or particular use cases that we should address before it is good to go.

[2019-01-15 13:58] lichterschalter opened #53 "ExecuteScreenshots fails with exception: Unable to delete file metadata.xml on Windows10 with ADB over WIFI"
### Expected behaviour
Recording screenshots on Windows 10 with Nexus 4 (Android 5.1.1) connected via ADB over WIFI

### Actual behaviour
The task `gradlew executeScreenshotTests -Precord` takes the screenshots, pulls and saves them and the report, but the process finishes with:

   java.io.IOException: Unable to delete file: C: ... \app\screenshots\screenshots-default\metadata.xml`

- The same ta

[2019-01-16 17:42] Laimiux commented on #28
I've just run into this issue. A screenshot taken locally is off by 5 pixels from a screenshot generated on Firebase Test Lab. The screenshots to the naked eye look identical. Same emulator device model + API level. So, while I don't like adding a tolerance level, it might be a pragmatic solution. Anyone has any experience with this?

[2019-01-16 18:16] Android-s14 commented on #28
Same.
So far I haven't been able to find a local configuration that would match whatever they use in the test lab so that it doesn't fail on many occasions in shadows, gradients, some scrollbars, edit text underlines, etc.

Not sure about a solution though, as often it's beyond just 5 pixels while being visually indistinguishable.

[2019-02-22 11:22] arjungovindgv opened #54 "Can we retain the existing report instead of overwriting the previous one.This will be more useful for many."
### Expected behaviour

### Actual behaviour

### Steps to reproduce

### Version of the library

[2019-02-26 07:01] pedrovgs commented on #49
Hi @Laimiux sorry for the delay, I'm going to take a look right now. Thanks for the contribution 😃

[2019-02-26 07:21] pedrovgs commented on #53
Hi @lichterschalter thanks for sending us such a detailed issue. I'm afraid I'd need to make some questions before even thinking in a fix for this issue. Did you check if the metadata file mentioned in the exception exist? Did you check the metadata file permission? Related to this sentence ``I can not delete the file metadata.xml manually when AndroidStudio is open``, could you please clean the p

[2019-02-26 07:25] pedrovgs commented on #28
I'm afraid I can't fix the usage of different devices on the cloud test lab 😢 I don't think adding some tolerance configuration will fix this issue, we've been on a similar situation building iOS apps for some years using this strategy and that's not the way to go. The same happens with the different browsers rendering methods. If we can't get deterministic screenshots, then I'd not use screenshot

[2019-02-26 07:27] pedrovgs commented on #54
@arjungovindgv please fill the issue template properly or explain what you'd like to implement for this feature with more than a single sentence on the issue. I'm closing this issue until we get a proper description.

[2019-02-26 07:27] #54 closed

[2019-02-26 07:33] pedrovgs commented on #49
PR merged, I'm closing this issue and releasing a version. Thank you all for your help 👏

[2019-02-26 07:33] #49 closed

[2019-03-21 09:57] arjungovindgv opened #55 "FileNotFoundException for metdata.xml file while running a particular case"
Expection Got :
java.io.FileNotFoundException: /Users/...../app/screenshots/screenshots-default/metadata.xml (No such file or directory)

Command Run : ./gradlew executeScreenshotTests -Pandroid.testInstrumentationRunnerArguments.class=testcases.Test0AppLaunch -Precord

Am I did any mistake ?
 while running for the whole test suite its working fine.

[2019-03-21 10:13] Serchinastico commented on #55
Hi @arjungovindgv

I think I had this very same problem when the emulator didn't have write permissions for the sdcard or there was a major problem running tests (some sort of crash). Try deleting and creating the emulator again and see how it goes. Another thing to watch here is the facebook's dependency version.

You can find a working project here: https://github.com/Karumi/KataScreenshotKotlin

[2019-03-21 10:20] arjungovindgv commented on #55
@Serchinastico If its a permission issue ? then how the entire test suite will run but not its very first class.
I tried with Real Device too.. got the same problem

Thanks for the immediate Reply

[2019-03-21 16:13] Serchinastico commented on #55
I meant write permissions as in the file system permissions, not in the AndroidManifest declaration way. Anyways it was just a wild guess as I'm lacking some context here. If I'm understanding your problem right it's that running a single test class fails with the "no such file..." error message, isn't it? Are you sure you are running the command with the whole package name + class name? As in

`.

[2019-03-22 05:44] arjungovindgv commented on #55
Hi @Serchinastico

Sample Project working fine. Even for my project test is running perfectly getting error in report generation part alone that too on running a particular class or method

Logcat trace :

 Task :app:downloadScreenshots
??  Pulling screenshots from your connected device!

?  Comparing screenshots with previous ones.

FAILURE: Build failed with an exception.

* What went wrong:
Exe

[2019-03-22 09:52] Serchinastico commented on #55
If the project I linked you is working try comparing its dependencies and project configuration. More specifically, see if there is any difference in the `'com.facebook.testing.screenshot:core'` version. Apart from that, I'm kind of lost here without more context. Can you send us a minimal project where the lib is not working so that we can see what's happening?

[2019-03-23 08:35] arjungovindgv commented on #55
@Serchinastico can you share you mail ID where I can send those fails in private for detail ?

[2019-03-25 09:25] Serchinastico commented on #55
I'm afraid not, we try to offer support for the library, not your specific project. If you can create an open source minimal project replicating the issue we will be glad to help you and it will be way easier for us to spot the issue.

[2019-04-01 04:03] arjungovindgv commented on #55
I am having a test class under
/app/src/androidTest/java/testcases/TestClass

Build Gradle File Dependency

 androidTestImplementation 'com.android.support.test.uiautomator:uiautomator-v18:2.1.3'
//    androidTestImplementation 'com.android.support:support-annotations:28.0.0'
    androidTestImplementation 'com.android.support.test.espresso:espresso-web:3.0.2'
    androidTestImplementation 'com.and

[2019-04-01 04:04] arjungovindgv commented on #55
what more info you are expecting me to provide ? If I run the whole test suite its working fine but getting while running a particular class or method

[2019-04-03 12:10] andremion commented on #28
I had that same comparison issue using screenshots from Firebase Test Lab but I found that it's only with virtual devices. At least I tested with Pixel 2 physical device on Test Lab and comparison with screenshot made from local emulator worked.

[2019-04-06 05:49] arjungovindgv commented on #55
@Serchinastico any update on this

[2019-04-08 06:19] pedrovgs commented on #55
@arjungovindgv why are you using ``androidTestImplementation('com.facebook.testing.screenshot:core:0.4.2')``? This might be the issue. Could you try removing this dependency?

On the other hand, could you check the test you are executing passes just running it from Android Studio? If the issue is not related to the lib version it has to be related with how the library is saving the screenshots and

[2019-04-10 12:13] arjungovindgv commented on #55
Finally after removing the dependency, it got worked.
Thank you so much @pedrovgs @Serchinastico

[2019-04-10 12:50] pedrovgs commented on #55
You are welcome @arjungovindgv Thanks for using shot, we love seeing people writing tests!!!

[2019-04-10 12:50] #55 closed

[2019-05-20 08:19] gchouhan-systango opened #57 "No tests found. This usually means that your test classes are not in the form that your test runner expects (e.g. don't inherit from TestCase or lack @Test annotations)."
Hi, Thanks  for providing this great library. I need help from you when I am trying to execute screenshot through gradle command and it gives some gradle related exceptions, previously It was working fine but from last week I testing and getting one issue explained below:
`No tests found. This usually means that your test classes are not in the form that your test runner expects (e.g. don't inheri

[2019-05-20 08:40] Serchinastico commented on #57
Can you share with us your `build.gradle` configuration?

[2019-05-20 10:39] gchouhan-systango commented on #57
[code]

[2019-05-21 05:17] gchouhan-systango commented on #57
@Serchinastico I got the reason of failure, it was failing due to use of an external library which is `com.github.rey5137:material:1.2.2` . After comment this libray in module it succeed execution. Can you suggest what I can do for resolve it?

[2019-05-21 08:02] Serchinastico commented on #57
Looks like you have failing tests, did you read the generated report at `file:///home/ubox49/AndroidStudioProjects/Youtility/youtility-app-android/energyswitchcui/build/reports/androidTests/connected/flavors/DEV/index.html`?

Anyways, I'm closing the issue as this is not related to an issue in Shot.

[2019-05-21 08:02] #57 closed

[2019-06-28 14:48] pedrovgs commented on #47
I'm afraid I have to close this issue. After checking what was going on with spoon I've noticed the Facebook library we use under the hood doesn't support spoon for now. However, we've added support for Composer which is a really nice alternative to spoon 😃

[2019-06-28 14:48] #47 closed

[2019-06-28 14:50] pedrovgs commented on #40
I've sent a PR providing support for this feature.

[2019-06-28 14:51] #46 closed

[2019-06-28 14:53] pedrovgs commented on #50
I'm closing this issue. [This PR](https://github.com/Karumi/Shot/pull/59) shows how an Android consumer with the latest Gradle version is working properly.

[2019-06-28 14:53] #50 closed

[2019-07-04 16:02] #40 closed

[2019-07-19 03:41] farukprogrammer opened #60 "Release Shot 2.3.0"
I want to use multiple device but it needs version 2.2.1-SNAPSHOT

### Expected behaviour
We can use version 2.2.1-SNAPSHOT

### Actual behaviour
The latest version still 2.2.0

[2019-07-19 07:58] pedrovgs commented on #60
Hi @faruqy87 we have some tasks pending before publishing the final release. You should be able to use the new 2.3.0 release before August. Sorry for the inconveniences.

[2019-07-19 10:42] faruqy87 commented on #60
Hi, Thank you so much for the fast response. I've already solved it by building in my mavenLocal and try the **multiple device** feature. From my experiment there is some point that I need to clarify :

-  It seems it just divides the test across multiple emulators (with the same density) randomly.

-  It's not separating the screenshots into each device folder.

- The newest version of **composer

[2019-07-22 09:54] ZenonSeth opened #61 "Trying to run test in a project with flavors fails. Main page documentation refers to non-existent version '3.0.0'"
### Expected behaviour
With a project set-up with multiple build flavors, when I correctly specify the `instrumentationTestTask` as such:
[code]
The test should be able to pass.

Additionally, the documentation on the main page says:

However the latest released version is 2.2.0 (and as far as I can tell, the next planned is 2.3.0)

### Actual behaviour
When running command
`./gradlew executeScree

[2019-07-31 08:46] pedrovgs commented on #60
Hi @farukprogrammer, I've updated the documentation to clarify these points. The feature is designed to run our screenshot tests between different devices so we can reduce the execution time. This helps a lot when running your have huge code coverage. The screenshots taken will not be separated into different folders because we don't need it for this feature. I've updated the readme to specify you

[2019-07-31 08:47] pedrovgs commented on #60
I forgot to mention, I've just released the version 3.0.0. So I'm closing this issue. Thanks for your feedback!

[2019-07-31 08:47] #60 closed

[2019-07-31 08:48] pedrovgs commented on #61
Hi @ZenonSeth sorry for the error. I had no time to publish the release 3.0.0 but the documentation was updated explaining how to configure your build.gradle file for this version. My bad.

If you update the library to the version 3.0.0, which is being released right now, you should get the library working properly.

Please, let me know if you find any error during the library configuration or the

[2019-08-05 10:46] ZenonSeth commented on #61
Hi @pedrovgs - thanks for the update, I'll test it as soon as time permits!

[2019-08-21 10:49] juange87 opened #62 "Exception when Gradle Sync: Could not find com.karumi:core:2.2.1-SNAPSHOT"
### Expected behaviour

Gradle sync works correctly

### Actual behaviour

An exception is thrown when gradle sync is running

[code]

### Steps to reproduce

Update the version to 3.0.0

### Version of the library

3.0.0

Tested on Android Studio 3.4.2 and 3.5

[2019-08-29 10:14] Philio opened #63 "Build failure after upgrade to Gradle 3.5.0"
### Expected behaviour

Gradle sync completes

### Actual behaviour

Gradle sync fails with Gradle plugin 3.5.0

[code]

Line 13 is: `apply plugin: 'shot'`

### Steps to reproduce

Upgraded Gradle plugin from 3.4.2 to 3.5.0

### Version of the library

2.2.0 (tried 3.0.0 but had issue #62)

[2019-08-29 13:23] pedrovgs commented on #63
Thanks for reporting. I won't have time to review this until the middle of September. However, if you think you can find where the error is please let me know.

[2019-08-29 13:24] pedrovgs commented on #62
Thanks for reporting @juange87 It has to be related to the latest release. Maybe I forgot to configure the dependencies properly for the release 3.0.0. I won't have time to review this until the middle of September. But we'll take a look.

[2019-08-30 19:01] japplin commented on #63
I had the same issue, I fixed it by moving my apply plugin line below the android block in build.gradle

[2019-09-02 12:42] durbon commented on #63
Confirmed. The problem is solved putting the apply plugin below the `android` block that has the compileSdkVersion needed. It looks 3.5.0 needed this value before

[2019-09-02 12:55] Philio commented on #63
Turns out that worked for me too. Didn't have time to check before so had just reverted the plugin upgrade but moving the `apply plugin` was all that was needed.

[2019-09-16 14:53] chengbooxup opened #64 "Multi-test record issues"
Hi,

I used : executeScreenshotTests -Precord --stacktrace -Pandroid.testInstrumentationRunnerArguments.class=<com.your.package.ClassTest> to record all tests in this class

in each test at the end of the test :
 Screenshot.snapActivity(activity).record()

But only the last test is uploaded to /screenshots
Expected behaviour : all tests should be recorded

Version of the library : 2.2.0

I found :

[2019-09-17 06:31] pedrovgs commented on #61
Hi @ZenonSeth today I've released Shot 3.0.1. I'm closing this issue 😃

[2019-09-17 06:31] #61 closed

[2019-09-17 06:32] pedrovgs commented on #62
Hi @juange87 I've checked the last release and by mistake part of the artifact was pointing at the wrong version. I've just released Shot 3.0.1 which should fix this issue. Could you please check it out and let me know if it's working as expected now?

[2019-09-17 06:33] #62 closed

[2019-09-17 06:34] pedrovgs commented on #64
Hi @chengbooxup I don't understand how this could be possible. Could you create a GitHub repository reproducing the issue so we can take a look at this bug?

[2019-09-17 07:35] pedrovgs commented on #63
Thank you so much @Philio and @durbon. As you mentioned before moving the plugin after the android configuration blog is a valid workaround. Additionally, I've updated the code to support that gradle version. We'll release a new version with this fix as soon as the PR is approved. Shot 3.0.2 will contain the fix you need to be able to use the Android Gralde plugin 3.5.X and Shot 😃

[2019-09-17 07:50] #63 closed

[2019-09-17 12:28] chengbooxup commented on #64
Hi @pedrovgs, I will create a Github repository ASAP with copy all project configurations

[2019-09-17 12:36] pedrovgs commented on #64
Thanks!

[2019-09-17 13:34] chengbooxup commented on #64
HI @pedrovgs, sorry about all, i rechecked my configuration, the problem comes from Jacoco configuration, il erases every execution of tests.

good job for shot.

I will close this pull request

[2019-09-17 13:34] #64 closed

[2019-09-19 06:08] juange87 commented on #62
Everything is working, thank you!

[2019-09-19 09:44] madyx commented on #64
I have the issue when using
`
android {
    testOptions {
        execution 'ANDROIDX_TEST_ORCHESTRATOR'
    }
...
}
`
I also tried with `testInstrumentationRunnerArguments clearPackageData: 'false'` but the screenshots are cleared after each run test method.

[2019-09-19 21:35] pedrovgs commented on #64
@madyx please create a demo repository where we can reproduce the error and feel free to open a new issue with all the information you can give us about the error.

[2019-09-23 14:11] patjackson52 opened #66 "*_dump.json (No such file or directory)"
### Expected behaviour

Complete executeScreenshotTests task tests without FileNotFoundException

### Actual behaviour

Throws FileNotFoundException

### Steps to reproduce

Add test to project and run executeScreenshotTests

### Version of the library

3.0.2

[2019-10-04 08:50] pedrovgs commented on #66
Hi @patjackson52, I was wondering if you could check if you've added ``com.facebook.testing.screenshot:core`` dependency to your build and the version you are using.

Looking at the error you mention, it seems you are overriding the facebook dependency shot adds when installing the plugin. This is allowed, however, the latest library version released changed how the screenshots are saved into the

[2019-10-04 17:27] patjackson52 commented on #66
Thank you @pedrovgs .  I removed the facebook plugin (com.facebook.testing.screenshot) and the report is now generated.

[2019-10-04 17:27] #66 closed

[2019-10-07 06:05] pedrovgs commented on #66
Great!

[2019-10-08 14:17] soutoss opened #67 "Shot plugin"
### Expected behaviour
Others modules from android solution that apply `shot` plugin should have access to shot and `com.facebook.testing.screenshot.Screenshot` and `com.facebook.testing.screenshot.ScreenshotRunner`

### Actual behaviour
Only `app` module have access to `com.facebook.testing.screenshot.Screenshot` and `com.facebook.testing.screenshot.ScreenshotRunner`

### Steps to reproduce
1 - a

[2019-10-08 14:19] soutoss commented on #67
@pedrovgs could you please help me with this issue?

[2019-10-08 14:24] pedrovgs commented on #67
@soutoss I didn't try to apply shot to a different module in any project I'm working on right now. Can you check if you are applying the plugin to every module you want to be able to use it? The line ``apply plugin: "shot"`` and the configuration needed should be in every module and not just the ``app`` one.

[2019-10-08 14:26] soutoss commented on #67
@pedrovgs did this before and that`s the reason that made me open this ticket :(

Right now I'm working in a project that have a lot of feature modules.

is this an issue?

[2019-10-08 14:29] pedrovgs commented on #67
If it's not working, then you've found a bug. There has to be something wrong with a multiple module projects. I won't be able to take a look at this error until November, so if you'd like to contribute feel free to send any PR or contribute to adding any useful information.

[2019-10-14 17:01] sahithi3390 opened #68 "Snapshot record/verify to support large views"
After upgrading from **Karumi 2.0** to **Karumi 3.0.2**, I get the following error when tried to record/verify the snapshot of screens with heightPixels >= 9000 (Which is used to take the snapshot of entire screen without having to scroll)

**java.lang.RuntimeException: java.lang.IllegalStateException: View too large: (1440, 9000)**

Function called - ViewHelpers.setupView(view)

[2019-10-15 23:46] charlesdurham opened #69 "Generation of screenshots throws NPE with `runInstrumentation false`"
Looks like it's because https://github.com/Karumi/Shot/blob/64d160291ed1564307507a5830bbb56e5e932d51/core/src/main/scala/com/karumi/shot/Shot.scala#L136 returns null if the directory doesn't exist.

Worked around by creating `/screenshots/screenshot-default/`.

[code]

[2019-10-15 23:53] charlesdurham commented on #69
Actually, I seem to have to generate this dir every time. FWIW I am also using `runInstrumentation = false`.

[2019-10-16 18:05] charlesdurham commented on #69
Nevermind, I'm a fool and wasn't copying the screenshots off FTL device correctly.

[2019-10-16 18:05] #69 closed

[2019-10-24 15:45] slacklab opened #70 "NPE recording screenshots"
I want to run yours plugin
I do:
`./gradlew executeScreenshotTests -Precord`

But get some errors:

[code]

But I found this Json at zip archive screenshot_bundle.zip

What I should do to avoid this error?

Thanks in advance

### Version of the library
com.karumi:shot:3.0.2

[2019-10-24 16:32] tonilopezmr commented on #70
Can you share more information about your `build.gradle` with your configuration?
Or share a complete example to reproduce the error?

Thanks!!

[2019-10-25 07:44] slacklab commented on #70
@tonilopezmr
in  build.gradle(Project)
[code]
in app/build.gradle(Module)
[code]

[2019-10-25 13:09] tonilopezmr commented on #70
Thanks! @slacklab, during next month we will take a look at this issue to solve it, in the meantime, if you have more informatión to share or you found the solution and want to make a PR with the fix is more than welcome.

[2019-10-25 13:36] pedrovgs commented on #70
@slacklab could you please ensure you are not adding this dependency to your ``build.gradle`` file? ``com.facebook.testing.screenshot:core`` The error you reported is generated because any part of your code is importing that dependency with a version greater than 0.8.0 which is the last version we support right now. Could you check your dependencies and let me know if this facebook dependency is d

[2019-10-25 13:37] pedrovgs commented on #70
Please, try also to remove these dependencies you declared in your manifest if my previous comment didn't fix the issue.

[code]

[2019-10-28 11:01] ivan399 commented on #70
@pedrovgs

Hello !

If you remove this dependence - the test will fail with such an error.

`java.lang.RuntimeException: java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
at com.facebook.testing.screenshot.internal.ScreenshotImpl.runCallableOnUiThread(ScreenshotImpl.java:335)
at com.facebook.testing.screenshot.internal.ScreenshotImpl.storeBitmap(ScreenshotImpl.java:157)
at co

[2019-10-28 11:25] pedrovgs commented on #70
@ivan399 I'm afraid looking at the trace I don't understand where the NPE comes from. Could you please upload a zip file or create a GitHub repository with a reproducing the error?

[2019-10-29 06:32] ivan399 commented on #70
@pedrovgs

I don’t have the right to publicly upload a project or part of it :(

[2019-10-29 07:49] pedrovgs commented on #70
@ivan399 I don't mean uploading the code of the app you are working on right now. I mean uploading any sample project you could create reproducing the error.

[2019-11-08 08:33] pedrovgs commented on #67
@soutoss could you please check this PR I've sent? #71

I've created a new module into the example you can find in the folder ``shot-consumer`` named ``app2``. I've added this module to the build and checked if the facebook library is added or not. As you can see, Shot is working with multiple modules repositories.

I'm wondering if you could take a look at your project's configuration. Maybe ther

[2019-11-08 08:48] pedrovgs commented on #68
Hi @sahithi3390 I'm afraid there is nothing we can do to fix this issue. The exception you are facing is not generated by our code but the Facebook's library code. You can see the exception [here](https://github.com/facebook/screenshot-tests-for-android/blob/9d1d58e1e36414b1431fd4cd6246f3b01c816fe9/core/src/main/java/com/facebook/testing/screenshot/internal/ScreenshotImpl.java#L214)

Please, open

[2019-11-08 08:48] #68 closed

[2019-11-10 15:22] soutoss commented on #67
Sure!

[2019-11-13 00:08] johnbuns commented on #28
+1 for this feature. Any updates?

[2019-11-15 08:50] pedrovgs opened #72 "Ensure Shot is working with java 12"

[2019-11-19 11:47] SetamanJuly opened #73 "downloadScreenshots FAILED - Nonzero exit value: 1"
Hi,
I'm trying to use Shot in my app, but I don't what im doing wrong. I tried to follow all steps, somebody can help me? 😄

### Actual error

⬇️  Pulling screenshots from your connected devices!

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':presentation:downloadScreenshots'.

### Actual exception

`* Exception is:
org.gradle.api.tasks.TaskExecutionExcep

[2019-11-25 14:01] Serchinastico commented on #73
Hi @SetamanJuly,

Can you create a minimal project reproducing the error we can use to debug what's going on?

[2019-11-29 08:55] pedrovgs commented on #73
Hi @SetamanJuly with the information you provided it's not possible to help you at all. I'm closing the issue until you create a minimal project reproducing the error.

[2019-11-29 08:55] #73 closed

[2019-11-29 10:15] pedrovgs commented on #72
It works like a charm!

[2019-11-29 10:15] #72 closed

[2019-11-29 14:03] alexanderbezverhni commented on #24
Hi @pedrovgs . What do you think on showing first failed tests, and passed tests afterwards? We have 200 tests in our screenshot tests suite, and when 1 test fails - it's challenging to find it from the long list.

I agree that failed tests are of much higher interest, than passed ones. Showing first failed tests makes sense. I can make it happen in a `PR`, WDYT?

[2019-11-29 15:38] pedrovgs commented on #24
That'd be awesome @alexanderbezverhni! The change is minimum because you only need to sort the list before rendering the result 😃 I think it could be nice contribution if you can send a PR with the change!

[2019-12-03 12:23] yawarkhan224 commented on #73
@SetamanJuly
I also followed the setting up instructions and ran into the same issue. Did you figure out what was the issue in your case?

[2019-12-03 19:06] alexanderbezverhni commented on #24
@pedrovgs https://github.com/Karumi/Shot/pull/74

[2019-12-04 12:53] #24 closed

[2020-01-10 21:13] hernandazevedozup opened #75 "Trying to run with runInstrumentation = false"
I want to verify the snapshots with files downloaded from a remote device, but I dont know where I should put the files to be compared.

The recorded files are being saved at folder $projectdir/screenshots ( I think that those files are the current value of valid snapshots right?)
![image](https://user-images.githubusercontent.com/45759570/72186765-c20df780-33d4-11ea-84ef-eefd8f7ec953.png)

I just

[2020-01-17 13:45] hernandazevedozup commented on #75
I've managed to make it work on bitrise`s Firebase Test lab using the following configuration:
https://gist.github.com/hernandazevedo/5b2b1d68690a9a8cc3ce789c6e9f1607

[2020-01-17 13:45] #75 closed

[2020-01-21 08:13] emilioscy commented on #70
Here is a test project that produces this specific error.
[https://github.com/emilioscy/MFSNapshotTest](url)

[2020-01-21 13:45] Serchinastico commented on #70
Hi @emilioscy, I'm seeing your project has both, Shot and Facebook's Screenshot library included. This will override the dependency Shot is using internally and will produce strange behaviors. I recommend not mixing both and stick to one of them.

[2020-01-21 23:27] yasitha999 commented on #73
This has happened to me due to package name, appId configuration mismatch.
Check if you have correct appId in
[code]

As well as package of `androidTest/AndroidManifest.xml` should be matching each other

[2020-01-22 07:14] emilioscy commented on #70
Hello @Serchinastico, i removed Facebook's library and works as expected. Perhaps this is what was causing the issue for @slacklab.

[2020-01-28 07:22] Serchinastico commented on #70
I'm closing the issue. There is already a small section on the README describing problems if you load your own facebook dependency and how the current version of Shot is only compatible with FB's 0.8.0

[2020-01-28 07:22] #70 closed

[2020-01-28 12:31] tobiasKaminsky opened #76 "Shot of dialogs"
### Expected behaviour
- take a snapshot of a dialog

### Actual behaviour
- dialog is omitted

### Steps to reproduce
- create a fragment like in https://developer.android.com/guide/topics/ui/dialogs
- DialogFragment dialog = DialogFragment.newInstance();
        dialog.show(getFragmentManager(), "dialogTag");
- take a screenshot with
  - Screenshot.snap(dialog.getView()).record();
  - get a NPE

[2020-01-28 13:03] pedrovgs commented on #76
Hey @tobiasKaminsky the issue you are facing is not related to the gradle pluggin we developed by the Facebook library we use under the hood. However, what if you try this:

[code]

Using ``dialog.window.decorView`` instead of ``dialog.getView()`` should work.

[2020-01-28 13:18] tobiasKaminsky commented on #76
Wow. I was so sure that I have tried this.

Many many thanks for your tip and this awesome library :heart:

[2020-01-28 13:18] #76 closed

[2020-01-28 13:26] tobiasKaminsky commented on #76
Maybe it is helpful for others:
Between creation of dialog and snapshot I have to add a "Thread.sleep()".
In my case I use a delay of 2s. Maybe this is too much, but if there is no pause between, then it fails with:
[code]

[2020-01-28 14:02] pedrovgs commented on #76
Hey @tobiasKaminsky I don't know if you test has async code or something I'm missing. Could you try using this function instead of your sleep?

[code]

If you take a look at the documentation this code will help you to synchronize your screenshot:

[code]

Please, check it out and let me know if this worked for you 😃

[2020-01-30 14:31] tobiasKaminsky commented on #76
This indeed helps and is a better aproach.
Thanks for pointing this out to me :+1:

[2020-02-03 05:42] tobiasKaminsky opened #77 "Support mulitple flavors in recording and comparing screenshots"
Currently only one flavor is possible, which is set in build.gradle.
This is an enhancement idea to support multiple flavors:
- pass option via CLI,
  - .eg. :-Pshot.flavor=name
  - overrides setting in build.gradle
- store screenshots in /screenshots/flavor/ to support

[2020-02-03 07:14] pedrovgs commented on #77
@tobiasKaminsky I'm afraid this is not an issue you've found but a feature request. Feel free to implement it by yourself if you need it! We are not sure if we will have time to do this. Please, rewrite your issue description too.

[2020-02-03 07:22] tobiasKaminsky commented on #77
@pedrovgs thank you for your quick reply.
I stumbled across #16 and assumed the wrong behaviour ;-)

I updated the description. Do you think that these two steps are enough?

[2020-02-03 07:26] pedrovgs commented on #77
I'm sorry. The name of that issue was misleading. That flavors support was related to the ability to use shot with different flavors selecting the one you want to run.

[2020-02-03 07:54] tobiasKaminsky commented on #77
I did not had a deeper look, but my goal was to have this backward compatible, so that the optional CLI parameter overrides the existing build.gradle flavor

If this does not work, I'll mention it in my (hopefully) up-to-come PR

[2020-02-03 08:02] pedrovgs commented on #77
@tobiasKaminsky before sending any PR let's see what @Serchinastico thinks about it. Right now, when you run shot in any application with flavors you configure the flavor and the build type you want to use to run your screenshot tests. So the only thing missing is adding the flavor to the folder name. However, if we implement this feature the main benefit is will be able to use shot in different f

[2020-02-03 08:20] tobiasKaminsky commented on #77
Maybe this is a misunderstanding, but this is not what I "need" or wanted ;-)
My idea was just simply, e.g.:
- have current 20 UI tests
- have two different flavors, one is green, one is blue
- run ./gradlew execeutScreenshotTests -Pshot.flavor=green
- run ./gradlew execeutScreenshotTests -Pshot.flavor=blue

So in total there would be 40 screenshots, 20 in /screenshots/green/ and 20 in /screenshot

[2020-02-03 09:03] Serchinastico commented on #77
The more I think about it the more I think we are talking about two different things in this issue:

1. Be able to configure the output directory for reference images.
2. To run Shot with different flavors.

Inferring the output directory from the flavor may not work for other people (if they want to compare different flavors look exactly the same).

On top of that, I'd go the standard way to incl

[2020-02-03 09:43] tobiasKaminsky commented on #77
That is indeed the better approach! :+1:

Inferring could be the new default, and if people want to have only one output directory, they can customize it in build.gradle?

[2020-02-03 12:55] Serchinastico commented on #77
+1 to that

[2020-02-04 06:33] tobiasKaminsky commented on #64
This is happening also on our project, e.g. here:
https://github.com/nextcloud/android/pull/5378/files#diff-07cf3aa3a15baf93baf056bd00ebc384R53

With
https://github.com/nextcloud/android/blob/987b72846462ec889eb8259889fb8ffbbe71d601/build.gradle#L192-L196

it is only pulling one screenshot, with commenting it, it fetches both, but tests are more unreliable in general (independent from this library

[2020-02-12 09:22] tobiasKaminsky opened #78 "With ANDROIDX_TEST_ORCHESTRATOR only one screenshot is retrieved"
### Expected behaviour
- record/verify all screenshots

### Actual behaviour
- only one (latest) screenshot is retrieved

### Steps to reproduce
- have multiple screenshot tests
- execute it

### Version of the library
3.1.0

For a quick test project, please see: https://github.com/tobiasKaminsky/KarumiTest

Commenting this
https://github.com/tobiasKaminsky/KarumiTest/blob/adea1c075876454da439315e

[2020-02-12 09:23] tobiasKaminsky commented on #78
Related to #64, but created a new one, as the other one is closed.

[2020-02-12 16:16] Serchinastico commented on #78
Thanks for reporting and the demo project, we will be taking a look in the following weeks!

[2020-02-13 14:44] mandomi opened #79 "Application suffix ID declared in build type not being handled properly"
I've created a simple project and Shot works perfectly when there isn't any flavor but when I add flavors I would get this error:

`> Task :app:downloadScreenshots FAILED
⬇️  Pulling screenshots from your connected devices!

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:downloadScreenshots'.

`

I've also added this to the gradle file:

`shot {
    ap

[2020-02-13 16:15] PabloMGrela opened #80 "Support run annotated tests"
### Expected behaviour
Be able to use
./gradlew executeScreenshotTests -Pandroid.testInstrumentationRunnerArguments.annotation=com.your.package.YourAnnotation

(or default ones @LargeTest f.e.)

### Actual behaviour
If you try ro run the test suite using an annotation, it's ignored and the whole suite is run

### Steps to reproduce
-Add an annotation to a test
-Execute the command with the annotat

[2020-02-14 08:17] mandomi commented on #79
I have found the answer!
I've added `applicationIdSuffix ".dev"` to the Dev flavor, so the application id in the Dev is not the same as production.
So, I had to change the appid to `appId = 'com.example.snapshottesting.dev'.

I suggest adding the capability of working Shot with different environments.

[2020-02-14 09:29] tobiasKaminsky opened #81 "Screenshot of BottomSheetDialog"
### Expected behaviour
create screenshot of bottomsheet dialog

### Actual behaviour
[code]

### Steps to reproduce
This is a condensed code:
[code]

I also tried to launch the dialog via activity and then take a snapshot. But this fails, as it only captures the acivity, but not the overlaying dialog.

A third try was:
Launching BottomSheetDialog and then:
Screenshot.snap(sut.findViewById(R.id.bot

[2020-02-14 10:26] pedrovgs commented on #81
@tobiasKaminsky don't you have to show the layout in any activity before taking the screenshot? Keep in mind the instrumentation tests are not executed in the app's main thread. If you create an example project reproducing the issue I can point you out how to do it. Describing the solution using plain text is not the best way to do it and I don't have any example ready with this right now.

[2020-02-14 10:29] pedrovgs commented on #80
Hi @PabloMGrela I'll try to reproduce the error and see what's going on one day soon. Meanwhile, if someone could knows the solution just drop a comment 😃

[2020-02-14 12:44] tobiasKaminsky commented on #81
Here you go: https://github.com/tobiasKaminsky/KarumiTest/blob/bottomSheet/app/src/androidTest/java/me/kaminsky/karumitest/BottomSheetTest.kt

Repo: git@github.com:tobiasKaminsky/KarumiTest.git
Branch: bottomSheet

Thank you :-)

[2020-02-21 08:20] pedrovgs commented on #81
Ok @tobiasKaminsky I'm testing your project and you can't take a screenshot of a bottom sheet not attached to any activity. You'll have to take the screenshot to the activity where you are working or create an empty activity and attach it there. Anyway, this is a Facebook's library bug not something we can fix so I'm closing this issue. Feel free to ask in their repository any question you have ab

[2020-02-21 08:20] #81 closed

[2020-02-21 08:25] pedrovgs commented on #80
Hi @PabloMGrela I've just tested the usage of instrumentation runner arguments and it's working. I tried adding a ``@LargeTest`` annotation to one of my tests and using this command:

[code]

And only that test was executed. I'm closing this issue for now, however if you can bring us more information about the scenario or you create a minimum reproducible project I'll try to reproduce it again. Th

[2020-02-21 08:25] #80 closed

[2020-02-21 08:31] pedrovgs commented on #78
Thanks for creating the demo project @tobiasKaminsky I've tested the repository and the issue seems to be related to the Facebook library we use to take the screenshots. As I plan to update the version we use but this is a HUGE change I'm leaving this issue here as is until we update the core library and we release a new version.

[2020-02-21 08:46] pedrovgs commented on #77
Hi @tobiasKaminsky and @Serchinastico I've been reading your comments and these are my thoughts:

* Supporting the standard build type + flavor tasks declaration is the way to go. However, we can't do this without changing where the flavors are being stored right now.
* If we enable this feature our users could potentially run the tests using ./gradlew executeScreenshotTests and this would run the

[2020-02-21 08:51] pedrovgs opened #82 "Update Facebook's core library and support the new metadata schema"
We are 3 minor versions below the official Facebook's library: https://github.com/facebook/screenshot-tests-for-android/releases. At some point during the 0.9.0 release they decided to change the way the screenshots are saved into the device and also changed all the metadata format so we can't support any newer release since 0.9.0. This is a huge issue for us because we'd like to benefit from all

[2020-02-21 15:52] #82 closed

[2020-02-21 16:17] ursimon commented on #78
Hi, is there a way to test `3.1.1-SNAPSHOT` version ?

[2020-02-21 16:22] pedrovgs commented on #78
Not for now @ursimon . I'm afraid I didn't release any snapshot for now. But you can use the latest stable version if you want.

[2020-02-21 16:35] ursimon commented on #78
Yeah, but I have the same issue as described above, so I thought I would give a go updated version as update of Facebook lib has been merged...

[2020-02-21 16:36] pedrovgs commented on #78
I'm afraid we will have to wait :( I'm also wondering why you want to use the ANDROIDX orchestrator 🤔Could you tell us why @ursimon @tobiasKaminsky ?

[2020-02-21 18:30] tobiasKaminsky commented on #78
It is said that this makes tests more robust as they are run isolated/sandboxed and thus leftovers from previous tests do not (or less) affect the following tests.

[2020-02-24 22:21] vudzkostek opened #85 "Not able to contribute"
I am not able to contribute into project (I could not create PR). Please checkout these changes as project has very old dependencies.

https://github.com/Karumi/Shot/compare/master...vudzkostek:update_project?expand=1

[2020-02-25 00:28] digitalbuddha opened #86 "Add configurable directory"
### Expected behaviour
allow configuration of directory to save screenshots. I'd like to have the master's saved at `app/test/resources/screenshots`

### Actual behaviour
all screenshots are shared in app/screenshots directory

Would be happy to contribute this. Thank you for the awesome lib

[2020-02-25 06:23] vudzkostek commented on #86
Hi, have you tried
'''
screenshots {
      // Points to the directory containing all the files pulled from a device
      referenceDir = path/to/screenshots
  }
'''

[2020-02-25 10:17] tonilopezmr commented on #85
Hi @vudzkostek, your branch `update_project` is 81 commits behind the current `master` branch, you need to fetch the last changes from `master`.

[2020-02-26 06:52] vudzkostek commented on #85
How is it possible if I forked project yesterday and started from master? I don't see chanhes on master from yesterday so I should be up to date. Nevertheless, I will check later and fix it, and then close issue

[2020-02-26 06:58] vudzkostek commented on #85
@tonilopezmr my bad, I am trying to cobtribute to Kata code, not shot, but by mistake I've reported issue here

[2020-02-26 07:40] pedrovgs commented on #85
@vudzkostek I'm checking your link and I don't get why you can not send the PR. Anyway, we are not interested in updating any dependency on the example projects, so please, do not implement these changes. I'm closing this issue.

[2020-02-26 07:40] #85 closed

[2020-02-26 07:46] pedrovgs commented on #86
Hey, @digitalbuddha changing the base directory could be interesting. Is there any special reason to use that specific directory you mentioned? Or any other reason?

Before contributing there is a branch I'm working on a big change for the folders configuration we should merge before any other change. You can take a look here: https://github.com/Karumi/Shot/tree/provide-flavors-support This branch

[2020-02-26 07:49] davideme commented on #85
@vudzkostek In the future if you want to do a PR from a fork take a look at https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2020-02-26 07:51] pedrovgs commented on #78
Ok, I'll check if this works after the internal Facebook library update. If it's not working I'll check if we can do something to fix it from our side.

[2020-02-26 13:27] digitalbuddha commented on #86
Sounds great! As for the particular directory - it was just an example. Primary driver here is to have screenshots for testing appear in a test source tree.

[2020-02-27 23:23] SUPERCILEX commented on #41
You can also recursively kill the cursors. Here's a full example for anyone wanting to copypasta stuff:

[code]

[2020-02-28 02:26] SUPERCILEX opened #87 "Return useful error messages when adb process fails"
I'm trying to debug a similar issue to https://github.com/Karumi/Shot/issues/79 and https://github.com/Karumi/Shot/issues/73 but this is next to impossible because no useful error message is return. Please pip STDERR to the console.

[2020-03-02 07:11] pedrovgs commented on #87
@SUPERCILEX you can execute any task with this additional parameter ``--stacktrace`` if there is an exception we are not handling and you need to review more information. Thanks to this param you get all the stack trace. What else you'd like to know? These errors reported are exceptions we are not handling, not errors we want to recover from. Isn't the ``--stacktrace`` param enough for this scenar

[2020-03-02 07:31] SUPERCILEX commented on #87
`-S` only shows where the error happen. As stated above, I'd like to see the stderr from the executed command aka whatever adb logs.

[2020-03-02 07:36] pedrovgs commented on #87
I'm afraid I don't get it @SUPERCILEX, right now there are no log traces related to errors at all. If there is something wrong we expect to handle we show the error but there are no hidden error log traces. Do you want to see the device logcat messages?

[2020-03-02 07:41] SUPERCILEX commented on #87
There will be log traces, adb doesn't fail silently. I don't understand scala, but on this line you're crashing without piping the stderr to the console: https://github.com/Karumi/Shot/blob/6856a80cd1749aa0e4a1b9bf594fbb05d0b3b639/core/src/main/scala/com/karumi/shot/android/Adb.scala#L33 For example, in this run all we know is that the process failed with exit code 1 which isn't helpful: https://g

[2020-03-04 17:47] eyalgu opened #88 "Saving screenshots fails if RecordBuilder#setName was set with a name that contains whitespaces"
[code]

### Expected behaviour
Should record screenshots

### Actual behaviour
gradle task fails

### Steps to reproduce
[code]

### Version of the library
3.1.0

[2020-03-04 17:48] #88 closed

[2020-03-04 18:04] eyalgu commented on #88
actually it's just a bad print, the underlying issue is #70

I've had to manually add the fb dep because the plugin did not add it automatically. I may open an separate issue for that

[2020-03-04 18:20] viniciusguardieirozup opened #89 "Add Windows support"
Hi, I´m facing this error with Shot version 3.1.0 when running the command gradlew executeScreenshotTests on windows:
adb.exe: unknown command rm
![image](https://user-images.githubusercontent.com/58824112/75909767-718ea580-5e2b-11ea-9960-7218b603f922.png)

[2020-03-04 21:59] eyalgu opened #90 "Plugin does not add the underlying facebook-screenshot-testing dependency to libraries"
### Expected behaviour
Adding `apply plugin shot` should be all the setup I need when adding snapshot tests to an android library (as oppose to android application)

### Actual behaviour
I need to also add `androidTestImplementation "com.facebook.testing.screenshot:core:0.8.0"`

### Steps to reproduce
create an android library with snapshot and try to access something like `Screenshort.snap`

[cod

[2020-03-04 22:03] eyalgu commented on #90
@digitalbuddha believes this is because `project.getConfigurations` in https://github.com/Karumi/Shot/blob/24ad9f6a46607386e24627a96982f33044ac6d64/shot/src/main/scala/com/karumi/shot/ShotPlugin.scala#L96 does not iterate over libraries.
You will probably need something along the lines of:
[code]

[2020-03-05 07:44] pedrovgs commented on #89
Hi @viniciusguardieirozup I'm afraid we don't support windows for now. We are looking for contributors in order to make it work for this platform 😃

[2020-03-05 19:44] rfodge commented on #28
we have been running into this issue more and more.  Tolerance would be really helpful

[2020-03-06 13:09] ViniciusGuardieiroSousa commented on #89
I fix this problem on windows

[2020-03-06 23:17] SUPERCILEX opened #92 "Upgrade facebook dep to 0.12.0"
The [new releases](https://github.com/facebook/screenshot-tests-for-android/releases) include support for AndroidX which would be super nice to have.

[2020-03-06 23:17] SUPERCILEX commented on #92
Note that [`0.10.0`](https://github.com/facebook/screenshot-tests-for-android/releases/tag/0.10.0) changes how the screenshots are stored (zips them up).

[2020-03-07 03:18] SUPERCILEX commented on #87
@pedrovgs Looks like this is what's needed: https://stackoverflow.com/a/5564667

[2020-03-09 12:26] pedrovgs commented on #92
Hi @SUPERCILEX one of my latest PRs already updates the version supporting the format of the new screenshot but using the version released at that time (0.10.0) You can review it here: https://github.com/Karumi/Shot/pull/83 I'll have time to review this project in two weeks and I'll update the version then.

[2020-03-09 23:17] SUPERCILEX commented on #92
Awesome! Any chance you make a release? Supporting AndroidX would be pretty sweet.

[2020-03-09 23:18] SUPERCILEX commented on #92
Also, I don't care about 0.12.0 specifically, so closing.

[2020-03-09 23:18] #92 closed

[2020-03-11 12:26] slacklab opened #93 "How to make snapshot of full screen with real backend data"
Hello, can you help me:

I want make snapshot tests by this principle:

1. Open my application with real backend
2. Make first snapshot of full screen (with data from backend)
3. Go to different screen by tap the some button
4. Make second snapshot of full screen else
5. And so on, click to different screens and make comparsion of snapshots

Cannot understand how to make full snapshot of screen (f

[2020-03-12 18:53] digitalbuddha commented on #28
Wanted to chime in with 1 more use case: Auto generated colors for things like a background icon.  The ideal would be to allow users to mark an exclusion area somehow

[2020-03-13 14:15] digitalbuddha commented on #93
Warning: This might be a bit hacky but it works consistently for me

[code]

Next make a global/ top level counter for number of screenshots taken since each one has to have a different "name"
`    val screenshotCount = AtomicInteger(0)`

finally make a global function that you can call from anywhere
[code]

Call `verify` from anywhere in a test and each time it should snap the entire screen

[2020-03-13 15:06] slacklab commented on #93
Thanks a lot for help
It was very usefull info for us

Now i can make snapshot of current activity - it works very nice!

But now i only can make snapshot of activity (without framelayout at top of activity)

Maybe you can help me please, how i can make snapshot for all views: activity and framelayout at top of activity?

Cos i have screen with modal bottom sheet window at top my screen (activity)

[2020-03-20 07:19] pedrovgs commented on #93
@slacklab some views like the one you shown in a dialog have to been recorded using a different call. However, your questions are not related to this gradle plugin but about testing in general, so I'm closing the issue for now. My recommendation is to ask your question in StackOverflow, because there are some libraries and techniques involved at the same time. You can also take a look at this blog

[2020-03-20 07:19] #93 closed

[2020-03-20 07:30] pedrovgs commented on #28
Hi all. As you can see I personally created this issue in June 2018. However, keeping in mind this project is only a gradle plugin and we can only interact with the screenshots once these are recorded there are some things we will not be able to implement. Excluding some views from the screenshot is one of them. At least, in a transparent way to the user. To do this we would need to implement our

[2020-03-20 07:30] #28 closed

[2020-03-20 07:35] pedrovgs opened #94 "Create tooling to be able to hide views from tests"
As some of our users are facing the same problems we've faced for years we should create some tooling already integrated with the gradle plugin as a kotlin module to be able to implement the following scenarios from our tests:

* Disable the cursor for any edit text.
* Hide views by id.
* Include the test runner we always use.
* Take screenshot in a friendly and common way without even noticing th

[2020-03-20 07:45] pedrovgs commented on #87
Ok @SUPERCILEX I get it now. I'm working on a different feature right now, however if I have time in the future I'll take a look at this issue 😃 thank you!

[2020-03-20 07:53] SUPERCILEX commented on #87
Awesome, that would be great!

[2020-03-20 15:19] pedrovgs commented on #90
Hi @eyalgu could you please create a project reproducing this error? I've been working on this project the whole day and I couldn't reproduce it by myself.

[2020-03-20 15:30] pedrovgs commented on #77
PR ready guys!! After two days of working hard, we have now the improved flavors' support we were looking for. You can take a look at the PR #95 if you want.

[2020-03-20 15:48] eyalgu commented on #90
Sure I'll try to get to it this weekend

[2020-04-06 09:18] #77 closed

[2020-04-07 08:39] fmontesino opened #96 "Application suffixes are not being handled correctly when testApplicationId is configured"
### Expected behaviour
If I run `./gradlew <Flavor><BuildType>ExecuteScreenshotTests -Precord` I get all the screenshots recorded and downloaded from the device.

### Actual behaviour
Build fails with this message:

**Execution failed for task ':app:downloadScreenshots'.
Nonzero exit value: 1**

### Steps to reproduce
This is my setup:
[code]

Setup for Version 4.0.0:
[code]

Setup for Version 3.1

[2020-04-08 06:54] #89 closed

[2020-04-08 07:13] pedrovgs commented on #96
Hi @fmontesino I'm trying to reproduce the error you mentioned but the issue is not related to the appId suffix. Inside the repository ,you can find a folder named ``shot-consumer-flavors``. Inside this folder, an example of an Android app can be found. This app is configured with different flavors and the green flavor uses an application suffix like the one you described. If you execute shot from

[2020-04-08 11:12] hamorillo commented on #96
I don't know if this could help you but I had a similar issue and the stacktrace is almost the same as @fmontesino shared.

In our project we are using the following configuration on build.gradle:
`defaultConfig {
testApplicationId "es.company.app.test"
}`

This causes that in the device the screenshots were saved under the folder:
`/sdcard/screenshots/es.company.app.test`
and not under the folder

[2020-04-08 11:19] pedrovgs commented on #96
You are overriding the ``testApplicationId``? @fmontesino is this something you are also doing in your project?

[2020-04-08 11:24] hamorillo commented on #96
Exactly, we was overriding the `testApplicationId` and for us this was the problem.

[2020-04-08 11:27] pedrovgs commented on #96
@hamorillo would you mind if I ask you why you decided to override the app id for the test artifact? I'm also wondering if you could try shot using the latest version and removing the ``testApplicationId`` configuration 😃

[2020-04-08 11:31] pedrovgs commented on #94
After a first draft to create the core components our users are going to be able to use I'm going to continue working on the library deploy configuration and adding it automatically when the Shot gradle plugin is applied. You can find the first PR @Tylos sent here: #97

[2020-04-08 12:15] fmontesino commented on #96
Thanks @pedrovgs and @hamorillo for your comments. I can confirm I am not overriding the `testApplicationId` in my gradle file. However, I have the `androidTest/AndroidManifest.xml` with the package set up like `package="my.application.package.test"`. Do you think this has anything to do?

Will try running the example with Shot 4.0.0 👍

[2020-04-08 13:08] hamorillo commented on #96
@pedrovgs I'm not pretty sure why we were been overriding the appId, I've reviewed the repo and this change was introduced long time ago with another test library, It seems that both were related.

Yesterday, I've updated our app removing the override of `testApplicationId` (now it looks that don't make sense in our code) and using the versión 4.0.0 of shot. It works great!

[2020-04-08 13:24] pedrovgs commented on #96
Until we can provide support for the usage of the mentioned variable, please remove it if it's possible and use the latest shot release 😃 I'm going to rename the issue so we can fix it soon.

[2020-04-08 14:05] fmontesino commented on #96
I am not sure the issue is exactly that tbh, I just ran with version 4.0.0 using Composer and two emulators and had the same issue. However, using 3.1.0 apparently works now 😕

Setup with 4.0.0:
[code]

`/gradlew clean app:devDebugExecuteScreenshotTests -p . -Porchestrator=false -Precord=true`

Output:

⬇️  Pulling screenshots from your connected devices!

FAILURE: Build failed with an exception.

[2020-04-08 14:40] pedrovgs commented on #96
What did you change in order to get the previous version working? Only the version or did you change anything else?

[2020-04-08 14:54] fmontesino commented on #96
In 3.1.0 I tried like this with no luck
[code]

Changed to not use Composer, it worked!
[code]

Rolled back to use Composer and it worked 🤔

Tried 4.0.0 with no luck... So I rolled back to 3.1.0 + Composer and apparently it works now 🤷‍♂

[2020-04-17 06:47] rlatapy-luna commented on #96
@fmontesino Did you add the `sharedUserId` in your manifest ? (the main one, not only the androidTest one)

[2020-04-17 07:42] fmontesino commented on #96
@rlatapy-luna yes sir! it's working as expected on 3.1.0 so I think it's more of a version problem

[2020-04-17 09:34] scm573 commented on #79
Hey guys!

I meet the same trouble after upgraded to 4.0.0, because the "appId" configuration is gone now.
Is there any way to deal with this?

[2020-04-17 10:28] mandomi commented on #79
@scm573 I upgraded to 4.0.0 too, you don't need to use the appId anymore. It works for me.

[2020-04-22 14:09] pedrovgs commented on #94
Only the hide views by id is missing @Tylos . Would you like to implement it? Maybe @voghdev would like to implement it during the Twitch streaming. I could participate and do it together. What do you think?

[2020-04-22 16:56] voghDev commented on #94
That'd be great!

[2020-04-23 07:10] Tylos commented on #94
I don't have much time for the next couple of weeks so if you get the chance to work on it, do it!

[2020-04-23 08:33] pedrovgs commented on #94
I think we are going to do it during @voghDev 's twitch streaming 😃

[2020-04-24 18:26] jchudev opened #100 "Plugin doesn't work with test or library modules."
I am attempting to build a test module using the `com.android.test` gradle plugin but this doesn't seem to be compatible with `4.1.1`. Using versions `3.1.0` allows me to sync successfully. This is also the same case with `com.android.library`.

### Expected behaviour
Gradle syncs successfully.

### Actual behaviour
[code]

### Steps to reproduce
1. I added the following to the test module's `buil

[2020-04-30 05:30] scm573 commented on #79
@mandomi

I tried many different patterns and probably found the root cause.
Where we put "applicationIdSuffix" is not in the productFlavors block, but the buildTypes block.
And due to this process
https://github.com/Karumi/Shot/blob/master/shot/src/main/scala/com/karumi/shot/ShotPlugin.scala#L68
The applicationIdSuffix declared in buildTypes block is not being taken into consideration.

Also that

[2020-04-30 05:36] scm573 commented on #96
Hey guys. I'm now meeting a similar problem and I think I probably found the cause:

My project puts "applicationIdSuffix" in the buildTypes block but not the productFlavors block.
And due to this process
https://github.com/Karumi/Shot/blob/master/shot/src/main/scala/com/karumi/shot/ShotPlugin.scala#L68
The applicationIdSuffix declared in buildTypes block is not being taken into consideration.
I t

[2020-05-05 13:45] fmontesino commented on #94
As an extra small idea, apart from disabling cursors and scrolls, we also manage the focus and close the soft keyboard before taking the screenshot.
In some project we "clear" the focus we iterate over all the views, starting from the root view, and then `requestFocusFromTouch()` to make it consistent. In some other projects we take a view id that will be the one that will request the focus.

Dunn

[2020-05-05 14:36] fmontesino commented on #96
FYI this seems to work properly on 4.1.1 :)

[2020-05-05 17:44] fmontesino commented on #100
I solved this by installing shot as usual, then in my library module:
[code]
I hope it helps!

[2020-05-05 18:03] fmontesino commented on #96
Re-tested with version 4.1.1... Still happening :(

[2020-05-08 06:52] pedrovgs commented on #100
Hi @jchudev you are absolutely right. Version 4.X improved flavors support, however by mistake we broke libraries support :( This is going to be my next fix. Could you please confirm if @fmontesino 's workaround works?

[2020-05-08 06:54] pedrovgs commented on #79
Thanks for the info @scm573 I'm going to see If I can fix it.

[2020-05-08 06:58] pedrovgs commented on #94
Hey @fmontesino I think for a first iteration the features we've implemented are fine and we can close this issue. We've also provided support to easily add your actions before taking the screenshots by just overriding one interface method in case you need it. However, I really like your ideas and I'm wondering if you could open an issue per idea so we can implement them. If you could help ups, th

[2020-05-08 06:58] #94 closed

[2020-05-08 07:00] pedrovgs commented on #96
I'll try to take a look at #100 and #96 today.

[2020-05-08 11:36] #79 closed

[2020-05-08 12:34] pedrovgs commented on #100
Hi @fmontesino I've just merged a PR fixing the support for android libs. This was supported in previous versions just for free because we were not using the official gradle plugin in order to link Shot's tasks with android testing tasks. I'm releasing a new version with the fix right now. Please, check if it's working for you and feel free to reopen this issue if it doesn't work.

[2020-05-08 12:34] #100 closed

[2020-05-08 12:35] pedrovgs commented on #96
Hi @fmontesino I've just merged a PR fixing this. The suffix was not being used properly for build types but I've just fixed it and I'm about to release a new version with the fix.

[2020-05-08 12:35] #96 closed

[2020-05-08 12:36] pedrovgs commented on #79
The fix will be available in the next release I'm about to publish

[2020-05-08 14:10] pedrovgs commented on #87
Ready @SUPERCILEX !! This will be part of the next feature 😃

[2020-05-08 14:24] pedrovgs opened #108 "Improve development documentation"
In order to facilitate features or fixes development, we should improve the current documentation. The points we should cover are:

* Description of the projects and modules you can find here.
* How to build the project.
* How to run tests, linters and checkstyle.
* How to build the plugin code.
* How to build and run tests in our consumers.

[2020-05-08 16:31] SUPERCILEX commented on #87
Sweet!

[2020-05-09 06:13] jchudev commented on #100
@fmontesino Thanks for the suggestion. That didn't seem to work due to it failing on trying to find `AppExtension` when running a gradle sync.

@pedrovgs I tried `4.2.0` and it syncs successfully on both test and library modules! I ran a test on the library module and it worked just fine. Thanks for all the help everybody!

[2020-05-11 08:04] fmontesino opened #109 "Make focus consistent when taking screenshots"
We've been experimenting some flakiness because of the focus at the moment of taking the screenshot. It would be nice to have some consistency out of the box.

In some project we "clear" the focus we iterate over all the views, starting from the root view, and then requestFocusFromTouch() to make it consistent. In some other projects we take a view id that will be the one that will request the foc

[2020-05-11 08:08] fmontesino commented on #96
Will give it a try! Thank you very much!

[2020-05-11 08:31] pedrovgs commented on #109
Right now this feature can be implemented in every project manually thanks to the ScreenshoTest ``prepareUIForScreenshot`` you can override when needed. Even when I'm sure having this feature I'm wondering if it has to be performed before taking every screenshot or the library user should opt to it 🤔

[2020-05-11 10:51] fmontesino opened #110 "Allow null heights to make the screenshot to wrap content"
This is very useful when taking screenshots of dynamic height views. We don't always force a view to have a height, and the underlying Facebook implementation allows it by simply not setting a height:

[code]

### Expected behaviour
If I send `null` as height, I want to take a screenshot with WRAP_CONTENT

### Actual behaviour
If I send `null` as height, I have `metrics.heightPixels` (fullscreen)

[2020-05-11 11:01] pedrovgs commented on #110
Instead of using a null value in the public API I'd go for something different. What if we use the ``WRAP_CONTENT`` value or a ``WRAP_CONTENT`` constant we can create so we don't introduce a breaking change in the public API? For me, if we use null as height we should not force a wrap_content behavior because you don't specify what's the configuration you expect 🤔

[2020-05-11 11:15] fmontesino commented on #110
Agreed on sending null might not necessarily be interpreted as wrap_content.
What about having `WRAP_CONTENT`,`MATCH_PARENT` and `EXACT_PX(int)` values to send, and then configure the screenshot library accordingly?

You don't have to actually send `null` explicitly, as it's a default value for `compareScreenshot`, so maybe just a flag like `wrapContent = true` for any missing parameter?
`compareS

[2020-05-11 13:06] pedrovgs commented on #110
I need to think about the public API. Meanwhile, as a workaround, you can use the facebook library  used inside the ScreenshotTest interface.

[2020-05-14 17:02] AlexKrupa opened #112 "Missing metadata.xml when recording screenshots in an Android library module"
### Expected behaviour
Recording screenshots works in a `com.android.library` module.

### Actual behaviour
Build fails with:
[code]

Similar task works just fine in `com.android.application` modules (e.g. `app` and `app2` in `shot-consumer` project).

### Steps to reproduce
Tissue also occurs in the Shot's sample project.

1. Open `shot-consumer` project.
2. Execute this shell command:
[code]

Th

[2020-05-14 19:19] runningcode opened #113 "Shot plugin significantly increases configuration time when applied"
Shot plugin significantly increases configuration time of builds when it is applied.
In larger projects, we've seen this plugin add 60 seconds to the configuration time of the build.
The plugin adds a `beforeResolve` hook to every Configuration in the entire multi-project build. This is terrible, since if you have N projects, you’ll be adding N listeners, and each listener will apply to every conf

[2020-05-15 08:15] pedrovgs commented on #112
Hi @AlexKrupa I've just double-checked the current implementation of the library and executed the tests for the ``samplelibrary`` module and everything works fine. Actually, the CI workflow executes those tests too and the build is passing in master and the latest pull requests. Can you please check if the emulator you used to run the tests has an SD card associated? Could you also check if there

[2020-05-15 08:18] pedrovgs commented on #113
Hi @runningcode thanks for reporting. We should definitively improve this part of the gradle plugin. I'm going to check if there is any other approach we can use to be able to respect the original library behavior and keep it as fast as possible. Meanwhile, if you find a solution and you'd like to contribute, feel free to send any PR 😃

[2020-05-15 08:46] runningcode commented on #113
From my understanding the second approach would respect the current behavior and keep it as fast as possible.

[2020-05-15 09:02] pedrovgs commented on #113
I think you are right @runningcode but I need to test if works properly in the second scenario. If you want to send a PR with that approach that would be awesome 😃I can release a new version as soon as we have the fix 😃 If you don't have time, I totally understand it, we will have to wait until I can implement it by myself or we find any other collaborator.

[2020-05-15 11:18] AlexKrupa commented on #112
Thanks for your reply, it in the right direction. I finally got it to work.

`create_emulator.sh` script executes `$ANDROID_HOME/tools/mksdcard`. Since that one is a 32-bit executable I couldn't run it on MacOS Catalina. I wasn't aware of the 64-bit `mksdcard` in `$ANDROID_HOME/emulator/mksdcard`. To work around that I ran the tests on an IDE-created emulator, which was good enough for preparing a

[2020-05-15 11:18] #112 closed

[2020-05-15 12:39] reisfernanda commented on #78
I'm facing the same issue, do you have any update on this?

[2020-05-15 12:47] pedrovgs commented on #78
Hi @reisfernanda I've been working on different issues and I had no time to fix this. However, we are always open to new contributors in case you can find some time to review it.

[2020-05-18 07:03] scm573 opened #114 "Crashing when setting WebView as ignoredViews"
### Expected behaviour
Screenshot can be taken when setting WebView as ignoredViews

### Actual behaviour
Test crashes

### Steps to reproduce
・Set WebView as ignoredViews
・Call compareScreenshot() method in the test case

Here's the stacktrace:

java.lang.RuntimeException: java.lang.Throwable: A WebView method was called on thread 'Instr: com.karumi.shot.ShotTestRunner'. All WebView methods must

[2020-05-18 07:24] pedrovgs commented on #114
This one is really easy to fx. We only need to move the view handling the ignored view to the target app thread. It will be fixed for the next release. Thanks for reporting @scm573

[2020-05-18 09:14] #87 closed

[2020-05-18 13:07] MohamedMedhat1998 opened #118 "Only the original thread that created a view hierarchy can touch its views"
### Explanation
I'm trying to use `shot` library and its [sample project](https://github.com/Karumi/KataScreenshotKotlin) but I faced some errors. I have walked through the errors but I'm stuck at this error: `Only the original thread that created a view hierarchy can touch its views`
I don't know what the problem is.
### Steps to reproduce
Just clone this [forked repo](https://github.com/MohamedM

[2020-05-18 13:55] reisfernanda commented on #78
Hi @pedrovgs thanks for the quick reply.
In the meanwhile, I'm disabling Android Test Orchestrator only when recording the screenshots.

[2020-05-18 14:09] pedrovgs commented on #118
Hi @MohamedMedhat1998 can you please update the issue description with the full error stack trace? That'd be helpful in order to know what's going on.

[2020-05-18 14:49] MohamedMedhat1998 commented on #118
@pedrovgs This is it:
[code]

[2020-05-19 14:20] #113 closed

[2020-05-19 14:21] #114 closed

[2020-05-20 06:59] pedrovgs commented on #114
Hi @scm573 I've released a new version with the fix for this crash. As soon as the version 4.3.0 is indexed by Maven Central you'll be able to use it 😃

[2020-05-20 07:00] pedrovgs commented on #113
Hi @runningcode I've released a new version with the build time improvement. As soon as the version 4.3.0 is indexed by Maven Central you'll be able to use it 😃

[2020-05-20 07:46] VysotskiVadim commented on #78
Seems it's an issue in facebook library, which hasn't been fixed yet.
If somebody want to help community and implement Android Test Orchestrator support, you can find all the details here https://github.com/facebook/screenshot-tests-for-android/issues/173

[2020-06-01 08:57] SisterMorphine opened #120 "downloadScreenshot failed in devices with API >=29"
When executing the Screenshot tests, the tests are actually executed in the emulator but then the gradle tasks fails when downloading screenshots

[code]

[2020-06-03 08:28] rohan20 commented on #73
For others: Check if you did not miss adding the `WRITE_EXTERNAL_STORAGE` permission in the Manifest.

[2020-06-08 06:30] pedrovgs commented on #118
Hi @MohamedMedhat1998 after cloning the repository you mentioned and executed all the tests using the command ``./gradlew executeScreenshotTests -Precord`` I've got the tests running. Keep in mind the version update changes the folder where the screnshots are saved and you'd need to record the tests again.

Looking at the trace you pasted seems that there is something we are missing. Could you che

[2020-06-08 06:30] #118 closed

[2020-06-08 07:03] pedrovgs commented on #120
Hi @SisterMorphine looks like there is something wrong with your emulator or with your code. Did you create the emulator with an SD card? Is your project configured with the expected permissions in the test ``AndoridManifest.xml``.  Please, review the project ``README.md`` and ensure you followed every step.

[2020-06-08 08:36] #4 closed

[2020-06-08 08:36] #11 closed

[2020-06-08 08:36] #26 closed

[2020-06-08 08:37] pedrovgs commented on #32
This was fixed long ago showing an empty image but I forgot to close the issue.

[2020-06-08 08:37] #32 closed

[2020-06-08 08:38] #53 closed

[2020-06-08 08:39] pedrovgs commented on #78
I've been reviewing @VysotskiVadim and right now there is no way we can get it working without Facebook's fix 😢  I'm afraid I'm closing this issue as there is nothing we can do to fix it. Thank you all for your comments and suggestions.

[2020-06-08 08:40] pedrovgs commented on #90
Closing the issue until we have the repository reproducing the error.

[2020-06-08 08:40] #90 closed

[2020-06-08 14:10] #108 closed

[2020-06-10 11:05] SisterMorphine commented on #120
Hi!

AndroidManifest has the permission android.permission.WRITE_EXTERNAL_STORAGE

These are the commands to create the emulator:

1/ Download Android 29 image:
$ANDROID_HOME/tools/bin/sdkmanager --install 'system-images;android-29;google_apis_playstore;x86'
2/ Create Pixel XL emulator:
$ANDROID_HOME/tools/bin/avdmanager create avd -n android_emulator -k 'system-images;android-29;google_apis_plays

[2020-06-10 11:13] pedrovgs commented on #120
@SisterMorphine looks like you are not configuring the sdcard needed in your emulator. Look at the example script we provide to create the emulator: https://github.com/Karumi/Shot/blob/master/shot-consumer/scripts/create_emulator.sh#L18

Could you configure the SD card and try the execution again?

[2020-06-11 16:58] harneeksingh27 commented on #120
I have the same problem but only on API 29 only, on rest of the emulators it works fine.
I am creating emulators through and manager of A.S
Could API level be the problem?

[2020-06-12 07:23] pedrovgs commented on #120
@harneeksingh27 can you check if you configured the SD card?

[2020-06-12 07:56] harneeksingh27 commented on #120
Yes SD card is configured for sure, as I Created manually I have added sd card to the emulator

[2020-06-12 08:51] pedrovgs commented on #120
@SisterMorphine could you confirm if the issue is related to the sd card?

@harneeksingh27 could you please try with another android API emulator. With API 28 just to check if the issue is related to Android 29 or not.

[2020-06-12 09:25] harneeksingh27 commented on #120
@pedrovgs I checked on emulator  with API 28 and 26 it worked like a charm.
I created emulator with API 29 and even Android R and I got this error
⬇️  Pulling screenshots from your connected devices!

So I was stuck on this issue since 3 -4 weeks and I had no clue what is going on(I was using api 29). I read all of the issues logged in this repo one by one.
Accidentally I had api 28 emulator open

[2020-06-12 10:09] pedrovgs commented on #120
Nope, I had no time to test shot in API 29.

[2020-06-12 15:19] SisterMorphine commented on #120
@pedrovgs It seems that the error it's related with the SD, indeed. Following your script example I could create the device with SD and then I avoided the error.

However it seems I am not able get rid of the problem when I try to use an emulator with specific model, it seems like the card is not successfully attached when I use an emulator with defined model like this:
$ANDROID_HOME/tools/bin/avd

[2020-06-12 15:24] pedrovgs commented on #120
@SisterMorphine looks like you can't get rid of the problem because you are not using the sd card when creating the emulator. The param ``--sdcard <PATH_TO_YOUR_SD_CARD>`` is not in the command you pasted, is it?

[2020-06-12 15:31] SisterMorphine commented on #120
@pedrovgs Copy paste error I guess, but this is how I created it:
$ANDROID_HOME/tools/bin/avdmanager create avd -n android_emulator -k 'system-images;android-29;google_apis_playstore;x86' -d "pixel_xl" --force  --sdcard sdcard.img

Also I tried this way:
$ANDROID_HOME/tools/bin/avdmanager create avd -n android_emulator -k 'system-images;android-29;google_apis_playstore;x86' -d "pixel_xl" -c 1000M

[2020-06-12 15:35] harneeksingh27 commented on #120
Coincidently I am also trying api 29 on PIXEL_3a

[2020-06-12 15:40] pedrovgs commented on #120
@SisterMorphine can you try with an android-28 device?

[2020-06-12 16:39] justin-segler opened #122 "Add in configurability of clearing app data state between tests"
### Expected behaviour

(Note: After some investigation and trial/error, I have not found that this has yet been implemented. However, if it already is a feature of Shot, I would love to be informed on this. In this cast, please just close this issue.)

One very helpful feature of Shot would be the ability for `ShotTestRunner` to take in a `clearPackageData` argument in `build.gradle` which clears

[2020-06-15 06:07] pedrovgs commented on #122
Hey @justin-segler thanks for opening the issue. I've been thinking about it and I think this is out of the library scope right now. However, you can implement it by yourself creating class extending from ``ShotTestRunner``.

[2020-06-15 06:07] #122 closed

[2020-06-15 08:32] SisterMorphine commented on #120
@pedrovgs I got the same error with android-28:

rm -rf sdcard.img
$ANDROID_HOME/emulator/mksdcard -l e 1G sdcard.img
$ANDROID_HOME/tools/bin/sdkmanager --install 'system-images;android-28;google_apis_playstore;x86'
$ANDROID_HOME/tools/bin/avdmanager create avd -n android_emulator -k "system-images;android-26;google_apis;x86" -d "pixel_xl" --force  --sdcard sdcard.img

<img width="1004" alt="Scree

[2020-06-15 08:44] pedrovgs commented on #120
@SisterMorphine we need to continue checking your project configuration. Could you create a repository with the same configuration you have in the project you are trying to use Shot reproducing the error?

[2020-06-16 10:38] Alizoo commented on #73
@yasitha999
Could you advise where the
`shot {
    appId = "...."
....
}`
code is added. I have tried in the app/build.gradle but it is reported as an unknown property.

[2020-06-16 12:41] yasitha999 commented on #73
@Alizoo yes it should be in `app/build.gradle`, Do you have `classpath "com.karumi:shot:${versions.shot}"` in top level `build.gradle` & `apply plugin: 'shot'` in  `app/build.gradle`?

[2020-06-16 14:00] Alizoo commented on #73
Yes, those are both already present. I can create the shot group (recognised as ShotExtension) but appId is not recognised as a valid value. I'm on version 4.3.0.

[2020-06-18 12:58] rallat commented on #113
Thanks!

[2020-06-18 13:13] pedrovgs commented on #113
Hey @rallat @runningcode did you check if the fix is working for you?

[2020-06-22 08:44] SisterMorphine commented on #120
Hi, I tested in this repository
https://github.com/PabloMGrela/kotlin_clean_mvp
with the following sequence of commands, having the same error result:
1. Create emulator
$ANDROID_HOME/tools/bin/avdmanager create avd -n android_emulator -k 'system-images;android-29;google_apis_playstore;x86' -d "pixel_xl" -c 1000M --force
2. Start emulator
nohup $ANDROID_HOME/emulator/emulator -avd android_emulator

[2020-06-22 11:44] pedrovgs commented on #120
@SisterMorphine I've cloned the mentioned repository and execute the tests in the emulator you created and everything worked. What OS are you using? Is there anybody in your team who can reproduce the error?

[2020-06-23 08:48] SisterMorphine commented on #120
@pedrovgs It seems that is only happening to me. I was using Mojave and recently changed to Catalina, and nothing changed.

Thank you very much for your help

[2020-06-23 08:54] pedrovgs commented on #120
@SisterMorphine could you please using your laptop debug what's going on and check why the plugin is not working in your laptop? You can find the development documentation in the project readme.

[2020-06-23 16:27] harneeksingh27 commented on #120
I still have the issue on Api 29, I am clueless regarding what is going wrong 🦺

[2020-06-25 06:47] LalitSharma-Systango opened #123 "RuntimeException exception while executing a screenshot test"
## Description
Test cases are failing with following error:
Can't create handler inside thread that has not called Looper.prepare()

## Error Log

[code]

What I have noticed is that, the test cases are failing only for the screens where we have a edittext input type with soft keyboard open on the screen.

The version that I am using is the updated one i.e. 4.3.0.

## Following is a code snippet t

[2020-06-29 12:16] mrajput-systango commented on #123
I am also facing the same issue. Can anyone help here, please?

[2020-07-02 10:38] vassilisimon opened #124 "Bump com.android.tools.build:gradle"
Hello,

could you please bump 'com.android.tools.build:gradle:3.3.2' to 4.0.0?

Thank you.

[2020-07-02 10:44] pedrovgs commented on #124
@vassilisimon can you send a PR with the bump? Thanks!

[2020-07-03 02:33] malvinstn opened #126 "Report does not contain custom name when custom name is defined through `name` parameter of `captureScreenshot`"
### Expected behaviour

The generated report should use the custom name defined using `name` parameter as the test name.

### Actual behaviour

The generated report uses the actual test method name as the test name. Even though the screenshots are named correctly.
![Screen Shot 2020-07-03 at 11 26 18 AM](https://user-images.githubusercontent.com/2493177/86425537-6a679d80-bd20-11ea-95ff-06b7f4f3253

[2020-07-06 05:21] malvinstn commented on #126
Seems like the generated `metadata.xml` does not have the correct `test-name` element. This can probably be fixed easily by calling `setTestName` of the screenshot here: https://github.com/Karumi/Shot/blob/master/shot-android/src/main/java/com/karumi/shot/ScreenshotTest.kt#L131
Let me know if you want me to create a PR for this

[2020-07-07 07:06] pedrovgs commented on #123
Hi @LalitSharma-Systango and @mrajput-systango your issue seems to be related to a bug I already fixed in the original Facebook library. It's already fixed by they didn't release the new version. We will have to wait until they publish the next release in order to update our library.

[2020-07-07 07:17] pedrovgs commented on #126
Hi @malvinstn thank you so much for the detailed issue. It could be great if you want to contribute 😃 I'll personally review your changes and release a new version with the fix 😃

[2020-07-15 02:39] MyDogTom opened #128 "Apply configuration avoidance recommendations for tasks"
### Expected behaviour
All tasks should be created lazily to avoid extra overhead during configuration phase.

### Actual behaviour
Tasks are created eagerly using `getTasks.create` method.

### Steps to reproduce
run `gradle help --scan` on any project that uses Shot. Check "performance -> configuration". You will see that tasks like "executeScreenshotTests" are created, while they should be crea

[2020-07-15 05:45] malvinstn commented on #126
I tried to dig at the implementation deeper, and it seems like Facebook lib that shot is using does not expose the `setTestName` method on the `RecordBuilder` interface. I'll try to bring this issue to Facebook's lib instead.

[2020-07-22 10:02] hkosacki commented on #73
I have the same case as @Alizoo. Any hints on this?

[2020-07-23 15:03] hkosacki commented on #120
I can confirm that the issue is also reproducible on my end using Android Q and R. For P it seems to be working fine (all are emulators).

[2020-07-28 05:48] gioPucela commented on #120
We are using shot 3.1.0 and com.trevjonez.composer:plugin:1.0.0-rc05
shot {
    appId = 'our_app_id'
    instrumentationTestTask = "testDebugComposer"
}

and getting the same error
However, if we comment out the instrumentationTestTask, it just works fine

[2020-07-30 07:13] tobiasKaminsky opened #130 "Fetch screenshots from only one emulator with multiple emulators running"
- have two emulators run:
» adb devices
List of devices attached
emulator-5554   device
emulator-5556   device

- use ANDROID_SERIAL to specify one emulator
ANDROID_SERIAL=emulator-5556 ./gradlew gplayDebugExecuteScreenshotTests

- see that tests run only on specific emulator :+1:
-  but downloading fails with:

⬇️  Pulling screenshots from your connected devices!

[2020-08-26 10:42] pedrovgs commented on #128
You are absolutely right! Thanks for the report and the pull request. I'm going to review it today!

[2020-08-26 11:01] #128 closed

[2020-08-26 11:05] pedrovgs commented on #126
Sorry for the late response @malvinstn I broke one arm and I've been out for some time. As you mentioned, there is nothing we can do until https://github.com/facebook/screenshot-tests-for-android/issues/255 is fixed. I'm closing the issue in the meantime.

[2020-08-26 11:05] #126 closed

[2020-08-26 11:10] pedrovgs commented on #120
Hey @hkosacki as you can reproduce this error, could you create a sample project reproducing this error. You can use github actions to configure the emulators you mention. Once the sample repository is ready I'll personally review what's going on and fix the issue.

[2020-08-26 11:16] pedrovgs commented on #130
Hi @tobiasKaminsky thanks for reporting the issue. The emulator does not take into account the ANDROID_SERIAL parameter you mentioned and is trying to download the screenshots from all the connected devices. You can see [here](https://github.com/Karumi/Shot/blob/master/core/src/main/scala/com/karumi/shot/Shot.scala#L142) how the parameter you mentioned is ignored. As a workaround, I'd recommend ki

[2020-08-26 11:18] pedrovgs commented on #130
There is another workaround I didn't mention. You can configure Shot to run tests in all the configured devices using composer. This will use sharding and will speed up your tests' execution. You can find more information [in the repository documentation](https://github.com/Karumi/Shot#executing-tests-in-multiple-devices)

[2020-08-26 11:39] pedrovgs opened #131 "Update Facebook library version and disable broken feature"
There is a feature that is breaking the execution of the tests for those screenshots with dialogs as the main view. I personally solved this issue but I've not been able to update Shot until the Facebook team released version 0.13.0. Now the new version is ready we should update the dependency and also disable the breaking feature we do not actually need.

[2020-08-26 12:53] #131 closed

[2020-08-26 15:13] pedrovgs commented on #130
I have a WIP branch with some code I had no time to manually test. I had only time for the automated tests ``respect-android-serial-env-var`` I'll continue working on this whenever I have time. Meanwhile, if someone would like to finish the branch I'll be happy to help 😃

[2020-08-26 19:57] felipecastilhos commented on #120
Hi @pedrovgs, I'm facing the same issue here.

https://github.com/felipecastilhos/ShotThis

this is a simple project trying to test a default android project with a single activity. I have the same error in every emulator I run the tests.

I created 2 emulators using the AVD Manager GUI in Android Studio. I setup a emulator with API 28, after reading this thread i tryed on a API 26 emulator and go

[2020-08-27 07:47] MrXlebNick opened #133 "Taking screenshot from fragmentScenario fails due to main application thread"
### Expected behaviour
A screenshot is taken

### Actual behaviour
[code]

### Steps to reproduce
- Configure the library according to Readme instructions
- Initiate the fragment in tests via `launchFragmentInContainer`
- `fragmentScenario.moveToState`
- `fragmentScenario.onFragment { compareScreenshot(it) }`
- Run test with executeScreenshotTests -Precord

### Reproducible project
https://github.

[2020-08-27 09:53] MrXlebNick commented on #133
Solved by
[code]

[2020-08-27 09:53] #133 closed

[2020-08-27 13:17] MrXlebNick commented on #120
Hi @pedrovgs, I'm having the same issue and I went ahead and created a GitHub Actions with this issue reproduced: https://github.com/MrXlebNick/shot-fragmentscenario/runs/1036649443

[2020-08-27 18:27] sanginovs opened #134 "Running tests from Android Studio does not generate full png image."
Hi,
First of all, thanks for this great library.

Here's my problem.
Instead of running gradle task command on a terminal, I run my Shot tests by clicking on run icon from Android Studio:
<img width="514" alt="Screen Shot 2020-08-27 at 11 10 03 AM" src="https://user-images.githubusercontent.com/16856287/91479138-ddd7e800-e855-11ea-888a-d1d5987d7922.png">
Under the hood, it simply runs adb command

[2020-08-27 19:04] sanginovs commented on #75
@hernandazevedozup do you mind sharing how were you able to run gradle command (`./gradlew executeScreenShotTests -Precord` in Firebase test lab emulator?

[2020-08-28 11:22] AlexKrupa commented on #110
Any update on this?

I think a sealed class approach would be alright, e.g.
[code]

The public API could default to current value (i.e. match parent) but it'd probably be necessary to deprecate current `compareScreenshot()` functions.

[2020-08-30 11:44] MrXlebNick commented on #120
Eventually I was able to make it succeed once in the test repo: https://github.com/MrXlebNick/shot-fragmentscenario/runs/1047402932?check_suite_focus=true.

Some breadcrumbs and thoughts about making it work:

- I wasn't able to run it without DexOpener no matter what I did
- The first successful run was after removing `androidTest/AndroidManifest.xml`
- ConstraintLayout was behaving weirdly showi

[2020-09-04 06:32] pedrovgs commented on #134
Hi @sanginovs! I'm afraid the project has a limitation related to the Gradle plugin execution. As the screenshots have to be downloaded and compared from the Gradle plugin code, we need the Gradle plugin to be able to know if the screenshots are correct or not. That's why you can run the tests from Android Studio with the default configuration, but this will not check if the screenshots are correc

[2020-09-04 06:32] #134 closed

[2020-09-04 06:35] pedrovgs commented on #110
@AlexKrupa the only update I can mention is I had no time to develop this feature right now. I'm working on other issues and we need to develop this without a huge breaking change. As a workaround, I mentioned in a previous comment you can still use the internal library Shot uses under the hood to take the screenshot.

I marked this issue as ``help wanted`` just in case any other contributor would

[2020-09-04 08:18] pedrovgs commented on #120
Ok, I have a nice update. I've checked the example provided by @felipecastilhos and I can ensure the project is working for emulators API <=28. There is an issue when the API is >=29 and I'm going to rename this issue to ensure there are no misleading about it. I've sent a PR https://github.com/felipecastilhos/ShotThis/pull/1 fixing @felipecastilhos's repository and here you have a gif showing how

[2020-09-04 12:50] pedrovgs opened #135 "Provide ActivityScenario support"
Time ago, Espresso core deprecated ActivityTestRule in favor or the ActivityScenario feature which is way more flexible. We should provide proper support for this new API ensuring at least one of our composers use this API. Documentation should also be updated.

[2020-09-04 13:45] pedrovgs opened #136 "Provide Jetpack Compose support"
After the official Jetpack Compose alpha release a good friend showed us part of the compose testing API we could use to implement screenshot testing on top of Shot. There are a few pull requests we will have to send in order to provide proper support, but it is nothing impossible 💪

We will start with the public ``ScreenshotTest`` API, accepting a ``SemanticsNodeInteraction``, then we will modify

[2020-09-08 05:02] anhduy5689h commented on #130
I have the same issue with ANDROID_SERIAL, and I'm also researching it.
About the Composer, it's too complicated, could you make a simple project (example) with some descriptions of how to config it? Thanks!

[2020-09-08 06:53] anhduy5689h commented on #120
API 30 has new permission: MANAGE_EXTERNAL_STORAGE. So, we must open the Settings application to grant this permission by hand.

[2020-09-08 07:09] anhduy5689h opened #137 "Have any solution no need to uninstall the application after executing the report of 1 @Test done?"
### Expected behaviour
Don't want to uninstall the application when a @Test finish.

### Actual behaviour
The application is uninstalled when a @Test finish.

### Steps to reproduce
Execute report for a class with 2 @Test.

### Version of the library
4.4.0

[2020-09-11 15:36] sanginovs commented on #134
Thanks a lot @pedrovgs.

[2020-09-15 14:24] julioz commented on #69
We are also running into this problem when following this project's README and setting
[code]

Creating a `screenshots` directory in the following structure still didn't help:
[code]

Getting the following error when running `executeScreenshotTests -Precord`:

[code]

[code]

@pedrovgs Can you please advise?

[2020-09-18 11:37] drewhamilton commented on #135
Right now running in `scenario.onActivity` causes a crash:
"java.lang.RuntimeException: java.lang.RuntimeException: This method can not be called from the main application thread"

This makes some sense, because the `onActivity` callback runs on the main thread. Through the stacktrace it's clear where it goes wrong: The default impl of `runOnUi` calls `Intrumentation.runOnMainSync`, which fails if

[2020-09-18 12:10] drewhamilton opened #139 "IDE not picking up shot-android sources"
### Expected behaviour
Clicking into ScreenshotTest function calls opens ScreenshotTest.kt

### Actual behaviour
Clicking into ScreenshotTest function calls opens ScreenshotTest.class, which must be decompiled into Java to see any useful code

### Steps to reproduce
Apply Shot to a project

### Version of the library
4.4.0

I see that the sources JARs are on Maven Central, so I assume they're supp

[2020-09-22 08:45] vnhanh opened #140 "Can not pull record screenshots from the phone to the project on Windows 10"
### Expected behaviour
Run command to record screenshots and get recorded screenshots in images/recorded folder and screenshots folder in the project on Windows 10

### Actual behaviour
I didn't see recorded screenshots in my project although terminal of Android Studio notify pulling screenshots successfully

### Steps to reproduce
1. Run the command on Windows 10: gradlew mockWebServerMobileNativ

[2020-09-24 04:04] stephen1706 opened #141 "Espresso and test runner library conflicting"
### Expected behaviour
Gradle expected to sync normally

### Actual behaviour
Gradle sync fail due to conflicting androidx.test:runner and espresso-core library, my project is using espresso-core 3.1.0, while this library is using 3.2.0. I try to exclude it using this but also no effect:
[code]
Log:
[code]

### Steps to reproduce
Sync gradle project and run screenshot test

### Version of the libr

[2020-09-25 07:56] diarmaidlindsay commented on #120
Our Shot tests no longer work since we began targeting API 30, and I've been trying to work around this for the past few days without success.

I was thinking perhaps it would be possible to
`adb shell pm grant <test-package> android.permission.MANAGE_EXTERNAL_STORAGE`
during the test execution, similar to what was done here [HERE](https://gist.github.com/RussellCollins/87e447183103fe6ca8b1)

[2020-09-25 09:29] stephen1706 opened #142 "Generate a report at specified directory"
### Expected behaviour
Able to generate the report at a certain directly

### Actual behaviour
Currently the test always generated at `./build/reports/shot/record/index.html`

### Steps to reproduce
Run  `./gradlew debugExecuteScreenshotTests -Precord`

### Version of the library
4.4.0

Hi, is there any way to generate the report outside the default build folder?
Thank you

[2020-10-01 06:06] pedrovgs commented on #130
I'm about to send a PR with the ANDOIRD_SERIAL fix. About Composer, you have a sample project configured and their documentation.

[2020-10-01 06:07] pedrovgs commented on #137
We can not handle when the app is uninstalled. There is nothing we can do to change the way the instrumentation tests work.

[2020-10-01 06:07] #137 closed

[2020-10-01 06:11] pedrovgs commented on #69
@julioz if you disable ``runInstrumentation`` you'll have to run instrumentation tests manually before executing Shot. This error is something we have to improve to specify there were no screenshots to pull.

[2020-10-01 06:13] pedrovgs commented on #139
You are absolutely right. There is something wrong with the artifacts deploy configuration which is not uploading the project sources. I'm going to start working on a different feature now so I won't have time to fix this soon. However, if any other contributor would like to participate I'll personally review the fix.

[2020-10-01 06:16] pedrovgs commented on #135
This is really helpful @drewhamilton !! Thank you so much 😃  This issue is on my tasks' list and I'll try to fix it soon. However, I have to finish some tasks before 😃

[2020-10-01 06:18] pedrovgs commented on #140
It has to be something with the paths in windows. We had no time to provide full support for Shot in windows because nobody in our team uses this OS and it was not a priority for us. If any contributor in Shot using windows could review this one ,that'd be really helpful.

[2020-10-01 06:19] pedrovgs commented on #141
Hey @stephen1706 you are right! I had no time to update the inner dependencies. I'll do it as soon as I find a second to work on it. Anyway, if any external contributor would like to update the project dependencies, that'd be awesome.

[2020-10-01 06:21] pedrovgs commented on #120
🤔  Did someone try adding MANAGE_EXTERNAL_STORAGE to the testing manifest?

[2020-10-01 06:22] pedrovgs commented on #142
Nope, it is not.

[2020-10-01 07:47] pedrovgs commented on #135
I've just found an ugly but working workaround:

[code]

So you can write tests like this:

[code]

[2020-10-01 08:20] drewhamilton commented on #135
True! This is what we're doing in the meantime. But the ActivityScenario documentation [explicitly says not to do this](https://developer.android.com/reference/androidx/test/core/app/ActivityScenario#onactivity) so we'd better add real support before the ActivityScenario police find this thread.

Incidentally, you don't need the `while` loop because `onActivity` blocks while waiting for the UI thr

[2020-10-01 08:26] pedrovgs commented on #135
Thanks for the tip @drewhamilton However, keep in mind I'm the only core contributor working on this project and I have no time to develop all the features the users would expect to be implemented in this library during office hours. I'm afraid right now I'm working on Jetpack Compose support and I have no time to provide ActivityScenario support until I finish this task. Feel free to contribute i

[2020-10-01 09:03] drewhamilton commented on #135
Yep totally get it. I'll try a contribution soon, just worried I'll get stuck since I don't know the code base. The workaround suffices in the meantime.

[2020-10-01 09:24] #130 closed

[2020-10-05 06:29] #139 closed

[2020-10-05 13:32] pedrovgs commented on #136
Implemented and released in Shot 5.0.1!

[2020-10-05 13:32] #136 closed

[2020-10-06 10:29] pedrovgs commented on #135
@drewhamilton as I finished Jetpack Compose support on time I had time today to implement this feature. I've done my best :( https://github.com/Karumi/Shot/pull/156

[2020-10-06 10:58] #135 closed

[2020-10-06 11:52] drewhamilton commented on #135
Just my 2¢: I would recommend against releasing `ActivityScenarioUtils.waitForActivity` as part of your public API. It seems way outside of Shot's responsibilities to get an Activity instance from an ActivityScenario instance—this has nothing to do with screenshots. And it's already possible for ActivityScenario consumers to do this. Plus, as discussed above, it's a workaround against ActivityScen

[2020-10-06 12:51] pedrovgs commented on #135
I'm afraid we need to add this extension method to the library @drewhamilton . There is no way we can get the library working without the workaround. Even if you configure the screenshot name and I've fixed the threading issues, deep down inside the library the test class name and the test name are used to build the screenshot's metadata. Thank you so much for your feedback and help anyway.

[2020-10-06 13:20] drewhamilton commented on #135
Hmm, is that [these lines](https://github.com/facebook/screenshot-tests-for-android/blob/master/core/src/main/java/com/facebook/testing/screenshot/internal/ScreenshotImpl.java#L150-L151) in Facebook's library? Or is there more to it?

If so I'd like to file an issue and/or PR to that repo to make TestNameDetector pluggable in some way. And then Shot could document that ActivityScenario consumers m

[2020-10-06 13:25] pedrovgs commented on #135
These lines and also the new jetpack compose support. Your solution is ideal. Making TestNameDetector pluggable, but we should keep the public API as simple as possible in the future. I'm going to leave this issue open as you mentioned to see if we can improve this scenario 😃

[2020-10-08 08:34] pedrovgs opened #158 "Improve usage from Android Studio documentation"
Improve documentation about how to run Shot tests from Android Studio. We can use [Robolectric's docs](https://dagger.dev/hilt/gradle-setup.html#running-with-android-studio) as a reference.

[2020-10-13 08:47] tusharkathuria opened #159 "Unkown test name and test class when screenshot is taken from espresso view action"
### Expected behaviour
There should be a way to give custom test name and test class for report if it can't be detected by library

### Actual behaviour
In the html report generated test name test class are unknown:
<img width="232" alt="Screenshot 2020-10-13 at 2 14 28 PM" src="https://user-images.githubusercontent.com/10515849/95837629-6c4cee00-0d5e-11eb-8e40-f94532bee9bf.png">

### Steps to rep

[2020-10-14 12:55] drewhamilton opened #161 "ShotTestRunner crashes in `finish` on Android 29+"
Unlike [previous issues](https://github.com/Karumi/Shot/issues/120) on API 29+, which affect only the `executeScreenshotTests` task, this affects instrumented tests in general when ShotTestRunner is used.

### Expected behaviour
Instrumented test suites pass on Android 29+ when run with ShotTestRunner.

### Actual behaviour
After all the tests pass, the test process crashes. The stack trace points

[2020-10-15 06:13] pedrovgs commented on #161
Hi @drewhamilton thanks for reporting. You are right, there is a bug. Could you please send a PR with the fix. I'm a little bit busy right now :(

[2020-10-15 07:23] dabele91 opened #162 "Download fails for custom buildType with applicationIdSuffix but without product flavour"
### Expected behaviour
The download task uses the correct folder

### Actual behaviour
The download task tries to download the screenshots from a wrong folder.
The screenshots are e.g. in the `/sdcard/screenshots/com.example.app.dummy/` folder, but the download task tries to download from the `/sdcard/screenshots/com.example.app.dummy.dummy/` folder

### Steps to reproduce
1. Create Project with a

[2020-10-15 08:19] drewhamilton commented on #161
I can try. I need to understand what's happening better in order to figure out what to do.

ShotTestRunner wants to save a metadata file to the device whenever it finishes. This metadata file contains information about each time `compareScreenshot` was called during the test suite. This is so the `executeScreenshotTests` task can read the same metadata later on, during `verifyScreenshots`.

The no

[2020-10-15 09:15] pedrovgs commented on #161
The metadata file is needed to know how many tests were executed. The fix should be as simple as avoid writing the file if the metadata is empty. Checking [here](https://github.com/Karumi/Shot/blob/master/shot-android/src/main/java/com/karumi/shot/compose/ComposeScreenshot.kt#L20) if session is empty should be enough.

[2020-10-15 15:05] drewhamilton commented on #161
If I'm reading it right, that will fix this issue for non-Compose users, but Compose users will still be unable to run `connectedCheck` on Android 29+. Because the Compose-friendly `compareScreenshot` will add to the metadata even if only `connectedCheck` is run, right?

If that's correct, another option could be to `if` check the OS version before the file write. That way `connectedCheck` would p

[2020-10-15 18:04] pedrovgs commented on #161
You are right @drewhamilton. Right now we can't execute compareScreenshot on Android 29+. I think we should apply both strategies. Do not write metadata if it is empty and also do not write it if it is not empty but the OS si 29+. That should get Shot working for both scenarios.

[2020-10-15 20:49] tdrhq opened #163 "[not-a-bug] screenshotbot.io"
Hi @pedrovgs  and gang,

I was the original author of screenshot-tests-for-android, though I don't work at Facebook anymore.

I recently built https://screenshotbot.io, it's a service that runs screenshot tests the way we ran it at Facebook (which I also built, and eventually scaled across all of our Android and iOS projects): run it on master every now and then, upload to the "cloud", if things c

[2020-10-16 06:30] pedrovgs commented on #163
Hi @tdrhq we use GitHub issues for error tracking and not for regular communication between our contributors. Please if you'd like to contact us send us an email. I'm afraid I have to close this issue.

[2020-10-16 06:30] #163 closed

[2020-10-16 15:05] pedrovgs commented on #161
Fixed by @drewhamilton ! Thanks 😃

[2020-10-16 15:05] #161 closed

[2020-10-23 02:51] stephen1706 opened #166 "Issue on first test run because of UiAutomation"
### Expected behaviour
Running test will run smoothly

### Actual behaviour
The first test case will always fail because of Error while connecting UiAutomation. Other test will run fine, but since the first test will always error, no report will be generated.
Error log:
[code]

### Steps to reproduce
Run ` ./gradlew executeScreenshotTests -d` at emulator API 27 at bitrise. The issue is not reprodu

[2020-10-29 05:59] tusharkathuria commented on #159
Hi, Any update on this?
Let me know if more details are needed from my side

[2020-10-30 11:19] Cotel commented on #162
Is there any version to which we can downgrade and make it work?

[2020-10-30 11:54] Cotel commented on #159
I'm having the same behavior without any espresso usage. In fact, only one screenshot is recorded as they override with the same file name.

I'm mounting a fragment on a ActivityScenario and running `compareScreenshot(fragment)` inside a lambda executed once the activity and fragment are ready and visible.

[2020-11-02 12:55] dabele91 commented on #162
I don't think so.
It's the only reason why we aren't able to upgrade to the newest android gradle plugin, so we still use an old android gradle plugin version.

[2020-11-03 05:37] tusharkathuria commented on #159
Yeah. Looks like library tries to infer test class and name based on call stack. In the cases where compare screenshot is invoked from separate thread, it can't infer it which is expected. I am only looking for a way to give custom test class and test name in this case. @pedrovgs , Can you help here?

[2020-11-03 23:51] Laimiux opened #167 "Allow storing bitmaps from any source."
### What
Currently, to support `Compose`, Shot provides a custom runner that captures allows to take those screenshots and the plugin picks them up. It would be useful to have a more generic approach such as
[code]
One of the use-cases is to allow capturing screenshots using https://github.com/jraska/Falcon instead of the Facebook library. The improvement here is that it captures all windows allow

[2020-11-04 00:45] Laimiux commented on #167
Looking at this more, it looks like there are types of format for test results: compose json and facebook XML based formats. Maybe there should be one format that Shot works with and those two are mapped to that format?

[2020-11-06 09:28] mbarrben commented on #120
We're not currently using Shot, but this maybe helps. We have a custom solution with `UiAutomation.takeScreenshot()` plus [Composer](https://github.com/gojuno/composer) to pull the screenshots from the emulator and generate the report. Once we targeted API 30, we needed to add the `MANAGE_EXTERNAL_STORAGE` permission to the testing manifest to be able to store the screenshots in the public externa

[2020-11-09 07:20] pedrovgs commented on #166
Hi @stephen1706 I'm afraid this issue seems not to be related to Shot at all. We are not using UI automation API so there is nothing we can do to fix it. I'm afraid I'm closing this issue.

[2020-11-09 07:20] #166 closed

[2020-11-09 07:24] pedrovgs commented on #159
Hi @tusharkathuria @Cotel sorry for the late response. As @tusharkathuria mentioned, Shot infers the test name and class name based on the stack. That's why Shot can't be used from the target application thread. I'm afraid even if you can configure the name from the public API it will not work due to a bug in a library we use under the hood. I'm closing this issue because we will not be able to fi

[2020-11-09 07:24] #159 closed

[2020-11-09 07:27] pedrovgs commented on #120
I don't think that's going to work out of the box @mbarrben. You'd need to add the permission and grant it from your tests. I'd also need to review if this works when it is configured. However, if any of you would like to try it out, that'd be great!

[2020-11-09 07:44] pedrovgs commented on #162
@dabele91 @Cotel  I'm afraid this is an issue related to the Android Gradle plugin which is constantly changing :( There is even a warning if you use one of the latest versions. I fixed the same bug for the flavor configuration, not for the build type. Let's see if I can find some time to fix this issue. Thanks for reporting.

[2020-11-09 08:00] Cotel commented on #162
I can try to solve this if you guide me a little bit @pedrovgs

[2020-11-09 08:05] pedrovgs commented on #162
I'm going to be working on Shot today. If I can't fix it by the end of the day I'll write an update here and I'll let you know how you can fix it. I really appreciate your help @Cotel 😃

[2020-11-09 09:16] pedrovgs commented on #167
You are absolutely right @Laimiux! It could be nice. I'm providing support right. now 😃

[2020-11-09 10:54] pedrovgs commented on #162
It's done @Cotel it should be released soon.

[2020-11-09 11:36] Cotel commented on #162
Amazing, thank you 😍

[2020-11-09 18:15] Laimiux commented on #167
Looks great, thanks for doing it 💯

[2020-11-10 06:54] #167 closed

[2020-11-10 06:55] #162 closed

[2020-11-10 13:36] tusharkathuria commented on #159
Thanks for responding @pedrovgs . Do you mind sharing link to library that we use under the hood. I can check if the issue is reported there and know about its status

[2020-11-13 12:42] mkonkelSpeednet opened #171 "Jetpack Compose error - "java.lang.NoSuchMethodError: No static method compareScreenshot""
Tried to run the demo app `https://github.com/Karumi/Shot/tree/master/shot-consumer-compose` with most recent version of **Jetpack Compose** (1.0.0-alpha07). The application fails with error:

[code]

### Expected behaviour
Lib works without any problems.

### Actual behaviour
Lib fails after `./gradlew executeScreenshotTests` with `java.lang.NoSuchMethodError: No static method compareScreenshot`

[2020-11-13 14:09] tuliopereirazup opened #172 "Cannot pull screenshots from phone"
### Expected behaviour
Run `./gradlew executeScreenshotTests -Precord` and fetch screenshots from phone.

### Actual behaviour
I'm trying to create the snapshots but Shot cannot pull screenshots from phone.

Here is the log from Gradle:
[code]

### Steps to reproduce
Just create new project, follow the steps on README.md and run the command `./gradlew executeScreenshotTests -Precord` and the error

[2020-11-13 20:23] tuliopereirazup commented on #172
I'm not sure why but if I put this dependency it works fine: `implementation 'com.facebook.testing.screenshot:core:0.13.0'`.

[2020-11-15 08:13] ditn commented on #172
I'm also seeing this even on extremely simple sample projects. I expect it's something to do with targeting API 30.

[2020-11-16 07:35] michal-konkel commented on #172
Same here.

[2020-11-16 07:50] hamorillo commented on #172
I think it's a problem with the API that you are targeting or the device API. There are some issues with the new Storage System on API 29 and API 30. You could find more detailed info in PR #168.

Take a look at [Shot on API 29](https://github.com/Karumi/Shot#using-shot-on-api-29). If you are using compose you should wait to the next release, but if your aren't using compose in your app you could

[2020-11-16 08:03] tobiasKaminsky opened #174 "Show timestamp on record/verification page"
We store CI results of Shot on our server.
Therefore it would be great to see direct on the generated page a timestamp when the test result was recorded.

[2020-11-16 10:31] pedrovgs commented on #172
@tuliopereirazup can you confirm if it works on an emulator with API 28?

[2020-11-16 10:31] pedrovgs commented on #171
I'm working on it!

[2020-11-16 10:33] pedrovgs commented on #159
Sure! https://github.com/facebook/screenshot-tests-for-android

[2020-11-16 11:48] ditn commented on #172
I saw the related PR, and I spent approximately 4 hours attempting to get Shot running on all sorts of combinations of target API, emulator API and shot version. Couldn't get it to work at any point.

[2020-11-16 11:58] pedrovgs commented on #172
@ditn if you upload a project reproducing the issue I'll personally take a look at what's going on.

[2020-11-16 13:01] tuliopereirazup commented on #172
I'm tried a bunch of things, like executing the project on old emulators (API, 23, 26, 27, 28) and change compileSdk and targetSdk to older ones too.

[2020-11-16 13:11] tuliopereirazup commented on #172
@pedrovgs, here is the project to reproduce the bug.

https://github.com/tuliopereirazup/shot-sample-issue

[2020-11-16 14:20] pedrovgs commented on #172
@tuliopereirazup I've found the issue. You have to configure the ``android:sharedUserId="br.com.zup.shottestapp.uid"`` in your ``app/AndroidManifest.xml`` file. You did it in the test manifest but not in the app manifest. Please, try it out and let me know if we can close this issue.

[2020-11-16 14:54] tuliopereirazup commented on #172
Ohh sorry, I did this typo before uploading the repo to GitHub trying to rename the project package name.
But this is not the cause of the error, I fixed this typo and the error continues.

[2020-11-16 14:58] pedrovgs commented on #172
It is not a typo error. You need to add the ``android:sharedUserId`` to two configuration files. The ``androidTest`` manifest and also the ``app`` manifest. The value is not relevant as soon as it is the same in both files.

[2020-11-16 15:26] tuliopereirazup commented on #172
Hmmm... now I got it hehe.

Thanks, that missing configuration worked! 😃

[2020-11-16 18:15] #172 closed

[2020-11-16 18:15] pedrovgs commented on #172
Happy to see you got it working @tuliopereirazup !! Happy testing 😃

[2020-11-18 13:26] tobiasKaminsky opened #175 "Output only failing screenshots"
We heavily use your app and have many many screenshot tests.
If now e.g. 1 or 2 are failing ouf of 100, then CI needs to upload all tests.
In this case it would be better to just show a quick summary, like you already do on verification and then only print those failing tests.

[2020-11-18 13:40] pedrovgs commented on #175
@tobiasKaminsky could you implement this feature as a configurable parameter in the plugin extension?

[2020-11-19 15:06] tobiasKaminsky commented on #175
I tried it and followed https://github.com/Karumi/Shot#steps-to-develop-a-feature-or-fix-a-bug
But after ./gradlew uploadArchives my AndroidStudio does not pick it up.
I see in $shot/repo/… shot-5.4.1-20201119.145130-4.jar

But when adding this to my build.gradle in my Android project, it does not pick it.
I tried to understand how to add the repo as a local maven repo, but I failed…

Opening shot

[2020-11-19 15:21] pedrovgs commented on #175
@tobiasKaminsky shot-consumer-x folders are designed to be open with Android Studio as a single project and not as gradle modules. You'll need to import them as if you were importing any other app. Before being able to run the consumer tests you'll need to run ``./gradlew uploadArchives`` from the main project. Whenever you change the plugin code you'll have to execute ``./gradlelw uploadArchives`

[2020-11-19 15:27] pedrovgs commented on #167
It has been already released btw. I forgot to mention it 😃

[2020-11-23 13:09] jakubvimn commented on #159
I think that the Facebook library works fine and the problem is with the Shot API
[code]

The method from Facebook `Screenshot.setName()` works fine. The only problem is that the snapshotName can't be provided. We can only provide the test name but the class name is always taken from the stack trace.

[2020-11-27 12:21] tobiasKaminsky commented on #175
@pedrovgs I finally found the time. Looking forward to your feedback :-)

[2020-11-27 13:56] dabele91 commented on #162
Works, Thanks :)

[2020-12-04 07:09] pedrovgs commented on #175
Great! I'm going to take a look.

[2020-12-04 07:12] tobiasKaminsky commented on #175
I just noticed that CI complains about code syntax. As I cannot see what is wrong, only which file, and I am not 100% sure about desired code syntax, I hope it is okay, to leave this to you? 🤞

[2020-12-04 07:20] pedrovgs commented on #175
Don't worry. You can use a command to automatically format the code for you 😃

[2020-12-08 17:41] proto-mvp opened #177 "executeScreenShots only shows partial results in the report"
### Expected behaviour
I have updated to latest version of the plugin, 5.4.0, and when running the <Flavor><Build>executeScreenshots,e.g. **myAppDebugExecuteScreenShots** suite of tests for a package, I am expecting to see a report with all the tests and their results

I didn't have any issues on that on previous version.

### Actual behaviour
I am running the <Flavor><Build>executeScreenshots,e.g

[2020-12-09 08:21] #175 closed

[2020-12-10 15:30] sanginovs opened #179 "Inconsistent screenshots between two exact Pixel 2 API 27 devices"
Hi there,

I take baseline screenshots locally using Pixel 2 API 27 emulator. Then, I compare local screenshots against generated Test Lab screenshots. I am using the same emulator device model + API level in test lab.
However, the screenshot comparison fails because the original screenshot dimension: 1080x1794 while the firebase test lab screenshot is 1080x1788 even though they are running in the

[2020-12-11 03:58] anhduy5689h opened #180 "java.nio.file.FileAlreadyExistsException"
I ran ... executeScreenshotTests -Precord .... The Task :app:connectedMockAppDebugAndroidTest show SUCCESS (green) then
Pulling screenshots from your connected devices!
Task :app:mockAppDebugDownloadScreenshots in debugsettings Finished

:app:mockAppDebugDownloadScreenshots (Thread[Execution worker for ':',5,main]) completed. Took 2.329 secs.

FAILURE: Build failed with an exception.

* What went

[2020-12-11 05:28] anhduy5689h commented on #180
I found the root cause. It seems as I capture home_step1.png 2 times and the library threw FileAlreadyExistsException when pulling screenshots from phone to my machine.

[2020-12-11 05:28] #180 closed

[2020-12-15 08:47] pedrovgs commented on #179
Hi @sanginovs are you Jetpack Compose for your UI? If the device is the same I can ensure the screenshot will be the same. Could you please get the hardware details of the device you use in firebase test lab? If you are using compose ensure you run your baseline screenshots with the same Shot version you use to verify your tests. Between some shot versions the code compose provides to get a bitmap

[2020-12-15 16:01] sanginovs commented on #179
@pedrovgs i am not using Jetpack Compose. I looked up Firebase test lab device specs:
![Screen Shot 2020-12-15 at 7 58 32 AM](https://user-images.githubusercontent.com/16856287/102239081-54533100-3eab-11eb-8891-6e1147938c82.png)

Here's my local emulator Pixel 2 specs:
<img width="1326" alt="Screen Shot 2020-12-15 at 7 58 46 AM" src="https://user-images.githubusercontent.com/16856287/102239115-5ca

[2020-12-15 19:44] sanginovs commented on #179
@pedrovgs here's an update. i just tested it again.
1. I manually downloaded generated screenshots from firebase and verified it locally by running this cmd: `./gradlew executeScreenshotTests -PrunInstrumentation=false`. It's being verified and i dont run into different image size error.

2. However, when running the same cmd from CirceCI and verifying against the same baseline images, i am gettin

[2020-12-15 20:20] sanginovs commented on #179
@pedrovgs i was able to resolve this issue. Looks like firebase test lab has different versions of Pixel2 device. i had to provide extra information: `model=walleye,version=27,locale=en_US,orientation=portrait`
That's what was causing this issue. thanks for your help.

[2020-12-15 20:20] #179 closed

[2020-12-15 21:59] sanginovs opened #181 "The application UI has been modified error when verifying even though images look identical"
Hi @pedrovgs
Thanks so much for your help. I am trying to verify firebase test lab screenshots against baseline screenshot (taken using local emulator). Out of 2 tests, one of them succeeds. However, the first one throwing `The application UI has been modified.` error. If you look at these screenshots, they look identical.
![Screen Shot 2020-12-15 at 1 50 54 PM](https://user-images.githubuserconte

[2020-12-18 11:57] mkonkel opened #182 "Caused by: java.lang.UnsupportedClassVersionError: com/karumi/shot/AdbPathExtractor"
### Version of the library
5.5.0

After updating lib to version 5.5.0 I have got the error listed below:
[code]

Full log:

[code]

[2020-12-18 12:44] mkonkel commented on #182
previously worked on 5.4.0 without any problem

[2020-12-29 13:37] mitsest commented on #182
Also getting the same error with gradle version 3.3.2

[2020-12-29 14:37] mitsest opened #183 "Could not determine the dependencies of task"
### Expected behaviour
tests should run

### Actual behaviour
gradlew command fails

### Steps to reproduce
I ran ./gradlew productionDebugExecuteScreenshotTests -Precord

and I am getting multiple errors concerning incompatible library versions like androidx.appcompat:appcompat. e.g.

           Dependency path 'app:unspecified' --> 'com.karumi:shot-android:5.4.0' --> 'com.facebook.testing.screen

[2020-12-29 14:44] mitsest commented on #183
gradlew dependencies error log

* What went wrong:
Execution failed for task ':app:dependencies'.

  ]", but isn't being resolved to that version. Behavior exhibited by the library will be unknown.

  Dependency failing: androidx.fragment:fragment-ktx:1.2.0 -> androidx.fragment:fragment@[1.2.0], but fragment version was
   1.3.0-alpha07.

[2020-12-30 09:47] mitsest commented on #183
Hi guys, this must be a gradle version issue.

Can you tell me which is the minimum gradle version you support??

I couldn't find it anywhere

[2020-12-30 10:17] mitsest commented on #50
So now the minimum supported gradle version is 5.4.1?

[2020-12-30 10:26] mitsest opened #184 "What is the minimum gradle version you support?"
Could you please provide the minimum gradle and android gradle plugin version for your lib to work?
I couldn't find 'em anywhere in the documentation

[2021-01-04 07:59] mkonkel commented on #182
Any updates? Do you work on Compose-alpha9 support?

[2021-01-18 12:15] tobiasKaminsky commented on #182
Any updates? I even tried to move to gradle-7.0.0-alpha1 as it is done on shot-consumer, but this fails with another error, and I do not like to use alpha software, even if it would have worked…

[2021-01-18 12:40] kirillakhmetov commented on #182
"java.lang.UnsupportedClassVersionError: com/karumi/shot/AdbPathExtractor has been compiled by a more recent version of the Java Runtime (class file version 55.0), this version of the Java Runtime only recognizes class file versions up to 52.0"

So, basically it runs on 11 java.

I assume it just should be recompiled with java 1.8.

[2021-01-18 13:59] tobiasKaminsky commented on #182
Right, in fact there are two problems:
- cannot be run with java 1.8 (default on Android Studio)
- if I switch to Java 11, I do get ` More than one file was found with OS independent path 'win32-x86-64/attach_hotspot_windows.dll'.

[2021-01-18 18:00] proto-mvp commented on #182
@tobiasKaminsky also the requirement of using gradle 7.0 being in alpha version.

[2021-01-19 07:17] tobiasKaminsky commented on #182
True, but a stable upgrade from 5.4.0 to 5.5.0 should not depend on unstable/alpha versions…

[2021-01-19 23:17] felipecastilhos opened #185 "Why tests running in android studio shows always success?"
### Expected behaviour
The tests should fail when there is a diff on the screenshot

### Actual behaviour
Tests that have a diff in their screenshot are reporting as success.

### Steps to reproduce
- Clone this repo: https://github.com/felipecastilhos/compose-test-sample
- Change the branch to: `bug/fail-tests`
- The repository already has the shot plugin configured
- The repository has a differe

[2021-01-22 07:25] pedrovgs commented on #177
@proto-mvp I've tested the latest two versions and it is working as expected. Could you provide more information or a reproducible example? Thank you in advance!

[2021-01-22 07:30] pedrovgs commented on #179
Thanks for the extra info @sanginovs 😃 I'm happy to see you got it working.

[2021-01-22 07:33] pedrovgs commented on #181
Hey @sanginovs could you please upload the two images shot thinks are different? You can find them in ``build/reports/shot``

[2021-01-22 07:37] pedrovgs commented on #183
As you can see in the examples, the minimum gradle version we are using is 6.7.  However, I'm not sure if your issue is related to Gradle 🤔

[2021-01-22 07:39] pedrovgs commented on #184
@mitsest I'm closing this issue because we are already reviewing your gradle problem in #183

[2021-01-22 07:39] #184 closed

[2021-01-22 07:55] pedrovgs commented on #185
Hey @felipecastilhos I'm afraid if you want to run your tests from Android Studio you'll have to configure it to run a gradle task. Shot is a Gradle plugin and it does not integrate with AS as simple as tapping on a button. That's why the README file explains how to run these tests from a terminal. However, if you want to run your tests from AS you can create a configuration like this and it will

[2021-01-22 08:18] pedrovgs commented on #182
Hey! Sorry to be late. I've been out for holidays. I updated compose version and released a new minor update without noticing I've built it with java 11. Sorry. My bad. I'm going to review if I can fix it and release a fix or I need to publish a major version which will force us all to move to java11.

[2021-01-22 09:34] #185 closed

[2021-01-22 10:14] pedrovgs commented on #182
Hi all. I've released Shot 5.5.1 using java8 and it should be working. However, I'm not sure if it will work in all the scenarios depending on the AGP you are using. I tested the example project this repository contains and you can use Shot 5.5.1 with java8 and java11 and it works in both scenarios. For example, shot-consumer-flavors works with java 8 and the rest of them works with java 11.

 I'm

[2021-01-22 10:14] #182 closed

[2021-01-22 19:08] AndrewReitz opened #188 "NullPointerException when there are no screenshot tests"
I'm running the plugin like the documentation says, and am getting this exception. I'm following it through and it looks like the plugin is trying to get screen shots for compose and there are none so there is a NPE.

[code]

This is on version 5.5.0

Please let me know if I can provide anymore information to you to get this issue resovled.

[2021-01-23 08:42] VysotskiVadim commented on #181
@sanginovs, even a few different pixels can cause failed screenshot tests. The human's eye doesn't see the difference, but it's present. Try to compare images from `build/reports/shot` using [online comparator](https://online-image-comparison.com/)(with fuzz 0) and you will see those pixels. I met this tiny difference when I made screenshots on the same emulator using different PCs, one with AMD C

[2021-01-25 17:53] sanginovs commented on #181
@pedrovgs here we go:

record image:
![com nextdoor blocks rows RowScreenshotTest_testRow](https://user-images.githubusercontent.com/16856287/105745398-10643a80-5ef3-11eb-872e-141ffe6c0c28.png)

verify image:
![com nextdoor blocks rows RowScreenshotTest_testRow](https://user-images.githubusercontent.com/16856287/105745465-296ceb80-5ef3-11eb-8591-7b5f44460a82.png)

[2021-01-25 17:58] sanginovs commented on #181
@VysotskiVadim yes i just tried comparing them using online comparator. here's what i got:
the red dots around letters is the differences according to this website:

<img width="1067" alt="Screen Shot 2021-01-25 at 9 57 41 AM" src="https://user-images.githubusercontent.com/16856287/105746014-c465c580-5ef3-11eb-935f-cba59a6115c6.png">

[2021-01-25 18:42] sanginovs commented on #181
@pedrovgs @VysotskiVadim i tried running the test with tolerance set at 0.6% and it passed:
![Screen Shot 2021-01-25 at 10 41 53 AM](https://user-images.githubusercontent.com/16856287/105750713-f11cdb80-5ef9-11eb-9eba-39f9e700852c.png)

[2021-01-26 13:30] proto-mvp commented on #177
Hi @pedrovgs
It is no longer an issue. It was due to the test runner not configured correct.
Will close this issue.
Thank you!

[2021-01-26 13:30] #177 closed

[2021-01-26 14:56] svasquezm opened #189 "Shot cannot be used in tests due .jar is not generated"
### Expected behaviour
Shot can be used in tests

### Actual behaviour
Shot external library file `.jar` is not generated and Shot cannot be used in tests (unrecognized `com.karumi.*` package).

### Steps to reproduce
Simplified app gradle module
[code]

Project gradle file
[code]

### Version of the library
`5.5.1`

[2021-01-28 11:51] svasquezm commented on #189
Removin `android.variantFilter` works.

[2021-01-28 11:51] #189 closed

[2021-01-29 21:47] felipecastilhos commented on #185
Hey @pedrovgs thanks for always having an amazing support in this lib.

[2021-01-31 02:59] MrXlebNick commented on #188
Same here, also tried 5.4.0 with the same result.

[2021-01-31 16:55] AndrewReitz commented on #188
I've been able to have the plugin tasks to run and work w/ both 5.5.0 and 5.5.1 but also have received this error on multiple occasions (using the same device so it's not a device discrepancy). It seems to be something with the state of the screenshots, but still haven't been able to pin point it exactly.

[2021-02-09 16:50] AndrewReitz commented on #188
It appears that this happens if you run executeScreenshotTests and there is nothing in the test directory.
This is occurring for me when I run `./gradlew executeScreenshotTests -DrunInstrumentation=false` twice in a row. Not sure if that's the only cause, but a more helpful error message would be great.

[2021-02-17 07:54] elizavetamikhailova commented on #188
I had the same problem and solved it by adding <uses-permission android: name = "android.permission.WRITE_EXTERNAL_STORAGE" /> to my manifest file

[2021-02-17 18:02] osquitoOfTheNorth opened #191 "Execute Screenshot Test runs all instrumented tests."
This is more of a question than a bug, but I am wondering if there is a way to configure my shot setup to only run the screenshot tests whenever I run ./gradlew eST .

Currently I run that command and ALL my instrumented tests will run, which is less than ideal because I am only starting to introduce Screenshot tests to my project and therefore we will have to wait a very long time to get the resu

[2021-02-18 08:13] tobiasKaminsky commented on #191
I solved this via having a special annotation "@ScreenshotTest".
Calling then gradlew:
-Pandroid.testInstrumentationRunnerArguments.annotation=com.package.android.utils.ScreenshotTest

With
-Pandroid.testInstrumentationRunnerArguments.class=$class$method
you can even limit it to a special class and/or method.

[2021-02-18 16:22] osquitoOfTheNorth commented on #191
Thanks I will take a look at the annotation option! That is very helpful.

[2021-02-18 16:22] #191 closed

[2021-02-19 07:40] pedrovgs commented on #181
I'm afraid there is nothing else we can do if you are using compose but adding tolerance to your build. The code taking the screenshot fully depends on the hardware profile your device has and this is the main consequence. We've already reported this to the compose team and there is nothing we can do for now. I'm closing the issue.

[2021-02-19 07:40] #181 closed

[2021-02-19 07:44] pedrovgs commented on #188
Thanks @elizavetamikhailova! @AndrewReitz @MrXlebNick could you please check if you have the permission in place? It was because you had no tests?

[2021-02-19 07:47] pedrovgs commented on #191
Thanks @tobiasKaminsky 😃  As you can see @osquitoOfTheNorth, filtering the suite of tests you want to execute is something you can do thanks to the instrumentation runner. There is nothing we can do from our end to provide this feature. You can filter your tests' execution using packages or many other options if you want.

[2021-02-19 16:10] #183 closed

[2021-02-19 16:10] pedrovgs commented on #120
I have great news!!!

[2021-02-19 17:14] #141 closed

[2021-02-19 17:15] #124 closed

[2021-02-19 17:15] #123 closed

[2021-02-19 17:16] pedrovgs commented on #142
Closing because it is duplicated by #86

[2021-02-19 17:16] #142 closed

[2021-02-20 11:03] MrXlebNick commented on #188
@pedrovgs yes, I did have the permission in my manifest from the very beginning

[2021-02-24 07:31] #120 closed

[2021-02-25 16:15] tobiasKaminsky opened #195 "OnlyFailing: still uploads all images"
### Expected behaviour
When onlyFailing is set to true, it should only create a report with those images

### Actual behaviour
All recorded images are copied

### Steps to reproduce
- set onlyFailing = true
- let a test fail
- look in recorded folder and see *all* recorded images

### Version of the library
5.8.0

I am not sure, but I guess we have to change
https://github.com/Karumi/Shot/blob/899

[2021-03-01 08:05] tobiasKaminsky commented on #195
Tried to use shot-consumer for testing, but it requires 4.3.
As this is not yet stable, I cannot use it.

So I can only create an untested PR.

[2021-03-03 02:46] zoubarry opened #197 "Menu items are not taken as part of the screenshot"
### Expected behaviour
menu items should been taken as part of the screenshots which comes on top

### Actual behaviour
menu items are not visible from the screenshots

### Steps to reproduce
Create a menu -> open the menu at end of test -> take a screenshot using activity -> menu items not visible

### Version of the library
5.8.0

[2021-03-03 05:43] #197 closed

[2021-03-03 13:16] mitsest commented on #159
So, will you accept a pull request to add the ability to have custom snapshotName(the same way it is for testName)? @pedrovgs

[2021-03-04 07:38] tobiasKaminsky commented on #159
` Screenshot.snapActivity(sut).setName(createName()).record();`

You can already do this.

Create name is in my case:
[code]
 So basically it takes the same class_name approach, but adds color and dark mode if needed.
Resulting in correct names for tests in overview, recorded screenshots, etc.

[2021-03-04 09:40] pedrovgs commented on #188
@MrXlebNick can you check if this is still happening with our latest release? Maybe the issue was related to the device you were using. Our latest release provides support for emulators >= 29.

[2021-03-04 09:45] pedrovgs commented on #195
Hey @tobiasKaminsky you are absolutely right. All the images and the metadata are copied. We would need to add an extra step to remove the images. We need to download them all from the device in order to know how many of them are wrong or not..we could remove them after analyzing the metadata file and comparing all the images, but I'm not sure if this is worth it. Could you please tell me why this

[2021-03-04 09:46] pedrovgs commented on #195
Ahhh I see, you mean the report folder!!! I'm going to take a look at your PR. I guess you are saving the reports and the lower the size the better.

[2021-03-04 09:49] pedrovgs commented on #159
Can't you use @tobiasKaminsky approach @mitsest ?

[2021-03-04 10:22] mitsest commented on #159
I 'm using https://gist.github.com/zawadz88/f057c70d3061454207ccd56e0add81c6 to launch activities.

Could you give more info on how to use Screenshot.snapActivity(sut) ?

@tobiasKaminsky

[2021-03-04 14:30] pedrovgs opened #199 "Images are not deleted from the device after a failing test suite and this may break the next execution"
While testing the support for API >=29 we've noticed the plugin may crash if you run a failing test suite and you try to run it again. The exception shown is quite ugly and related to the shot-android code not being able to save a screenshot from the test being executed. This is generated because the folder where the screenshots are saved is not deleted if there is a failing test.

[2021-03-05 13:21] MrXlebNick commented on #188
@pedrovgs I just tried with `5.10.0`, but the problem's still there

[2021-03-05 14:17] himsachan commented on #197
@zoubarry are you able to solve this issue. I am also facing same challenge.

[2021-03-05 17:36] MrXlebNick commented on #188
I also tried to choose another emulator (API 28), but it didn't help

[2021-03-08 08:59] #199 closed

[2021-03-09 05:20] msfjarvis opened #202 "Provide release build type execution support"
### Expected behaviour

Based on this statement from the README:

I expect that both my debug _and_ release build types would be listed on executing `gradle tasks`, so I can opt to run screenshot and instrumentation tests on release builds.

### Actual behaviour

Shot only lists debug build types as valid tasks

### Steps to reproduce

- Apply Shot Gradle plugin to a project
- Run `./gradlew tasks

[2021-03-11 12:12] mitsest commented on #159
Hello, sorry for coming back to this but I would like to have meaningful names for my screenshots.
I 'm scrolling a recycler and taking screenshots.

This gives both unknown class names, as well as unknown test name. What should I do here?

@tobiasKaminsky @pedrovgs

[code]

[2021-03-12 08:49] pedrovgs commented on #188
@AndrewReitz @MrXlebNick could you upload a repository reproducing the issue? I've configured shot from scratch in a new project today and it worked for me. A friend of mine also configured it this morning and also worked.

[2021-03-12 09:00] pedrovgs commented on #202
You are right @msfjarvis When I first implemented the tasks configuration I left the release build type out of the scope because it is not something every team does. I'm adding the tag ``help wanted`` to this issue just in case any external contributor would like to collaborate 😃

[2021-03-12 09:04] pedrovgs commented on #159
@mitsest take a look at this: https://github.com/Karumi/Shot/#activityscenario-support, it's a similar issue. You can't use view.post because the method ``compareScreenshot`` is going to infer the test name and the class name from the testing apk process. If you move the screenshot comparison to the production apk process the stack is missing and we can't find the test name :(

[2021-03-12 09:04] msfjarvis commented on #202
If you can point me in the general direction of where the task configuration happens then I will be more than happy to send a pull request :)

[2021-03-12 10:13] pedrovgs commented on #202
Sure @msfjarvis this is where the magic happens https://github.com/Karumi/Shot/blob/master/shot/src/main/scala/com/karumi/shot/ShotPlugin.scala#L101 Instead of just ignoring the release build type we should check if the release tasks are available in order to link our shot tasks to the release instrumentation task configured by the host project.

[2021-03-12 10:31] pedrovgs commented on #195
Fixed!! Thank you so much @tobiasKaminsky 😃

[2021-03-12 10:31] #195 closed

[2021-03-12 11:08] mitsest commented on #159
@pedrovgs thanks for the fast replies!
The weird thing here is that I explicitly call compareScreenshot with a name argument, so testName inside takeViewSnapshot is correctly set. We can verify this with the debugger and the .png filenames are correct. There is the issue of the html, though that displays both of them as unkown.

![Screenshot at 2021-03-12 12-04-39](https://user-images.githubuserco

[2021-03-12 14:06] pedrovgs commented on #159
I'm afraid it is something we can't fix because we depend on a different library where we have no access to the name.

[2021-03-12 17:04] cb4d commented on #188
I'm seeing the same stack trace as OP, with `5.10.3` when I run `./gradlew devDebugExecuteScreenshotTests -Precord --stacktrace` on an API 27 emulator. I've included the write permission in the `androidTest` manifest

Something I noticed looking at the device file explorer is that the screenshots are successfully being saved to ```/storage/emulated/0/screenshots/com.example.id/screenshots-default`

[2021-03-13 17:04] sdoward commented on #188
I get this error when updating to `5.9.0`.

Gradle: `6.8.3`
Task: `./gradlew devDebugExecuteScreenshotTests -Precord --stacktrace`
Emulator: `API 28`

[2021-03-13 17:36] sdoward opened #204 "Unable to configure Project =<5.10.1"
### Expected behaviour
I am able to build the project using 5.10.1 and above. I receive the following error

[code]

### Actual behaviour
The project should be able to configure

### Steps to reproduce

### Version of the library
5.10.1
5.10.2
5.10.3

Strangely enough 5.10.0 works as expected

[2021-03-13 21:14] AndrewReitz commented on #188
I figured out the issue I was having. https://github.com/Karumi/Shot/issues/188#issuecomment-776080517
Would be nice to get better error messaging around this.

[2021-03-15 14:42] nunoneto commented on #204
Same here, going back to 5.10.0 also solves it

[2021-03-18 08:45] pedrovgs commented on #188
I'll check what we can do to show some feedback if there are no tests instead of just crashing. What I don't get @tobiasKaminsky is what's going on with your scenario. Are you facing the same NPE? Do you have screenshot tests in your project?

[2021-03-18 09:00] sdoward commented on #188
I am having this problem and my project has tests

[2021-03-18 09:42] pedrovgs commented on #188
@sdoward do you have screenshot tests? Could any of you share a project reproducing the issue?

[2021-03-18 09:44] tobiasKaminsky commented on #188
You can test it if you want:
- git clone git@github.com:nextcloud/android.git
- run: ./gradlew gplayDebugExecuteScreenshotTests -Pscreenshot=true -Pandroid.testInstrumentationRunnerArguments.annotation=com.owncloud.android.utils.ScreenshotTest -Pandroid.testInstrumentationRunnerArguments.class=com.owncloud.android.ui.fragment.FileDetailFragmentStaticServerIT#showDetailsActivitiesNone
- see that it

[2021-03-18 09:47] tobiasKaminsky commented on #188
I suspect that
https://github.com/Karumi/Shot/blob/260f8d5c38f815f6d3f0ef64feb0234aa4375973/core/src/main/scala/com/karumi/shot/Shot.scala#L275
this produces null, as documentation says:
`
public File[] listFiles()
…
If this abstract pathname does not denote a directory, then this method returns null.
…

Which would also fit as
[code]
is shown during runtime.

[2021-03-18 09:48] sdoward commented on #188
@pedrovgs  What do you mean by "screenshotTests"? The plugin requires us to use instrument tests does it? My project has some instrument tests that take screenshots.

Unfortunately I am unable to share the project but I will try to set up a reproducible project

[2021-03-18 09:54] tobiasKaminsky commented on #188
It seems that this folder is still on emulator:
[code]

[2021-03-20 11:12] AlexKrupa commented on #191
Another solution I found is to use a [JUnit Filter](https://junit.org/junit4/javadoc/latest/org/junit/runner/manipulation/Filter.html) on the `ScreenshotTest` interface provided by Shot (assuming you're using the interface in your tests). That way you don't have to maintain a separate annotation.

A simple implementation looks like this:
[code]

Then you pass it as an argument like this:
[code]

-

[2021-03-23 17:47] anavasHiberus commented on #140
@vnhanh Did you get to solve this Karumi path bug? My team has stucked finding a solution by 3 days and not a clue about how to solve it. We have exactly the same problem than you.

Thanks in advance. If you, @pedrovgs , have already developed a solution we would be pleased to know it as we would like tou use this test tool.

Regards!

[2021-03-25 09:21] aantonic commented on #188
I've faced similar issue - running in record mode was successful, but verification fails with NPE.
It turned out that root cause is an issue on my Mac - /tmp folder was not writable so temporal screenshots could not be created. Location of temporal snapshots is defined at https://github.com/Karumi/Shot/blob/260f8d5c38f815f6d3f0ef64feb0234aa4375973/core/src/main/scala/com/karumi/shot/domain/model.s

[2021-03-26 20:48] mateuszkwiecinski opened #207 "Task with name 'connectedUnspecifiedAndroidTest' not found"
### Expected behaviour
I want to apply the plugin and see tasks mentioned in the documentation.

### Actual behaviour
build fails at configuration phase with following exception:
[code]
Build scan: https://scans.gradle.com/s/fgqo2isc6hhhu

### Steps to reproduce
Apply the plugin lazily, i.e. using
[code]
it seems to be working when applied "normally" at the root of each project.

Looking at the so

[2021-03-26 20:56] mateuszkwiecinski commented on #207
🤦
I was terribly wrong! the `unspecified` comes from from one of my `buildTypes` 🤦
[code]

So yeah, again, basically the issue happens at `getByName()` call, where a `named()` should be used instead

https://github.com/Karumi/Shot/blob/ef7721cf43c516b1a5c291182294ce98bb47b5fb/shot/src/main/scala/com/karumi/shot/ShotPlugin.scala#L193

this should allow to create tasks for `debug` buildType, which I

[2021-03-29 11:27] tikitu commented on #207
Yup, we ran into this too: `Task with name 'connectedDevelopQaAndroidTest' not found in project ':app'.`. Same reason: a custom `buildType`. I'm very far from confident in this area, but I wonder if it would be correct to only create tasks for the build type configured in `testBuildType` (with `debug` as the default)?

[2021-03-30 07:03] pedrovgs commented on #204
Hey @nunoneto @sdoward thanks for reporting. I'm checking this and looks like the code configuring the tasks is not able to find the gradle task named ``connectedQatestingAndroidTest``. Could you please share your shot configuration? The one you have in your ``build.gradle``. It could also be really helpful if you share the output of this command too: ``./gradlew tasks``. Thank you in advance!

[2021-03-30 07:06] pedrovgs commented on #188
@sdoward by screenshot test I mean an instrumentation test taking a screenshot.

[2021-03-30 07:07] pedrovgs commented on #188
Thanks for the info @tobiasKaminsky now we have a repo reproducing the issue and we can check what's going on 😃

[2021-03-30 07:11] pedrovgs commented on #207
Wow a lot of information here!! Thanks for reporting @mateuszkwiecinski 😃  I'm taking a look.

[2021-03-30 08:57] pedrovgs commented on #188
Ok, I've found what's going on. For those of you facing this exception review your configuration. Once I've analyzed @tobiasKaminsky 's repository I've found the ``ShotTestRunner`` wasn't being configured properly. The part of the project configuration where you need to configure the ``ShotTestRunner``. You can check it out [here](https://github.com/nextcloud/android/pull/8224).

However, I'm goin

[2021-03-30 10:43] tusharkathuria commented on #159
@pedrovgs I assume that html report generation is handled by Shot and not by Facebook's library. So there must be a way to expose a function to set the custom name to be used in report.

Major benefit of using facebook's library is that it gives a way to take a screenshot of a view (not just whole activity). In order to achieve that from Espresso, we have to use ViewActions as Espresso prevents di

[2021-03-30 10:45] pedrovgs commented on #159
We generate the report but the metadata facebook's library generates doesn't let us configure the name and this is the key. We could potentially save the names and try to find what's the equivalent when reading metadata...but it is harder than taking the screenshot from the instrumentation thread.

[2021-03-30 11:11] vnhanh commented on #140
Sorry, I havn't found any solution and my company ignore recording screenshots on Windows machine.

[2021-03-30 12:10] balachandarlinks opened #212 "Running Screenshot Tests in Firebase Testlab"
Hi, Thanks for building this library. I successfully added screenshot tests to our project and now I want to run these screenshot tests in firebase testlab. When I upload the apk and test apk to firebase testlab, even though the test succeeds, I see failure to compare the screenshots in the logs as the reference screenshots are not available.

Firebase testlab don't have access to the project. So

[2021-03-30 13:36] sdoward commented on #204
@pedrovgs I cannot run any gradle command because the project cannot be configured. It fails on the first steps.

my top level build.gradle.kts file contains the following...

[code]

application/build.kts file contains the following...

[code]

[2021-03-30 14:15] pedrovgs commented on #212
@balachandarlinks this repository contains several examples of how to configure Shot for GitHub actions and can be also used for Travis CI or any other similar environment. However, if you want to use Firebase test lab you'll have to use a custom solution and fetch the screenshots taken using some custom scripts we do not provide.

[2021-03-30 14:17] pedrovgs commented on #204
@sdoward do you have any custom build type configured in your project?

[2021-03-30 14:20] sdoward commented on #204
We have 4 build variants altogether..
- debug
- release
- qatesting
- rc

[2021-03-30 14:22] pedrovgs commented on #204
Yeap that's where the issue is. I'm fixing it right now. The PR will be ready today and the fix will be available in the next release. The issue is the plugin crashes when trying to configure the tasks because I had no idea you can configure a custom build type. I used flavors for this purpose so I did not support custom build types :srug:

[2021-03-30 14:40] sdoward commented on #204
@pedrovgs thanks for the fix

[2021-03-30 20:06] vanpra opened #214 "Shot tests for compose fail on emulator with API level >=29"
### Expected behaviour
The shot tests should execute/record screenshots successfully on devices with API level >= 29

### Actual behaviour
All tests fail with the following error
[code]

### Steps to reproduce
1. Add a compose UI test which uses `compareScreenshot`
2. Run test on an emulator with API level >= 29

### Version of the library
5.10.3

[2021-03-31 06:08] pedrovgs commented on #214
@vanpra I can ensure it is working. Please review your config and ensure you follow the set up process step by step.

[2021-03-31 06:08] #214 closed

[2021-03-31 08:56] balachandarlinks commented on #212
I ll check it out @pedrovgs. Thanks for your reponse 👍

[2021-03-31 11:18] #212 closed

[2021-03-31 12:06] xyzwilliamxyz opened #216 "Karumi shot 5.10.3 not working on test lab"
Hi!

we are trying to run screenshot tests in our testlab environment. We were using version *3.1.0* and it was taking screenshots of only some parts of the screen.

As we saw, there was a PR that entered Karumi Shot on 2019 that fixed things to work on testlab, so we thought that upgrading it to the latest version (5.10.3) would solve the problem, but now we're getting this exception:

`
java.lan

[2021-03-31 13:45] pedrovgs commented on #216
Hey @xyzwilliamxyz that exception looks like you've changed something on the usage of the library. We've introduced a lot of changes since 3X version. Are you using ``ScreenshotTest`` interface to take your screenshots?

[2021-03-31 20:59] xyzwilliamxyz commented on #216
Hi @pedrovgs , thanks for the reply!

It was indeed misconfiguration, I had to update the test runner + add testApplicationId and now it's executing the tests properly :D

However, for some reason, it's not taking screenshots anymore when it runs on test-lab (it used to take on version 3). I'm not sure if there's a different way of doing this, but we were executing it from our pipeline with:

`gcl

[2021-04-01 19:44] xyzwilliamxyz commented on #216
Hi @pedrovgs, thanks for your support! We managed to find a way to make it work by making some tweaks on our test lab command line and now it's working as intended. We can close this issue.

[2021-04-01 19:44] #216 closed

[2021-04-05 15:23] sanginovs commented on #212
i don't think you can use firebase test lab to verify screenshot tests. You can use it to generate screenshot tests. It uploads generated tests into Google Cloud. Then, you can fetch the generated screenshots and compare against the baseline screenshot using gradle task shot provides: `./gradlew executeScreenshotTests -PrunInstrumentation=false`.

[2021-04-06 08:56] balachandarlinks commented on #212
Thanks for your comment @sanginovs.

I thought of the suggested approach with firebase testlab. But we need to write tests that just take screenshots and then another set of tests that do the comparison between two set of screenshots. So I didn't go ahead with it as it will be hard to maintain.

I tried to run the tests in Gitlab CI. But unfortunately our Gitlab CI runners (using AWS instances) do

[2021-04-10 16:48] mateuszkwiecinski opened #218 "The plugin can't be built with Gradle 7.0"
### Expected behaviour
I expect I can build the plugin with recently released Gradle 7.0

### Actual behaviour
When invoked with Gradle 6.8.3 the plugin shows a warning:
[code]
When invoked withi Gradle 7.0 the plugin fails

### Steps to reproduce
1. Update Gradle to 7.0
2. run `./gradlew`

### Version of the library
`100477e492b839c8a74372a2aec46b068b713ca4`

I decided to report this as a new iss

[2021-04-10 20:05] mateuszkwiecinski commented on #218
😞
This is actually blocked by: https://github.com/maiflai/gradle-scalatest/issues/92 as the build fails with
[code]

btw, have you considered migrating plugin to Kotlin maybe? 😛 I see there are mixed Groovy and Scala and Kotlin sources - I searched what could be the reason of such setup, but I didn't find any.

[2021-04-12 19:49] xyzwilliamxyz commented on #204
Hi @pedrovgs, we're also facing this same issue. Any foreseen of when a release with this fix will be published? :pray:

[2021-04-13 17:01] andreroggeri commented on #204
Same is happening at our project, is there any workaround for this issue ? We need the version 5.x.x because it supports tolerance and its the only way to run our tests on Firebase Test Lab.

[2021-04-14 10:09] pedrovgs commented on #204
I'm publishing the release now @xyzwilliamxyz @andreroggeri it will be available in a few hours.

[2021-04-14 10:42] #204 closed

[2021-04-14 10:42] #188 closed

[2021-04-14 10:42] #202 closed

[2021-04-14 10:42] #207 closed

[2021-04-14 12:22] msfjarvis commented on #202
I didn't get notified that a PR was opened for this so I couldn't review it, but it suffers from the same problem I was facing when I tried implementing it.

In particular, it regresses the case where you **do not** have a custom build type. My app does not implement any custom flavors or build types, just `debug` and `release`. When I apply the plugin, the build first fails because it cannot find

[2021-04-14 12:23] msfjarvis commented on #202
I imagine the publishing task failing is a blessing in disguise that buys time for this to be rectified somehow.

[2021-04-14 12:32] msfjarvis commented on #202
I see that you did attempt to account for missing tasks [here](https://github.com/Karumi/Shot/blob/2171fa856629129f21581aaa34f66b637a80e843/shot/src/main/scala/com/karumi/shot/ShotPlugin.scala#L131-L136) but for some reason it's not catching the `org.gradle.api.UnknownTaskException` that's being thrown.

[2021-04-14 12:45] msfjarvis commented on #202
Welp, apologies for the rambling. It seems my local build of Shot was somehow broken and task configuration works just fine after a repository pruning and rebuild. Thanks for implementing this feature!

[2021-04-14 13:28] pedrovgs commented on #202
Don't worry @msfjarvis 😃  Happy to see the library is working and we've fixed the bug.

[2021-04-14 17:49] mateuszkwiecinski commented on #207
I can confirm the plugin forks for me now 👌 Thank you @pedrovgs 🚀

[2021-04-15 20:02] andretortolano opened #219 "No Screenshot moved to screenshots/debug"
Im trying to use shot in my project and for some reason I'm unable to get a screenshot into screenshots/debug folder

When I look inside Build/ there is a lot of small pieces of images so I`m not sure whats going wrong here

if someone could take 5 minutes to checkout my project and see if this is something I'm missing or if its an actual problem of the lib, Thanks!

https://github.com/andretortol

[2021-04-20 20:10] mkubele opened #220 "Not all screenshots are captured"
Hi, I'm quite desperate now. I have a class with multiple screenshot tests of different activities, but screenshots from only test are captured and downloaded from the device. I initially thought it's a bug in the shot library, so I prepared sample app with the same settings, but it works fine there.
Do you have any idea what might be wrong?
sample app:
![Screenshot 2021-04-20 at 13 31 26](https:/

[2021-04-21 15:22] huwdfj opened #221 "Screenshot file location when running in runInstrumentation false mode"
Hi, I am trying to just run the screenshot comparison functionality i.e. runInstrumentation is set to false
When I run in this mode I get the following details in the console

"We couldn't find any screenshot. Did you configure Shot properly and added your tests to your project?"

Could you clarify where shot is expecting the screenshots to be in this scenario?

I presume the recorded screenshots

[2021-04-21 16:22] huwdfj commented on #221
I have now worked out the location based on the information from some previous issue.
You need to create a folder under project/screenshots/flavour/debug/screenshots-default

However if you create this folder and place images in there you now get passing tests regardless of what images are present and an empty comparison report with no images displayed?

![Screenshot 2021-04-21 at 17 20 56](https:

[2021-04-22 06:39] oluwasanmiAderibigbePapershift commented on #219
Same here. I am currently experiencing this issue

[2021-04-22 13:52] GP2Engine opened #222 "Screenshots not saving on the emulator and hence library not working correctly!"
### **Expected behaviour**
Run the "gradlew executeScreenshotTests -Precord" command to capture the initial UI state screenshots and then run the "gradlew executeScreenshotTests" and then receive the result of the test, regarding of whether the UI’s current state is any different than the initial state (w/ the report).

### **Actual behaviour**
When we run the "gradlew executeScreenshotTests -Prec

[2021-04-22 15:18] SamCosta1 commented on #222
I'm also seeing something very similar. Works on a real device but getting almost exactly the issue described on the emulator 😢

[2021-04-22 15:27] huwdfj commented on #216
Hi @xyzwilliamxyz it sounds like you have got Shot working via the Firebase Test lab? Could you provide some details on your workflow and which gradle tasks you run where?
I can get simple png files from the Test Lab runs but I am unsure what to run to generate the metadata files and the other png files that seem to be required for the comparison. Thanks in advance.

[2021-04-23 06:49] oluwasanmiAderibigbePapershift commented on #219
I tried setting up again and it works for me now. @andretortolano  Try setting it up again?

[2021-04-23 10:56] SamCosta1 commented on #221
I'm seeing exactly the same issue! Any pointers would be appreciated

[2021-04-23 15:13] SamCosta1 commented on #221
@huwdfj We fixed it!

TLDR: Make sure your metadata.xml file is included in your `screenshots-default` directory.

This is the file structure on the device:
![Screenshot 2021-04-23 at 16 04 45](https://user-images.githubusercontent.com/16070190/115891186-b588a380-a44d-11eb-9414-3ac1c776c56d.png)

The zip should be unzipped and placed in your `project/screenshots/{flavour}/debug`. The unzipped file

[2021-04-23 15:35] huwdfj commented on #221
Hey @SamCosta1 are you obtaining the screenshots via Firebase Test Lab?
How are you creating the metadata.xml file?

[2021-04-23 15:38] SamCosta1 commented on #221
Ah right no we're not pulling from firebase test lab (though that is also our end goal). Currently this is just local testing.
The metadata file is generated by the library and is alongside the zip on the device. (See first screenshot).

[2021-04-27 09:21] ddudek commented on #78
👋  just to let you know - facebook screeshot lib just added support for orchestrator in 0.14.0

[2021-04-27 19:49] andretortolano commented on #219
@oluwasanmiAderibigbePapershift are you on windows by any chance? I think my problem is related to the OS I'm using, I also noticed other issues related to windows

[2021-04-28 08:33] ddudek opened #223 "Support for androidx orchestrator (bump up com.facebook.testing.screenshot:core to 0.14.0)"
Facebook screenshot lib just announced support for androidx orchestrator in 0.14.0. Looks like shot still uses 0.13.0 which causes it incompatible with the orchestrator. The outcome is that only last screenshot is retrieved, discarding all previously run tests (e.g. https://github.com/Karumi/Shot/issues/78).

Would it be hard to bump up the facebook library and maybe with minumum effort make Shot

[2021-04-28 12:03] ddudek commented on #220
do you use orchestrator in your project?

[2021-04-28 12:05] mkubele commented on #220
Yes, I do use it.

[2021-04-28 12:28] ddudek commented on #220
It's not supported at the moment https://github.com/Karumi/Shot/issues/78

[2021-04-28 22:48] mkubele commented on #220
Thanks for the info. It might be useful to mention it in the readme :)

[2021-04-28 22:48] #220 closed

[2021-05-04 07:11] jaychang0917 opened #224 "[Report] Diff screenshot should show the difference more clearly."
### Expected behaviour
The diff screenshot should show the differences more clearly.

### Actual behaviour
The diff is the title color. but the diff screenshot doesn't show the differences.
<img width="1247" alt="Screenshot 2021-05-04 at 3 09 03 PM" src="https://user-images.githubusercontent.com/5347535/116970488-abd32b80-acea-11eb-8af7-40f9e1b36157.png">

### Version of the library
5.10.4

Thanks

[2021-05-05 08:19] #221 closed

[2021-05-05 08:20] huwdfj commented on #221
Managed to pull the correct files by customising our test runner.

[2021-05-13 07:38] AlmightyCZ commented on #222
Similar problem here, it's working fine on macOS, but same project on Windows Server 2016 Std is passing all the screenshot comparisons (even if an error is introduced) and not saving any screenshots. I can't test real device on the windows machine, so both cases are with emulator.

[2021-05-14 10:09] pedrovgs commented on #219
Closed because it is duplicated by #140

[2021-05-14 10:09] #219 closed

[2021-05-14 10:09] pedrovgs commented on #222
Closed because it is duplicated by #140

[2021-05-14 10:09] #222 closed

[2021-05-14 10:10] pedrovgs commented on #140
FYI we keep looking for a contributor who could help us with the windows support.

[2021-05-14 10:14] pedrovgs commented on #224
@jaychang0917 the report color is good enough. I the scenario you mention it is not clear enough because the new screenshot title color is blue and looks similar on the diff screenshot. However, in any other scenario, the report is great. Unless more users report the diff should be improved we are not changing this implementation.

[2021-05-14 10:16] pedrovgs commented on #78
Reopening this issue just to see if we can provide proper support for the test orchestrator now that facebook seems to be supporting it.

[2021-05-14 10:19] pedrovgs commented on #223
This issue duplicates https://github.com/Karumi/Shot/issues/78. I'm closing it.

[2021-05-14 10:19] #223 closed

[2021-05-14 15:07] andreroggeri opened #226 "Tolerance calculation seems wrong when content is misplaced"
### Expected behaviour
It should fail the test when the content position is changed when tolerance is configured

### Actual behaviour
The test pass with a warning that there is a 0.0 % difference of pixels

![image](https://user-images.githubusercontent.com/6232673/118290583-fa33b780-b4ac-11eb-94a3-e451d17c97cb.png)

### Steps to reproduce
I used the `shot-consumer` project
1. Update the `simple_

[2021-05-14 15:45] andreroggeri commented on #226
I did some digging and it seems that the problem is on this line:

https://github.com/Karumi/Shot/blob/100477e492b839c8a74372a2aec46b068b713ca4/core/src/main/scala/com/karumi/shot/screenshots/ScreenshotsComparator.scala#L49

_Disclaimer: I never touched scala_

From what I researched, the diff method doesn't consider the element position on the array, so an Image with the same pixels but on differ

[2021-05-18 07:36] #218 closed

[2021-05-18 11:36] SamCosta1 opened #228 "Toggling `runInstrumentation` from the commandline"
More of a feature request than an issue! (which I'll happily do and PR if there's no pushback)

### Expected behaviour
`./gradlew debugScreenshotTest -PrunInstrumentation=true|false`

Would toggle the running of instrumentation tests on and off. This would be really useful for our automated jobs since we could configure our CI system to run without instrumentation, without needing to modify the gr

[2021-05-19 03:00] davidliu opened #229 "sharedUserId is deprecated."
Looks like the library relies on the `sharedUserId` AndroidManifest.xml attribute, but this has been deprecated in API 29.

https://developer.android.com/guide/topics/manifest/manifest-element#uid

[2021-05-19 12:35] davidliu opened #230 "Saving screenshots results in permission denied error."
### Expected behaviour
Saving screenshots saves properly.

### Actual behaviour

Test fails with the following stack trace.

[code]

### Steps to reproduce
1. Sample repo provided here: https://github.com/davidliu/ShotSaveBug
2. Run test.

Notably, the screenshot dirs are not created (the mkdirs fails with a false return value).

### Version of the library

5.10.5

[2021-05-20 11:00] anavasHiberus commented on #140
Thank you. I had to get a Mac in order to continue my development but it would be awesome if we can find a solution for Windows problem in the future.

Good luck!
________________________________
De: Pedro Vicente Gómez Sánchez ***@***.***>
Enviado: viernes, 14 de mayo de 2021 12:10
Para: Karumi/Shot ***@***.***>
Cc: Alberto Navas Alba ***@***.***>; Comment ***@***.***>
Asunto: Re: [Karumi/Shot] C