[2021-05-20 12:45] leandroxt commented on #226
In the project I'm working, I'm having the same problem.

[2021-05-24 14:23] JuzTosS commented on #226
I'm having the same issue

[2021-05-24 19:45] chrisjenx opened #231 "Freemarker usage does not support Configuration Cache"
Shot doesn't support Configuration Cache.

See undeclared sys prop link below, basically stop reading `file.encoding` as this could change busting caching everytime.

### Expected behaviour
https://docs.gradle.org/7.0.2/userguide/configuration_cache.html#config_cache:requirements:undeclared_sys_prop_read

### Actual behaviour
- Plugin 'shot': read system property 'file.encoding'
  See https://docs

[2021-05-25 00:15] chrisjenx opened #232 "5.10.5 Uses compose on projects without it (cannot find symbol)"
### Expected behaviour
Should be able to assemble tests without depending on compose manually

### Actual behaviour
/home/chris/git/.../OmegaInfoScreenActivityTest.java:53: error: cannot find symbol
    androidx.compose.ui.test.SemanticsNodeInteraction node, @org.jetbrains.annotations.Nullable()
                            ^
  symbol:   class SemanticsNodeInteraction
  location: package androidx.c

[2021-05-26 19:56] andreroggeri commented on #226
Hey @pedrovgs could you please take a look at my PR ?

[2021-05-26 23:03] FrancoisBlavoet commented on #230
I am seeing the same issue on my project with 5.10.2 and 5.10.5

[2021-05-27 01:47] FrancoisBlavoet commented on #230
@davidliu I think you might be missing
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
in the test app manifest. This solved a similar issue for me

[2021-05-27 02:10] davidliu commented on #230
That doesn't work as of 5.10.5. According to the instructions, this shouldn't be needed either any more.

[2021-06-01 01:11] yogurtearl commented on #231
With
[code]

Looks like the problem is in Freemarker.
Doesn't look like there is a way to make Freemarker NOT read that property, so probably need a change to Freemarker to fix this.
https://github.com/apache/freemarker/blob/v2.3.31/src/main/java/freemarker/template/Configuration.java#L2964

Stacktrace is:
[code]

[2021-06-01 15:43] chrisjenx commented on #231
Dang, @yogurtearl do you know what Freemarker is used for? I.e. could we swap it out with something else?

[2021-06-02 22:15] souissihaythem opened #233 "My test fail java.lang.RuntimeException: android.view.InflateException:"
hello,

I am running my test ./gradlew executeScreenshotTests -Precord

At 97% this did fail, in my logs, I have this message:

[code]

this is my test:

[code]

this my layout:

[code]

If I do remove the AppBarLayout, the test works perfectly and I am getting my screenshots ;)
but this is not a good solution, the test needs to work with AppBarLayout.

Thanks for your help

[2021-06-03 13:20] souissihaythem commented on #233
OK I found the problem, in my test, I need to specify the Theme of the fragment

@Test
    fun basicScenarioWithDefaultArguments() {
        val fragment = launchFragmentInContainer<ErrorReportSuccessAdvertFragment>(factory = object : FragmentFactory() {
            override fun instantiate(classLoader: ClassLoader, className: String): Fragment {
                return ErrorReportSuccessAdvertFrag

[2021-06-03 13:20] #233 closed

[2021-06-03 23:07] souissihaythem opened #234 "com.google.android.gms.maps.MapView screenshot transparent"
hello,

I have a problem when I get the screenshot of a fragment that contain a  MapView. The map view is transparent.

Screennshot using KarumiShot
![AdvertFullScreenMapFragmentTest__Google_Android SDK built for x86](https://user-images.githubusercontent.com/2062107/120722854-cf97b600-c4d0-11eb-91e2-15e7b66df6e1.png)

Screenshot using the phone (the map appear correctly
![Screenshot_1622760198](h

[2021-06-08 13:25] souissihaythem commented on #140
Thank you , I wasted one day checking my Karumi implementation because of this.
Can please add this detail in your documentation: Karumi can't be used on WinDows10 computer.

And in this class https://github.com/Karumi/Shot/blob/master/core/src/main/scala/com/karumi/shot/android/Adb.scala
can you change the log line to this:
Console.YELLOW + s"Shot ADB warning: We could not pull screenshots from f

[2021-06-09 13:15] draganrakas opened #235 "How to emit json output instead of html"
Hi,

We are running Karumi Shot tests with `./gradlew executeScreenshotTests` and would like a more parseable way to postprocess these results. Is there a way (maybe a CLI arg) to emit a json output instead of an html?

I scanned the readme and didn't notice anything related, but saw some Json parsing related code, so I thought I'd ask the team here before parsing HTML.

Thanks!

[2021-06-09 15:27] DSteve595 commented on #140
I'd be happy to try and fix the Windows version, but in my own project on Windows 10, Shot is able to pull screenshots just fine. Can you provide a sample project?

[2021-06-10 02:00] carlo-oropesa opened #236 "How to make shot work on your custom test runner similar to facebook's screenshot lib?"
### Overview
I understand that shot has it's own runner but is there a way to use my own custom runner instead of using the default? On facebook's android-screenshot library there is a workaround on this one by overriding setup and teardown hooks
https://facebook.github.io/screenshot-tests-for-android/#getting-started

[2021-07-01 06:05] pedrovgs commented on #226
Thank you so much for your help @andremion I'm releasing a new version with the fix right now.

[2021-07-01 06:05] #226 closed

[2021-07-01 06:18] pedrovgs commented on #226
New version released @andremion please let me know if everything is working fine for you with version 5.10.6.

[2021-07-01 06:23] pedrovgs commented on #229
Thanks for reporting @davidliu 😃 for now we will have to use this, but we will review what we can do to remove this config param.

[2021-07-01 06:30] pedrovgs commented on #228
Yeap you are right @SamCosta1 it is broken. I think I broke it when I changed part of the plugin configuration. Could you please take a look at this one? If you can't fix it I'll fix it by myself 😃  Thank you in advance!

[2021-07-01 06:36] pedrovgs commented on #232
Hey @chrisjenx could you please share your shot configuration? The plugin adds compose as a transitive dependency but it should be working on projects without compose installed. Actually, the sample projects in this repository show the plugin is working. Did you change something in your Shot config? Did you exclude compose dependencies?

[2021-07-01 06:44] pedrovgs commented on #230
Hey @davidliu I've tested the repository you shared with me and it looks like Shot is working as expected. My intuition tells me you didn't configure the device as expected. Using the scripts you can find in ``shot-consumer`` sample project I've started an emulator and recorded the screenshots as expected. Could you please ensure your device has an SD card associated with enough space? If it is no

[2021-07-01 06:49] pedrovgs commented on #231
Hi @chrisjenx and @yogurtearl 😃  Thanks for reporting! The usage of ``freemarker`` is needed for our HTML reports. We could replace this lib with any other alternative. Looks like the [latest version of this lib is also reading](https://github.com/apache/freemarker/blob/2.3-gae/src/main/java/freemarker/template/Configuration.java#L2964) that property so we would need to change the templates engine

[2021-07-01 06:50] pedrovgs commented on #235
Thanks for reporting @draganrakas 😃  If any external contributor would like to take this one, is more than welcome. Please, before start coding discuss the implementation details here.

[2021-07-01 06:52] pedrovgs commented on #140
Thanks @DSteve595 😃

[2021-07-01 06:55] pedrovgs commented on #234
Right now the library we use under the hood when using plain old ``MapView`` components don't work. You can review the details [here](https://github.com/facebook/screenshot-tests-for-android/issues/55). I'm afraid until this feature is fixed on their end we won't be able to provide support for maps. I'm sorry.

[2021-07-01 06:55] #234 closed

[2021-07-01 06:57] pedrovgs commented on #236
Hey @carlo-oropesa can't you just create your own test runner extending from ``ShotTestRunner`` and add your code there? I've done it for different apps when we need, for example, to use dex opener or any other library and it worked for me.

[2021-07-01 06:57] #236 closed

[2021-07-01 08:18] andremion commented on #226
@pedrovgs , I think you mixed up the Andres 😅

[2021-07-01 11:29] SamCosta1 commented on #235
I also think this would be really useful, I resorted to just ignoring Shot's report and just generating my own json output based on the file structure. In hindsight it would have been better to actually update the plugin

[2021-07-01 14:07] SamCosta1 commented on #228
Will do!

[2021-07-01 14:46] chrisjenx commented on #231
Looking at the implementation of freemarker, it's actually a poor impl on their side instead of lazy init the encoding when needed it reads it when the class is created, so even though you set it from gradle it still calls it first.
Really we need to patch Freemarker, not sure how receptive they will be....

[2021-07-02 06:31] #228 closed

[2021-07-03 18:52] chrisjenx commented on #232
Honestly not sure why it failed before, I upgraded again and now it works, guessing there was some caching issues...

[2021-07-03 18:52] #232 closed

[2021-07-05 06:21] iadcialim commented on #60
Hi @pedrovgs  do you think the team will support running and verifying screenshots on multiple devices?
This is not to reduce test execution time but to test/compare screenshots on different devices at the same time.
This is also mean that I need to prepare screenshots for these devices beforehand as the basis of truth.

[2021-07-05 06:53] #231 closed

[2021-07-05 07:20] pedrovgs commented on #60
I'm afraid this is something we are going to implement in the short term :(

[2021-07-05 08:27] iadcialim commented on #60
Sorry, I don't get you. "in the short term" means?

[2021-07-05 09:16] pedrovgs commented on #60
My previous comment means that right now we are working on different features and our resources are limited. I'd love to implement a lot of different features for Shot but my time is limited and we don't have external contributors for now working on big features like this one. Would you be open to implementing this solution by yourself @iadcialim ?

[2021-07-05 12:36] darek-nowak opened #240 "Recording screenshots does not work on emulator API 30"
### Expected behaviour
Recording screenshot should work on emulator with API 30

### Actual behaviour
Using version 5.8.0 of a lib. When running recording screenshot task `./gradlew executeScreenshotTests -Precord` you get error that screenshots can not be pulled from the directory. Directory simply does not exist.
[code]

### Steps to reproduce
Run with emulator with API 30 task:
./gradlew execut

[2021-07-08 13:26] sergioartalejoN26 commented on #240
Having the same issue here

[2021-07-09 16:55] rakesh-sh2020 opened #241 "Is it possible to ignore certain areas for comparison?"
I can't see anything in the docs but what I would like to do is mark certain parts of the reference image as not required for comparison.

This way fields like timestamps/random/indeterminate fields can be excluded.

[2021-07-11 14:53] JPrendy opened #242 "Using the example test `theActivityIsShownProperly` shown in the README with `ActivityScenario` does not work as intended"
Using the example test `theActivityIsShownProperly` shown in the README with `ActivityScenario` does not work as intended

### Expected behaviour
I expected using the default test in the README to work as intended when using `ActivityScenario` to launch the activity without any additional steps when using

[code]

### Actual behaviour
However I see the following error messages when inheriting `Scr

[2021-07-12 07:24] tobiasKaminsky commented on #241
I could also find not such things.
In Selenium there was the possibility to set the area to transparent, so that comparison in this area always was successful.
With Shot I "simply" remove those UI elements via setting visibility to hide.

[2021-07-19 04:57] MyDogTom opened #243 "shot-consumer-compose fails on emulator"
`app:executeScreenshotTests -Precord` fails on emulator with `java.io.IOException: No such file or directory`. I tried API 29 and API26. On real device this command succeed.

MacOS: Big Sur 11.4

Am I missing something?

### Expected behaviour
Should record screenshots.

### Actual behaviour
Each test fails with

[code]

### Steps to reproduce
execute `./gradlew app:executeScreenshotTests -Precord

[2021-07-19 05:10] MyDogTom commented on #214
@vanpra Did you find what was missing in your configuration?

[2021-07-20 07:48] SamCosta1 commented on #242
`ActivityScenario.launch(MainActivity::class.java)` does not return an activity object. You need to call `onActivity` for that.

In all honesty this isn't a very useful API in my humble opinion. Though maybe I'm misunderstanding. My solution for this was to wrap the whole thing in a suspending coroutine and utilise the `@Before` method. Like this

`    fun setup () = runBlocking {

        val (ac

[2021-07-22 14:37] mariobat88 opened #244 "Running tests from windows throws ``org.apache.commons.io.FileExistsException``"
### Expected behaviour
`executeScreenshotTests -Precord` and `executeScreenshotTests` should not throw FileExistsException

### Actual behaviour
Running command `executeScreenshotTests -Precord` is returning
`org.apache.commons.io.FileExistsException: Destination '{myProjectPath}\features\{myFeature}\screenshots\debug\screenshots-compose-default\{packageName}testName.png already exists.`

Running

[2021-07-26 22:24] sergio-sastre commented on #109
I think it is better to let the user opt in, the same way as flakyComponents. Otherwise you are doing some likely expensive computation (iterating through the full view tree) just for some special screens where the focus is a source of flakiness.

I would gladly contribute to this doing that in a similar way to disable flaky components :)

[2021-07-27 16:18] sergio-sastre commented on #109
@fmontesino
I just opened a PR for this. Since you already implemented a similar solution, could you take a look at [the PR](https://github.com/Karumi/Shot/pull/245)?

I am wondering whether requestFocus() would be enough instead of iterating through the full view tree to clear focus of every view

[2021-07-28 12:02] MyDogTom commented on #243
In order to overcome this issue I had to add `android:requestLegacyExternalStorage="true"`. It's a bit confusing because readme says it's not needed anymore

https://github.com/Karumi/Shot#using-shot-on-api-29

[2021-07-28 15:09] Stronger197 opened #246 "compareScreenshot(view : View) with -Precord param not working on api 28+"
### Expected behaviour
Screenshots are successfully generated for cases declared in the sample app

[code]

### Actual behaviour
Screenshots folder is empty and no errors are generated

### Steps to reproduce
Run shot-consumer-flavors
`-Pandroid.testInstrumentationRunnerArguments.class=com.karumi.ui.view.SuperHeroViewHolderTest -Precord
`

Check the "screenshots" folder when execution is finished

[2021-07-29 13:03] Syex opened #247 "AGP 7.0 Cannot query the value of property 'applicationId'"
With current release of AS Arctic Fox and Android Gradle Plugin 7 I tried updating our (library) project to that. Currently our build fails with

where `sdk` is our library module. Running `./gradlew build` with `--stracktrace` shows it's coming from Shot:

[code]

Removing Shot from the project makes it compile again, so I'm pretty certain it's coming from here. Problematic seems the plugin appli

[2021-07-29 14:55] pedrovgs commented on #240
Hey @darek-nowak could you please upload a reproducible sample? I've checked it out and it works. Maybe there's something wrong with your project configuration. Could you review the config and also check if it works with an older emulator API?

[2021-07-29 15:02] pedrovgs commented on #241
🤔 I remember we have something for this. Depending on the UI framework you are using this feature is already implemented or not. If you are using compose we don't have this feature, if you are using the old Android SDK you can define the views you want to make invisible before taking the screenshot. This is the property you have to [define](https://github.com/Karumi/Shot/blob/master/shot-android/s

[2021-07-29 15:02] #241 closed

[2021-07-29 15:07] pedrovgs commented on #242
Thanks, @SamCosta1. You are absolutely right. The framework does not integrate for now with the scenarios. However, this could be a nice improvement.

The android team changed long ago the scenario integration and stopped returning an activity so our only solution is what Sam mentions.

Actually, this could be a nice addition to the ``ScreenshotTest`` interface. Adding a new method to consume dire

[2021-07-29 15:11] pedrovgs commented on #244
Linked to https://github.com/Karumi/Shot/issues/140

[2021-07-29 15:24] pedrovgs commented on #109
Based on my experience I can say the best thing you can do with the focus when taking screenshots is to remove it, not to get it as part of any other view. That's why we added [this behavior long](https://github.com/Karumi/Shot/blob/master/shot-android/src/main/java/com/karumi/shot/ScreenshotTest.kt#L212) ago before making the screenshot. If you are finding some inconsistencies @fmontesino it coul

[2021-07-29 15:31] pedrovgs commented on #243
Hey @MyDogTom I'm checking and the consumer sample project you mention is working on CI and also on my laptop without the flag you mention. Could you give us more information about how to reproduce this issue? I think I'm missing something because the project is working fine on GitHub actions CI.

[2021-07-29 15:33] pedrovgs commented on #246
oO first time I see this. Thanks for reporting @Stronger197. Could you please send a PR with a README.md update explaining this scenario?

[2021-07-29 15:57] pedrovgs commented on #247
Hey @Syex I've just merged a PR with a small fix in the plugin configuration that could fix the integration with the AGP. Could you please check once 5.11.1 version is available if it fixes your issue?

[2021-07-29 17:06] chrisjenx commented on #247
We'll need to rewrite using the new DSL, there will have to be a 4.x version and a 7.x version, they changed the ways variants and other things are now queried

[2021-07-29 17:26] pedrovgs commented on #247
Hey @Syex could you please share your Shot configuration? You can anonymize the data if you need it. I'm just wondering how you are configuring Shot.

[2021-07-29 17:53] chrisjenx commented on #247
@pedrovgs the AGP7.0 plugin fixes a bunch of tasks being created, tasks are now only configured when calling, so in the case now, applicationId is empty until test is called, the new API is actually a provider which gets updated.

I even tried with the new DSL and it's the same error, so we'll need to rewrite the way tasks are created to use providers instead - not difficult, just won't have time

[2021-07-29 18:59] Stronger197 commented on #246
Yep, sure!

[2021-07-29 19:17] Stronger197 commented on #246
I have more info. If you run compareScreenshot(view : View) without -Precord param, it also not working as expected, because /build/reports/shot/verification/images is empty

[2021-07-29 19:27] ubiratansoares commented on #247
Hey @pedrovgs , I've the exactly same issue blocking me to upgrade to AGP 7.0.0.

It happens I've this [open-source project](https://github.com/dotanuki-labs/norris) that I think it might help us here 😄

Just raised [this PR](https://github.com/dotanuki-labs/norris/pull/268) so you can use the target branch as a sample.

The stack trace is exposed [on this CI run](https://github.com/dotanuki-labs/

[2021-07-30 06:57] pedrovgs commented on #246
Are you sure this is a library issue and not something related to your project or your config? Could you try running shot-consumer or any other consumer example app inside this repository in your testing device to ensure we have a real bug?

[2021-07-30 07:05] boguszpawlowski commented on #247
Same issue for us. I have created a sample app, maybe it will help to isolate the problem: https://github.com/boguszpawlowski/ShotAGPBug.

[2021-07-30 08:03] Stronger197 commented on #246
Pls read "Steps to reproduce". I tested this case using shot-consumer-flavors.

[2021-07-30 08:03] kdk96 commented on #246
Hi. I reproduced this problem too on shot-consumer.

[2021-07-30 20:26] sergio-sastre commented on #109
@pedrovgs
In my opinion, [the mentioned behaviour](https://github.com/Karumi/Shot/blob/master/shot-android/src/main/java/com/karumi/shot/ScreenshotTest.kt#L212) disabling the cursors different from making one view focused are 2. Not all views that look different when focused have a cursor. Moreover,  calling clearFocus() does not solve the issue because the first focusable view will take focus aft

[2021-08-05 09:14] pedrovgs commented on #246
Hi all! I'm going to be out for holiday so if anybody knows how to fix this issue without dealing with the emulators, please let me know and contribute if possible. It could be great if we can find another alternative to -P param to be able to record our screenshots. This feature should work out of the box without any further configuration

[2021-08-05 11:22] pedrovgs commented on #247
Quick update. I've tested it with different AGP versions and 7.1.0-alpha05 and seems to be working as expected. I'm trying to find a workaround, meanwhile you can downgrade your project to use alpha05.

[2021-08-05 11:48] pedrovgs commented on #247
I'm releasing a new version with the workaround. Could any of you please test it and provide some feedback about it? I had only half day to work on this fix and I did my best but I'm not sure if this will be the solution for all your scenarios.

[2021-08-05 13:54] MyDogTom commented on #247
I did a quick check in my simple project. Seems to work. Previously (AGP 7.0.0 Shot 5.11.1) even `app:tasks` failed with
[code]
Now with AGP 7.0.0 Shot 5.11.2 I see the warning but it works.
[code]

[2021-08-05 14:34] pedrovgs commented on #247
Yeap that's the idea @MyDogTom 😃  Thank you so much. I'm going to keep this issue open until they release AGP 7.0.1 final version and we can decide how to properly fix this.

[2021-08-05 14:35] pedrovgs commented on #247
Remember @MyDogTom you'll need to configure the extension value if you want to use shot in your module!

[2021-08-05 15:32] ubiratansoares commented on #247
@pedrovgs `5.11.2` fixed for me 🙂

https://github.com/dotanuki-labs/norris/pull/268/checks?check_run_id=3253611292

[2021-08-06 12:54] itshnegg commented on #247
Amazing work, thanks @pedrovgs!

[2021-08-09 04:05] iadcialim commented on #78
Btw. is there a work around on clearing cache without using orchestrator so the it can create screenshots on all tests?

[2021-08-09 04:07] iadcialim commented on #220
@mkubele did u find another way to clear cache so this lib can take multiple screenshots?

[2021-08-09 06:46] mkubele commented on #220
@iadcialim I added switch to turn off the orchestrator if needed
`
testOptions { execution = if (disableOrchestrator()) "HOST" else "ANDROIDX_TEST_ORCHESTRATOR" }

fun disableOrchestrator(): Boolean {
    val prop = findProperty("disableOrchestrator") as? String
    return prop != null
}
`

[2021-08-11 03:23] iadcialim commented on #76
hi. how about for permission dialogs? to how to screenshot the activity with it?

[2021-08-12 14:37] sergio-sastre commented on #246
Not sure whether this is related to this issue, but worth mentioning.
I have seen similar issues happening  on the [KataScreenshotKotlin](https://github.com/Karumi/KataScreenshotAndroid/issues)

It seems the problems start with Shot 5.8.0

I cloned the project locally. It has shot version 5.5.0  configured and that one works fine (Gradle 6.7.1, emulator: Marshmallow API 23)

But if we just change

[2021-08-14 01:59] xyzwilliamxyz commented on #159
Just for the record in case someone else stumbles upon this thread. Documentation on readme is outdated, but now shot has a utility extension function that helps with this. Now we can do it this way:

`compareScreenshot(scenario.waitForActivity())`

[2021-08-18 15:13] sergio-sastre commented on #246
I found out that it was not working because that kata is using its own testRunner instead of `com.karumi.shot.ShotTestRunner`, so it is not relevant to this bug.
I think it would be great to update the Kata to the latest shot version. It can serve as example to other people having issues to configure Shot.
Sorry for misleading :(

[2021-08-18 21:07] sergio-sastre opened #250 "Support for Jetpack Compose 1.x.x"
### Expected behaviour
Successfully run a snapshot test for a Compose View using Jetpack Compose 1.0.1

### Actual behaviour
I get the following error:
[code]

### Steps to reproduce
configure Jetpack Compose 1.0.1 and write a snapshot test for it, using `ComposeRule` and `compareScreenshot(composeRule.onRoot())`, `compareScreenshot(composeRule.onRoot().captureToImage())` or `compareScreenshot(com

[2021-08-19 08:48] crysxd commented on #110
You can easily do this inside your test, just save below in e.g. `ScreenshotTestExt`:

[code]

[2021-08-24 12:35] davidbilik opened #251 "Unknown test case and test name"
### Expected behaviour

### Actual behaviour

### Steps to reproduce

### Version of the library

[2021-08-24 12:40] davidbilik opened #252 ""unknown" test case and test name"
### Expected behaviour
When I run a test on Pixel 4 with Android 12 Beta 4 or on Pixel 5 with Android 11, screenshots are named "$testClassName_$testName.png"

### Actual behaviour
When I run a test on Pixel 4 with Android 12 Beta 4 or on Pixel 5 with Android 11, screenshots are named "unknown_unknown.png"

### Steps to reproduce
- Create a new Android Studio project
- Integrate a library
- Write

[2021-08-24 12:40] #251 closed

[2021-09-01 21:42] pedrovgs commented on #250
Thanks for reporting @sergio-sastre I tested the latest shot version with Compose 1.x and it was working as expected. Are you sure the issue is related to compose? Anyway, right now I'm working on a different project and I don't know if I'll have time to fix this soon. Could you please send a PR with the fix. If you find any blocker, I could personally help you 😃 Thank you in advance!

[2021-09-01 21:46] pedrovgs commented on #252
Hey @davidbilik are you sure the library is not working. If you run the compareScreenshot from the test thread it should be working. Did you try writing your test like this?

[code]

[2021-09-01 21:46] pedrovgs commented on #252
Anyway I think this one is duplicated by https://github.com/pedrovgs/Shot/issues/135

[2021-09-02 11:55] boguszpawlowski commented on #250
@sergio-sastre Can you share more of your setup for tests? We have been able to successfully run screenshot tests with compose 1.0.1 on external project.

[2021-09-02 14:24] crysxd opened #253 "Failing to record screenshot should fail test with a exception instead of posting a silent error report"
We recently set up screenshot tests for our app, generating roughly 1600 screenshots. Locally, everything worked well, but on our CI system tests did not fail although the recorded screenshots were clearly wrong. We found out that only ~600 screenshots are generated on the CI (so over 1000 were missing).

After plenty of debugging we found the issue to be a missing `adb shell settings put global h

[2021-09-08 07:11] sergio-sastre commented on #250
Hi there!
Sorry for my late reply! Let me check it out again in the evening, but I am afraid you are right, it should be something on my side

[2021-09-09 12:30] JuzTosS opened #254 "Empty results with com.facebook.testing.screenshot:plugin:0.14.0"
### Expected behaviour
Actual results

### Actual behaviour
Empty results
<img width="1536" alt="Screenshot 2021-09-09 at 13 29 20" src="https://user-images.githubusercontent.com/1567219/132685992-cbf8a973-3bf4-4530-9f9b-9b61bb5b1101.png">

### Steps to reproduce
Upgrade `com.facebook.testing.screenshot:plugin` to `0.14.0`

### Version of the library
AGP 7.0.1
Shot 5.11.2

[2021-09-10 15:18] xyzwilliamxyz opened #255 "Getting error "unable to convert 10.16 to a codename""
Hi,

when Karumi Shot is trying to save screenshots on MAC OS  11.5.2, I'm getting this error `unable to convert 10.16 to a codename`.

Any idea of what it could be?

Thanks

[2021-09-10 19:59] sergio-sastre commented on #250
Yep, was something misconfigured on my side, I will close this :)

[2021-09-10 19:59] #250 closed

[2021-09-10 23:27] RainNapper opened #256 "Support dynamic-feature Modules"
### Expected behaviour
Can test individual views within dynamic feature modules without testing the entire app.

### Actual behaviour
Looks like the tests fail to run:

### Steps to reproduce
Follow setup steps for Shot on a dynamic feature module, and run tests.

### Version of the library
5.11.2

It could be that there's something wrong locally, but before closing, could y'all confirm that this

[2021-09-13 12:03] jakob-grabner commented on #250
@sergio-sastre I  have the same issue, could you please share how you could solve the issue?

[2021-09-24 22:17] sergio-sastre commented on #250
Hi @jakob-grabner ! I actually remove composable and after a while I tried it out again, I believe with a 1.0.1 beta version instead, and it worked.

Could you share your setup to facilitate debugging?

[2021-09-28 21:14] Laimiux opened #257 "Compose LazyColumn bug when using activity to capture the screenshot."
I'll preface this issue that I think the issue is down the chain (Facebook screenshot library or Compose). The reason I'm filing this here is to see if others have run into it here and to provide this to others who run into it.

### Expected behaviour
The screenshot is not capturing layout correctly when using `compareScreenshot(activity)` with a `LazyColumn` composable.

### Actual behaviour
Ther

[2021-09-28 23:06] Laimiux commented on #257
The issue really lies with how the Facebook screenshot library generates bitmaps. It uses an old way instead of relying on semi-new `PixelCopy` utility. I've copied logic from `androidx.compose.ui.test` which uses `PixelCopy` and integrated with the `ScreenshotTest` in `Karumi/Shot`:

[code]

Since the Facebook screenshot library doesn't seem to be well maintained, I wonder if `Karumi/Shot` should

[2021-10-01 12:46] felipecastilhos commented on #247
Hi @pedrovgs,

I updated the library module I want to test inside my projetct to the version: `5.11.2`. But i'm still getting this message:

`> Configure project :baseui
Error found trying to get applicationId from library module. We will use the extension applicationId param as a workaround.
More information about this AGP7.0.1 bug can be found here: https://github.com/Karumi/Shot/issues/247
Exte

[2021-10-12 14:30] BsBrabi opened #258 "Report gets overridden when testing with multiple flavors"
### Expected behaviour
Reports are genereted in a flavor-specific directory, for example `app/build/reports/shot/verification/{flavor}/index.html`

### Actual behaviour
When executing screenshot tests with multiple flavors, the first report gets overridden by the last, because they are saved in the same directory.

[code]

### Steps to reproduce
`./gradlew executeScreenshotTests` with a multiple f

[2021-10-22 07:34] Windisch94 opened #260 "Question: Possibility to test dark mode?"
Is it possible to test screenshots in Darkmode also?
For example if I have following Preview:

@Preview(
    uiMode = UI_MODE_NIGHT_YES,
    name = "Dark mode"
)
@Composable
fun TestPreview() {
    Text("dummy text")
}

This results only in one screenshot in light mode. Is it possible to set a setting or something to capture a screenshot in the dark mode?

[2021-10-22 19:43] leandroBorgesFerreira opened #261 "Problem running in CI"
When I run:
[code]

In this CI, I always get: `We couldn't find any screenshot. Did you configure Shot properly and added your tests to your project?` Although the tests work fine locally and the screenshots are available in the CI aswell.
### Expected behaviour
The tests run with no problems in the CI

### Actual behaviour
 I always get: `We couldn't find any screenshot. Did you configure Shot pr

[2021-10-26 10:16] raafaelima opened #262 "Shot not recording snapshot images on Android R"
Hey Folks,

Since I update my project to use the API 31 (Android R), I'm having kinda the same issues. The test runs Ok, however, the snapshot folder can be found or created. I can't figure out what is wrong, to be honest. Could you guys help me to understand?

I'm using an AndroidAuto emulator to develop, however, the behavior is reproducible on my Pixel Emulator too.

I created a sample app with

[2021-11-03 20:17] sergio-sastre commented on #260
I am afraid it does not work because @Preview is just that, a preview, and it does not affect the layout at all.

However, it is definitely possible. The easiest way to do it is with Parameterized tests.

If you are using Jetpack Compose, first of all you need to define the darkMode and lightMode colors in a file, something like this

[code]

And then write a Parameterized test, which will take th

[2021-11-05 07:46] mateuszkwiecinski opened #263 "Gradle Configuration Cache compatibility"
### Expected behaviour
I expect the plugin to be compatible with Gradle Configuration cache https://docs.gradle.org/current/userguide/configuration_cache.html

### Actual behaviour
The build fails with
[code]
![image](https://user-images.githubusercontent.com/36954793/140475845-ea774aa1-2b9c-4bfc-855a-526ae1c9d906.png)

<details>
<summary>Exception1</summary>

[code]

</details>

<details>
<summar

[2021-11-08 06:38] RaggedyCoder commented on #262
Well, I am having the same issue even with API 27 on my project.

[2021-11-08 08:56] sergio-sastre commented on #260
There is also an interesting article on how to do it by @fabiocarballo:
https://www.fabiocarballo.dev/blog/multi_theme_screenshots_tests_in_compose/

[2021-11-11 13:54] Alton09 commented on #262
I've seen this issue when running on an emulator and on a SM-G975U running Android 10. I got the tests to work though on a Pixel 3 running Android 12. Seems to be an issue for specific devices/OS versions. I ran the tests from [this sample project](https://github.com/fabiocarballo/compose-design-system).

[2021-11-14 14:07] mateuszkwiecinski opened #264 "Recording too large screenshots produces false-positive results. Can't configure max screenshot size"
### Expected behaviour
It seems like I stumbled upon 2 issues at once, but the behavior I expect is:
1. I expect Shot would fail the build if it can't record a screenshot for any reason. (this is actually https://github.com/pedrovgs/Shot/issues/253)
1. I expect config variable responsible for setting maximum screenshot size to be configurable in Shot as well.

### Actual behaviour
1. recording tas

[2021-11-25 13:51] cristan opened #265 "Tests fail when mixing up x86 and Apple Silicon (M1 and the like)"
When a screenshot is created at an x86_64 emulator and is then tested on an arm64-v8a emulator on Apple Silicon, I expect the test to succeed. Instead, it fails, even though both PNGS look exactly the same (example attached). Oddly enough, even the diff looks exactly the same as the 2 other issues.

I expect this test to succeed considering the images look exactly the same.

Original screenshot (x

[2021-11-26 08:21] lyydikoi commented on #232
I'm facing currently the same issue.
When I have the same Test dependencies, as in the sample project, all works good (except I can't set up Dagger injection for test.)
When I add

`kaptAndroidTest("com.google.dagger:dagger-compiler:$daggerVersion")`

and run tests, I get:
[code]

Could you provide any info, please, how can I work around this?

[2021-11-26 12:26] mariuszmarzec commented on #140
@pedrovgs I made some investigations and it is caused by used file path separator in the code. Now / is used. For windows should be /. I fixed it locally by adding dynamic (depending on system) separator in Config object in model.scala file. I cannot push my branch with draft fix due to:
[code]
My ssh configurations seems to be ok, so maybe pushing to remote repo is restricted.

[2021-11-26 17:24] mariuszmarzec commented on #140
@pedrovgs
I made some additional investigations and i realized that verifiy task is broken too. Minimal fix for windows for record and verifiy is making temporary dir path depending on OS:
[code]
Second things needs to be done is fixing getting `metadataFiles` in `readScreenshotsMetadata` in Shot.scala file.
Current implementation is basing on comparing potential metadata file absulute path with r

[2021-11-28 12:17] lyydikoi commented on #180
I have faced same issue. After some investigation, it turned out, that I have provided same name for two different tests:
[code]
Shot recorded all screens, but two of them had same name. So, first was loaded, but second failed, cause name existed already.

[2021-11-28 22:34] sergio-sastre commented on #265
I believe this is something to be expected if running on different architectures due to hardware rendering.
You could try to enable software accelerated: `myView.setLayerType(View.LAYER_TYPE_SOFTWARE, null)`

more on that here:
https://developer.android.com/guide/topics/graphics/hardware-accel.html

moreover, the Shot documentation recommends to configure your emulators using the gpu mode swiftsha

[2021-11-30 13:01] cristan commented on #265
I use shot to test Jetpack Compose screens and I don't think I can change the layer type here. I already have the gpu mode set to swiftshader_indirect on both platforms.

[2021-11-30 14:59] andreroggeri commented on #265
The images are a bit different if you check with another tool (I used ImageMagick)

![diff](https://user-images.githubusercontent.com/6232673/144071047-360b55de-27f0-4c5c-a0a9-adc17df8f046.png)

I had the same issue with pixel emulator vs pixel device, and in my case setting a low tolerance was ok

[2021-11-30 15:15] cristan commented on #265
@andreroggeri Does shot support setting a tolerance? The only thing I could find is #28 and it is essentially solved as a won't fix.

[2021-11-30 18:13] andreroggeri commented on #265
Yes it does.

On your `build.gradle` you can configure shot

[code]

[2021-12-01 08:57] cristan commented on #265
That works :D The biggest difference in pixels between platforms is 1.4%, so I set the tolerance now to 2% and it works as expected.

[2021-12-01 09:02] cristan commented on #28
There actually is a configurable tolerance now:

You can configure shot in `build.gradle`:
[code]

Like pedrovgs said: use with care, but I'd say it's useful in a few cases. For example: the case when emulators in different platforms result in slightly different images #265

[2021-12-06 11:47] pedrovgs commented on #258
@BsBrabi we've just merged the ability to configure from the command line a prefix for the folder. I'm not sure if this is the change you were expecting but looks like it can be one solution for you. I'll publish a new release soon, please let me know if this helps.

[2021-12-06 11:48] pedrovgs commented on #86
Hey @CedrickFlocon your PR I just merged enables a different feature, I think @digitalbuddha was asking for a different change so I'm going to leave the issue open for now.

[2021-12-06 13:05] CedrickFlocon commented on #258
The previous implementation had an error `reportFolder` didn't use flavor & buildType :
`def reportFolder(flavor: String, buildType: String): String = "/reports/shot"`
c.f
https://github.com/pedrovgs/Shot/pull/259/files#diff-f0b38fa66cdaf6a6b0c3c9ad5c2f24f16719f4865922674005effddf371695e1L53

[2021-12-07 15:20] pedrovgs commented on #140
Could somebody please check if the PR @mariuszmarzec sent works on Windows? The code looks great but I'd like to confirm. @voghDev @sergio-sastre or any other contributor? I'd really appreciate if you can find some time to run the tests the repository contains. You just need to execute these commands:

[code]

I'm asking for a CI configuration on windows, but this is not straight forward and I'd l

[2021-12-07 15:55] pedrovgs commented on #258
Can we close this issue already?

[2021-12-08 20:15] gmarques33 opened #267 "ExecuteScreenshotTests -Precord fail when ran for the first time"
### Actual behaviour

If I clone the repo, delete the `shot-consumer-compose/screenshots` folder and run `./gradlew executeScreenshotTests -Precord` on `shot-consumer-compose`
I get:
[code]

The tests run normally, the screenshots are taken and copied to the computer, but they're being saved on:
[code]

and I get this error that the screenshots aren't available on:
[code]

If I manually copy the c

[2021-12-08 20:24] gmarques33 commented on #267
This PR: https://github.com/pedrovgs/Shot/pull/259 seems to have caused the issue. Version 5.11.2 works as expected.

[2021-12-08 20:38] gmarques33 commented on #267
Stacktrace:

[code]

[2021-12-09 05:52] BsBrabi commented on #258
Unfortunately we could not test it yet, but I think we can close the issue already.

[2021-12-09 05:52] #258 closed

[2021-12-10 07:35] mateuszkwiecinski opened #268 "Java 17 incompatibility: Unable to make public void sun.nio.ch.ChannelInputStream.close()"
### Expected behaviour
I can record screenshots on latest LTS java version

### Actual behaviour
The build fails with

<details>
<summary> Full stacktrace </summary>

[code]
</details>

Build scan: https://scans.gradle.com/s/gd3up6bw2wkws/failure#1

### Steps to reproduce
1. Set Java version to 11
2. Run `./gradlew executeScreenshotTests -Precord`
3. Await successful run
4. Set Java version to 17

[2021-12-10 11:30] #140 closed

[2021-12-10 11:31] pedrovgs commented on #267
I'm going to release a new version with the fix. 5.12.1 should fix it. Please, as soon as it is available, check if it is fixed and reopen this again if it is not.

[2021-12-10 11:31] #267 closed

[2021-12-12 17:39] rock3r commented on #140
We're still having there issues on [github.com/code-with-the-italians/bundel](https://github.com/code-with-the-italians/bundel) on 5.12.1 unfortunately. Same error as the original report. I'll put a link to the recording of our efforts once the recording is out!

[2021-12-12 19:37] pedrovgs commented on #140
@rock3r could you please clone this repository and try with ``shot-consumer-flavors`` example project? You can run ``./gradlew executeScreenshotTests -P record`` to save the golden images and then verify your screenshots again with ``./gradlew executeScreenshotTests``. I tried with API 28 and created an emulator with an SDCard for my local tests.

[2021-12-12 19:45] rock3r commented on #140
Sure thing, will do tomorrow

[2021-12-13 08:18] rock3r commented on #140
I just realised I put the comment on the wrong issue. It was meant for #244, sorry!

[2021-12-13 08:20] rock3r commented on #244
We're still having there issues on [code-with-the-italians/bundel](https://github.com/code-with-the-italians/bundel) on 5.12.1 unfortunately. Same error as the original report. I'll put a link to the recording of our efforts once the recording is out!

Note: this was mistakenly posted on #140 first.

[2021-12-13 09:04] rock3r commented on #244
@pedrovgs I have run the tests on the `shot-consumer-flavors` and they pass. I noticed the dependencies on that project are very old, and the target Android version is too, so I tried upgrading those. It still passes without issues on the same emulators I have issues with (API 29 and 31). I don't really know what we did in our project that makes it fail; it seems like there's nothing different in

[2021-12-13 15:35] pedrovgs commented on #244
🤔  🤔  @rock3r, do you mean you've forked the project from your windows PC and got Shot working on ``shot-consumer-flavors``? 🤔  🤔

API 29+ issues I'm sure are related to the scoped storage... but I'm happy to see I'm not crazy and we got Shot working on windows, at least for 1 project xD cc/ @Tylos

Could you please check the other ``shot-consumer-*`` sample projects? You can execute record/verify

[2021-12-13 15:37] pedrovgs commented on #244
@mariuszmarzec you are the author of the fix we added as tentative support for windows. Could you please help us with this bug?

[2021-12-13 15:40] rock3r commented on #244
Yes! Works fine. Prints some warnings about files not existing when running some ADB commands, but works fine and doesn't fail.

I'll check the other instructions asap and will let you know! :) Thanks _a ton_ for your help 🙌

[2021-12-13 16:10] mariuszmarzec commented on #244
@pedrovgs I don't remember to have this issue during fixing issue #140, but i will try to have a look this week.

[2021-12-13 16:29] pedrovgs commented on #268
Thanks for reporting @mateuszkwiecinski I guess for now we can use an older java version. I've tested it up to JDK 11 and it should work.

[2021-12-13 16:40] pedrovgs commented on #265
Hi @cristan thanks for reporting. I'm afraid we depend on an API we can't control to take the screenshot. It depends on the emulator/device where the screenshot is taken to render the bitmap. This means if you use different hardware for your emulator the screenshot taken can change too 😢 I'm afraid the only solution we can provide is to use tolerance param as @sergio-sastre pointed out. I've sent

[2021-12-13 16:44] pedrovgs commented on #264
How big is the screenshot you are taking?

[2021-12-13 16:46] pedrovgs commented on #253
Hi @crysxd thanks for reporting. You are absolutely right, we should throw an exception when this happens. Looks like you've found the perfect change in our project codebase, could you please send the fix for this issue?

[2021-12-13 16:49] pedrovgs commented on #263
thanks for reporting @mateuszkwiecinski I have no experience working on this part of the Gradle plugin so I'm going to leave the issue open and see if other contributors from the community can help me with this solution.

[2021-12-13 17:13] mateuszkwiecinski commented on #264
I don't know how big the screenshot I take is, but I can share it fails here: https://github.com/facebook/screenshot-tests-for-android/blob/cdb5bd36b9be745bb3ba3378bf102815d2165144/core/src/main/java/com/facebook/testing/screenshot/internal/ScreenshotImpl.java#L206

so the plugin starts misbehaving when captured screenshot has more than:
`public static final long DEFAULT_MAX_PIXELS = 10000000L;`
s

[2021-12-14 11:50] mariuszmarzec commented on #244
@pedrovgs
Checked today on my windows machine and looks like still this issue is occurring
[code]
Looks like screenshots-default is not removed after/before from some reason. I will try to fix it later.

According to @rock3r 's issue, i cloned Bundel repo and trying to reproduce error as above, but got different one:
[code]
Looks like something different. Maybe it is operating system related. @roc

[2021-12-14 12:11] rock3r commented on #244
@mariuszmarzec I'm on Windows 11

[2021-12-15 08:19] josehector commented on #140
@pedrovgs I tried `shot-consumer-flavor` example project on windows 10 and it was right. Even I changed a layout in order to verify a fail.
I tried it with API 29.

[2021-12-16 06:36] voghDev commented on #140
Hi!
I tried to execute `shot-consumer` tests on Windows 10 and this was the result.
[code]
I think it is right. Some tests probably failed because of my emulator settings, but Shot seemed to work as expected.
These are the steps I followed:
[code]
As a curious issue, my machine created a lockfile for the emulator, placed in an `app/null/.android/commander` folder:
[code]
I just ignored this file 😄

[2021-12-16 18:37] josehector commented on #232
@lyydikoi I had the same error. I will be able to fix it added ....
`androidTestImplementation "androidx.compose.ui:ui-test-junit4:1.0.0-beta03"`

@pedrovgs is it possible that the plugin doesn't add the compose as a transitive dependency?

[2021-12-20 09:52] mariuszmarzec commented on #244
@pedrovgs I created a PR and after those changes @rock3r 's Bundel screenshot testing is working for me.

[2021-12-20 09:56] pedrovgs commented on #244
@mariuszmarzec could you please confirm the emulator you used to test it and also the list of projects and sample projects you've tested? I'd love to release a version with the fix before the end of the year, but I'd like to at least ensure it works for API 28 in different projects.

[2021-12-20 10:18] mariuszmarzec commented on #244
@pedrovgs I tested all shot-consumer-* project on API-28 and it works as expected. But i have open champagne to early. Looks like issue:
[code]
... stills occur on API 29 for compose test.

I think this PR could be merge, but this issue require more investigation rather as separate issue.

[2021-12-22 11:21] mariuszmarzec commented on #244
@pedrovgs Issue with IOException is probably same as #240
I think we could merge my PR (if everything is ok) and close this issue.

[2021-12-22 12:13] pedrovgs commented on #244
Merged and released, thank you so much @mariuszmarzec 😃 Could you please guys check if 5.12.2 is working as expected, at least on API 28?

[2021-12-22 12:14] pedrovgs commented on #240
I've merged and released a PR by @mariuszmarzec that tentatively fixes this issue. Could you please guys check if 5.12.2 version and reopen this issue if it doesn't work?

[2021-12-22 12:14] #240 closed

[2021-12-22 12:24] pedrovgs commented on #262
Guys, could you please test the new release 5.12.2?

[2021-12-22 12:26] pedrovgs commented on #261
Hey, sorry for the late response. Looking at the error message and the current state of the repository the issue seems to be fixed. Please, let me know if you need more help.

[2021-12-22 12:26] #261 closed

[2021-12-22 12:39] pedrovgs commented on #260
As soon as you are able to render a component using different config values you will be able to take the screenshot, so yeap, you can do it 😃 I hope this is the answer to your question. Please, feel free to reopen it if you have any other doubt. Sorry for the late response and thank you all @sergio-sastre, and @CedrickFlocon for your answers.

[2021-12-22 12:39] #260 closed

[2021-12-22 12:41] pedrovgs commented on #257
I'm afraid the library we use under the hood is not compatible with compose so you'll have to test your composable function using the Compose API I created.

About this:

Due to the fact that I'm working on a different project right now and there are no more active contributors implementing new features, I don't think this is something we can do. At least for now.

[2021-12-22 12:41] #257 closed

[2021-12-22 12:42] pedrovgs commented on #256
@RainNapper thanks for reporting. I'm afraid I've never tested shot for dynamic modules. If you create a sample project I can check if the configuration is correct.

[2021-12-22 12:43] pedrovgs commented on #255
First time I see this error @xyzwilliamxyz could you please provide a sample project reproducing the error?

[2021-12-22 12:49] pedrovgs commented on #252
Closing because it is duplicated.

[2021-12-22 12:49] #252 closed

[2021-12-22 13:06] pedrovgs commented on #232
@josehector Shot adds ` implementation "androidx.compose.ui:ui-test-junit4:1.0.0-beta03"`` as a transitive dependency. If you check the sample projects it should work out of the box.

[2021-12-22 13:10] pedrovgs commented on #264
Ok so then the issue is not in our side 😢 I'm afraid there is nothing we can do to fix this issue. I'm closing it for now. Thanks for reporting @mateuszkwiecinski

[2021-12-22 13:15] mateuszkwiecinski commented on #264
I think it is 100% on the plugin side 🤔  I mean facebook's library allows to configure the maximum screenshot size (and **not** to rely on the default value I linked). I claim Shot plugin also expose such ability.

See: https://github.com/facebook/screenshot-tests-for-android/blob/cdb5bd36b9be745bb3ba3378bf102815d2165144/core/src/main/java/com/facebook/testing/screenshot/internal/RecordBuilderImpl

[2021-12-22 13:19] mateuszkwiecinski commented on #264
Also, the behavior where plugin fails silently which leads to false positives is also something needs fixing. That's a clear bug to me which makes the plugin unreliable 👀  Failing screenshot should always fail the build, no?

[2021-12-22 14:35] pedrovgs commented on #264
Ok, I get what you mean now. I'm going to open the issue again and update the description to specify that the change we should implement is to let configure the max screenshot size instead of relaying on the default value. Thanks for the clarification btw. The catch preventing Shot to crash when this happens is a different bug I think you've already reported. Thanks for the info, I really apprecia

[2021-12-22 14:38] pedrovgs commented on #28
I've updated tolerance documentation in case you are interested: https://github.com/pedrovgs/Shot/#tolerance

[2021-12-22 14:55] walve03 commented on #255
Hi @pedrovgs, thanks for the reply. I think this issue was related to something in the current state of the OS which was not working properly with some other library used under Shot (I saw this message in other places through the internet). After formating the OS, it started working again. I think we can close this issue.

[2021-12-22 14:57] xyzwilliamxyz commented on #255
Hi @pedrovgs, thanks for the reply. I think this issue was related to something in the current state of the OS which was not working properly with some other library used under Shot (I saw this message in other places through the internet). After formating the OS, it started working again. I think we can close this issue.

[2021-12-22 14:57] #255 closed

[2021-12-22 14:59] pedrovgs commented on #255
Ok, thanks for the info @xyzwilliamxyz

[2021-12-22 18:11] Laimiux commented on #257
The issue happens with mixed-use apps which will usually be the case during migration to Compose. Would you be open if I contributed it? I have a working setup in our codebase and could add it here behind an optional flag?

[2021-12-22 21:43] pedrovgs commented on #257
I think, if we want to be pragmatic, we should ask for the feature to the original facebook library even before implementing this. Implementing our own solution when taking the screenshot is a huge change in our codebase and would change how shot works under the hood. We should first check if Facebook is providing support for this feature and later make a decision.

[2021-12-23 00:49] sanginovs opened #272 "Androidx compose test: Unable to resolve activity for: Intent"
HI @pedrovgs
I am trying to make Shot work with compose in my project.
I followed **shot-consumer-compose**  and have exact same dependencies but when I run my compose UI test, i am getting this error. I tried to play with dependencies but still no success.
Any idea what may be causing this?

[code]

My **app/build.gradle** file
[code]

**My test file**:
[code]

[2021-12-23 01:45] sanginovs commented on #272
adding `debugImplementation("androidx.compose.ui:ui-test-manifest:$composeVersion")` fixed this issue for me.
I wonder why you don't have this dependency on `shot-consumer-compose` sample.

[2021-12-23 12:31] pedrovgs commented on #272
Because depending on the version you are using the old version can include the activity as part of the artifact and the one you are using doesn't. I'm going to update the issue name to show that the tasks we need to do is to include that dependency.

[2021-12-27 20:11] stetro commented on #191
In our project we also have both, but we would like to only run each at a time so we use this configuration
[code]

With this `./gradlew connectedAndroidTests` runs instrumented tests only and `./gradlew executeScreenshotTests` run screenshot tests only.

[2021-12-29 16:50] mariuszmarzec commented on #78
@pedrovgs I have started investigating it. I created a branch in my forked repository.
What i have managed?
- Updated facebook lib to newest version
- Preserving screenshots and pulling them for regular screenshots

Code is ugly now and far from final solution. It remains a lot work like: broken clearing dirs, assembling images, but i have a plan to work on it slowly.

Suggestions, feedback, comme

[2022-01-03 16:50] kmikeevfelyx commented on #262
I have it on 5.12.2, M1 Macbook, Emulator API 32, targetSdk 32. It just does not record and there are no clues in the log.

[2022-01-04 12:40] kmikeevfelyx commented on #262
Oh. my problem was that I didn't use `com.karumi.shot.ShotTestRunner`, solved!

[2022-01-07 19:04] olegosipenko opened #274 "Error while processing screenshot testing result"
### Expected behaviour
`debugExecuteScreenshotTests` should record screenshot tests, pull them from device and verify against the reference.

### Actual behaviour
After upgrading to the latest (5.12.2) version we started to receive the following exception while running screenshot tests:

[code]

We had to upgrade the version, because when we tried to migrate our screenshot test suite to use Compos

[2022-01-10 04:00] alexanderbezverhni opened #275 "[Compose] Unable to capture a screenshot when there is more than 1 root node."
### What
This is more of a feature request - allow capturing screenshot with multiple root nodes.
Multiple root nodes would typically mean there's a `Popup` being shown on the screen.

### Steps to reproduce
- Render some conventional `@Composable`s
- Render `Popup` on the screen, for example [DropdownMenu](https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-compose-

[2022-01-10 16:26] raafaelima commented on #262
Oh Hi, even with the update to version 5.12.2, I'm having the same results here.
I'm using this project [ShotSnapshotSample](https://github.com/raafaelima/ShotSnapshotSample) to test it, if you wanna see anything.

![image](https://user-images.githubusercontent.com/7543763/148800961-492531c9-38d5-4661-a02e-3f59f294be3e.png)

[2022-01-11 09:33] SamCosta1 commented on #235
@pedrovgs I think I should have some time to pick things up. My proposed solution will involve passing a commandline argument to specify which output formats should be produced (defaulting to HTML only for backward compatibility).

Then I'm thinking it'll spit something out in the following format

[code]

This will be generated in a `JSONExecutionReporter` class alongside the current reporters. (

[2022-01-12 01:35] alexanderbezverhni commented on #275
Nevermind, `popup` [cannot](https://android.googlesource.com/platform/frameworks/support/+/refs/heads/androidx-main/compose/ui/ui-test/src/androidMain/kotlin/androidx/compose/ui/test/AndroidImageHelpers.android.kt#39) currently be captured by `SemanticsNodeInteraction.captureToImage()` :-\

[2022-01-12 01:35] #275 closed

[2022-01-13 17:19] paulohc opened #276 "Screenshot Testing Not Working on Physical Device"
### Expected behaviour
Run `./gradlew app:executeScreenshotTests -Precord` on a physical device without any errors.

### Actual behaviour

I am getting this error:
[code]

### Version of the library

Version `5.12.2`
I am using a physical smartphone with Android 10.
The command `./gradlew app:executeScreenshotTests -Precord` works fine on emulators using Android API 28 and 30.

I tried to enable `

[2022-01-14 12:18] SumeraMartin commented on #216
Hi, @xyzwilliamxyz  I'm curious about the same thing as @huwdfj did you find a solution to this problem?

[2022-01-14 12:56] SumeraMartin commented on #212
I ran into the same problem. I wonder if it wouldn't be possible to save screenshots to `androidTest/res/assets/` folder (either as images as or as zip file) instead of the directory outside of the apk. The test could then compare a result with an image taken from these assets and it would work even in the Firebase Test Lab. @pedrovgs Do you think that it would be possible? Or are there some other

[2022-01-19 18:30] mariuszmarzec commented on #78
Finished implementation in connected PR. If anybody could check code and test orchestration support in your project for more feedback would be great. @pedrovgs In my opinion is ready to merge, but if anything could be done better, will do it.
Tested on API 28

[2022-01-20 13:04] mariuszmarzec commented on #262
@raafaelima In my newest PR introducting support for orchestrator i bumped version of facebook screenshot library used under the hood: #273
I made a test in my project and looks like it work on mentioned emulator. Below i copied best configuration for espresso to made shot working:

[code]

You can push version of shot library to local maven repository and used it till PR will be merged.

[2022-01-20 19:26] sergio-sastre commented on #276
could you check whether it happens on Version 5.12.1?

[2022-01-21 10:49] zoey-juan commented on #244
I am facing the same issue in our project by using 5.12.2. Mac, emulator API 28. any luck to fix this?

[2022-01-21 11:43] mariuszmarzec commented on #244
@zoey-juan I discovered that sometimes gradle is locking files created durin shot tasks, and to workaround it you have to run `./gradlew --stop` to kill gradle deamon and remove lock on files.

Could you try `./gradlew --stop` before runing shot? If any issue still occurs, please share --stacktrace

[2022-01-21 14:05] zoey-juan commented on #244
@mariuszmarzec hi, the FileExistsException error is gone after running `./gradlew --stop`, however, the screenshot images didn't not save to the path(screenshots/debug is created but no images inside) even the log says successful. Any other ideas?
This is the log
[code]

[2022-01-21 14:28] mariobat88 commented on #244
@zoey-juan Try running it on API 27 or 26. I regularly have problems with any instrumentation tests greater than API 27. Not only for screenshot tests. It could be API 28 handles storage differently so it can't save the screenshots to your device.

[2022-01-21 14:55] zoey-juan commented on #244
I have tried to run on API 27 and debug it. the images are actually stored in `/storage/emulated/0/Download/screenshots/com.*.compose.app.test.uid/screenshots-default/` but the log below is trying to pull from `screenshots-compose-default/`

More details here
[code]

[2022-01-21 18:05] PauloHC commented on #276
I tested with the version 5.12.1, but I am still receiving the same error

[2022-01-21 18:17] mariuszmarzec commented on #244
@zoey-juan Thanks for logs, yea shot is trying get screenshots from screenshot-compose-default and it failed because it is empty or doesn't exist. Lack of message for screenshot-default means that images are loaded but something went wrong in next stages and final screenshot are not generated.

Are you able build on your local machine shot library with commented out lines:
https://github.com/pedro

[2022-01-24 08:13] BenedictP commented on #246
@raafaelima I'm having the same issue and it's blocking us to introduce Shot in our codebase. Have you found any solution so far?

[2022-01-24 14:13] zoey-juan commented on #244
@mariuszmarzec thanks for the suggestion, unfortunately no luck to me. I have tried both suggestions.
May I ask what's the expectation of the output?
Actually we have another two android lib modules with screenshot tests which are working properly. However, I am adding this new application module into our project with screenshot tests, it always not working.

As you can see after running `-Precord

[2022-01-24 17:56] pedrovgs commented on #78
Releasing a new version today.

[2022-01-24 17:56] #78 closed

[2022-01-24 17:57] #262 closed, assigned to nobody

[2022-01-24 19:29] pedrovgs commented on #274
Hi @olegosipenko could you please try to cone this repository and run the tests you can find in ``shot-consumer-compose``?

[2022-01-24 19:30] olegosipenko commented on #274
Sure, will update when done

[2022-01-24 19:34] pedrovgs commented on #235
Instead of adding different dictionaries for every screenshot, why just not add an array of screenshots with the execution result inside?

[2022-01-24 19:43] pedrovgs commented on #276
Hey @PauloHC could you please run 4 tests for me?

* Create an emulator API 28 with an SD card and run your tests.
* Using the same emulator, clone this repository and run the tests you can find inside shot-consumer folder.
* Using the same emulator, clone this repository and run the tests you can find inside shot-consumer-compose folder.
* Using your device, clone this repository and run the test

[2022-01-25 07:13] mariuszmarzec commented on #244
@zoey-juan Ok, now it is clear. Something goes wrong during processing metadata.xml file which is intermediate file. `screenshots-compose-default` and `screenshots-default` are intermediate directors used to process pulled images from device.

Could you try new released version 5.13.0? In new version there is no xml processing, because facebook screenshot testing used under the hood change metadat

[2022-01-25 15:40] olegosipenko commented on #274
Ok, so running tests from `shot-consumer-compose` finishes successfully.
BTW tried to update Shot version in our project to 5.13.0 and still got
[code]

[2022-01-25 15:48] zoey-juan commented on #244
@mariuszmarzec I have tried this PR #273 and I think it's the same as version 5.13.0. the log above was from the change.

[2022-01-26 08:04] mariuszmarzec commented on #244
@zoey-juan Log is from 5.12.2 probably, because in PR #273 don't use xml parser. Probably during trying code from PR in your test project mavenLocal() repository was not defined before remote repository and 5.12.2 with old code was used. I think you can try 5.13.0 from remote maven repository.

[2022-01-26 10:21] IHNEL opened #279 "Any way to generate test report with grouping?"
### Expected behavior
Assume I wrote thousands of test cases for various screens. There are many source files and each file has multiple test cases. I expect that the report (HTML file) groups the test cases by test class. Is there any way for this?

Recently I got a single HTML file with all screenshots inside, which is very difficult to review.

### Actual behaviour

### Steps to reproduce

###

[2022-01-26 14:40] zoey-juan commented on #244
@mariuszmarzec logs and image output by using 3.13.0

<img width="340" alt="Screenshot 2022-01-26 at 22 40 18" src="https://user-images.githubusercontent.com/18564149/151183660-def7426c-c7bb-43a3-a857-92df3b605aed.png">
[code]

[2022-01-26 16:06] mariuszmarzec commented on #244
@zoey-juan Thanks for effort. Looks like clue of this issue is here:
[code]
@pedrovgs i'm not experienced in scala, but for me it looks like missing dependency, not sure why is missing. It wasn't never declared in build.gradle file i think and it doesn't break tasks on my machine or CI. Is it connected with scala version? JVM implementation?

[2022-01-26 17:36] zoey-juan commented on #274
the same issue discussed in [#244](https://github.com/pedrovgs/Shot/issues/244#issuecomment-1022347864_)

[2022-01-26 18:23] codeteo opened #280 "We couldn't find any screenshot"
### Expected behaviour
Generate a screenshot for the fragment I want to screenshot test when running `./gradlew executeScreenshotTests -Precord`

### Actual behaviour
When using an older version of `Shot` library (for example `5.5.0`) I get the following response :

[code]

While when I use the latest version (that is `5.12.1`) what I get is :

[code]

### Steps to reproduce
Download the sample pr

[2022-01-26 18:31] codeteo commented on #280
Oh my bad just found out [this comment here ](https://github.com/pedrovgs/Shot/issues/221#issuecomment-824191381) which helped resolve my issue. I just had to create a folder `project/screenshots/flavour/debug/screenshots-default`

[2022-01-26 18:45] codeteo commented on #280
Sorry for re-opening the issue but it worked only the first time I tried it, for every subsequent run I keep getting the same error :

[code]

[2022-01-27 11:39] olegosipenko commented on #244
Yep, you came to the same error that I mentioned here https://github.com/pedrovgs/Shot/issues/274

[2022-01-30 18:56] pedrovgs commented on #244
@mariuszmarzec looks like there is an issue with the jackson library, like if the dependency is not included as expected or something like that. We could try updating the library we use to decode JSON.

[2022-01-30 19:00] pedrovgs commented on #280
Hey @codeteo that issue you report seems not to be related with the library but with your fragments' configuration. Could you please remove this line [here](https://github.com/codeteo/ParallelScreenshotTests/blob/main/app/src/androidTest/java/com/parallel/shots/FragmentScreenshotTest.kt#L16) and execute your test again? If it fails, the issue is not related to shot but the fragments initialized.

[2022-01-30 19:03] pedrovgs commented on #279
We would need to change our report to improve this situation. Right now our test reports are not grouped by test case.

[2022-01-30 19:20] olegosipenko commented on #244
Could this be related to the fact of using JDK 11?

[2022-01-30 19:26] pedrovgs commented on #244
It could be if I've deployed the artifact using java 11 for the final build, but I don't think this is the case. Anyway, our tests are executed using java 11 on linux OS images so it can be something specific to the windows JDK.

[2022-02-01 09:41] ndeka28 opened #281 "Not able to generate screenshots"
### Expected behaviour
When I run ./gradlew executeScreenshotTests -Precord , screenshots should be generated

### Actual behaviour

I am using Shot version 5.13.0, while trying to run the above command I am getting error

[code]

### Steps to reproduce
1. Created an new Android Project
2. Added plugin and test runner   testInstrumentationRunner "com.karumi.shot.ShotTestRunner"
3. Added manifest f

[2022-02-03 10:05] #280 closed

[2022-02-03 13:50] adrinieto opened #282 "Tolerance value warning documentation is not correct"
In the tolerance sections states that:

Where it says `tolerance = 1` should be `tolerance = 100`.

We have failing tests that need a value higher than 1 to pass and in the logs for the passing tests it shows "1.0%"

Also, in the `shot-consumer-compose` [build.gradle](https://github.com/pedrovgs/Shot/blob/6288ac3a23b141c02911ec1ec6273ea18d365dcd/shot-consumer-compose/app/build.gradle#L67) is set t

[2022-02-03 17:14] adrinieto commented on #265
We're having the same problem, but tolerance doesn't solve the problem. In our test suite we have some tests that fail with a 7% pixel difference, and one with 18%. Setting a tolerance so high is not reasonable.

I've been experimenting and I think the tolerance implementation can be improved. I've been looking at the differences at a pixel level, and the pixels are almost the same.

The current i

[2022-02-04 08:21] #281 closed

[2022-02-04 08:22] ndeka28 commented on #281
I did solve the problem. It is about where I create the project in a mac machine.

[2022-02-04 14:36] zoey-juan commented on #244
Hi,
`Caused by: java.lang.NoSuchMethodError: com.fasterxml.jackson.databind.ObjectReader com.fasterxml.jackson.databind.ObjectMapper.readerFor(java.lang.Class)`
This issue is fixed for me. I finally found it's bcoz
1. we add `implmentationAndroidTest("...shot-android")` cause the dependencies issue.
2. I replaced `fun compareScreenshot(view: View, heightInPx: Int? = null, widthInPx: Int? = null, n

[2022-02-10 13:48] karsie opened #284 "One set of screenshots recorded when running multiple emulators"
When running multiple emulators to record screenshots on different sizes and API versions, previously for all devices the screenshots were downloaded (when unique filenames were used). Since 5.12.2 only the screenshots of the last device (highest emulator id) are successfully recorded.

### Expected behaviour
All screenshots of all emulators to be recorded

### Actual behaviour
Only screenshots of

[2022-02-14 12:13] IHNEL opened #285 "Error "java.io.IOException: Cannot run program" when running in a docker image"
### Expected behaviour
I tried to execute Shot in a docker image (ubuntu) and got below error. The command I used is `debugExecuteScreenshotTests` but it throw an issue with `app:debugRemoveScreenshotsBefore`. the ADB tool was installed and started already. Please help to have a look. Thanks.

[code]

[2022-02-15 22:12] allenarduino commented on #63
Another error pops up after moving the ``` apply plugin ``` below the android block.
This error shows:
[code]

[2022-02-16 15:41] chrisjenx commented on #263
The tooling is pretty good at telling you what to do. TBH it's really on one thing using Project:
[code]

Basically, stop using `Project` inside the `@TaskAction`.

I can potentially throw up a PR but will be a while.

[2022-02-16 16:51] AlexandreCrettet commented on #243
I have the same problem. Adding `android:requestLegacyExternalStorage="true"` or changing the API version (from 23 to 32) does not help.
@pedrovgs Didn't you do anything else to solve this issue? Maybe it comes from the configuration of the emulator, but I can't find anything related.

[2022-02-19 12:54] yschimke opened #287 "Shot build fails locally on M1"
### Expected behaviour

[code]

Works

### Actual behaviour

[code]

### Steps to reproduce

Run on Macbook Air or similar with M1

### Version of the library

Current master - 3d9e0ee3deb5e0478ca746a74af8bf128bb4254e

[2022-02-22 12:17] lucianoluzzi commented on #53
I'm getting the same issue on Windows 11 when running on an emulator.

Stacktrace below:
[code]
The test still runs (and passes) though:
[code]

[2022-02-25 15:56] eliddell1 opened #289 "Screenshot test not running?"
### Expected behaviour
when running :`  ./gradlew executeScreenshotTests -Precord
`
i expect for my view test to run and save screenshots

### Actual behaviour
[code]

The test i am trying to run is in my androidTest.java.com.myapp and looks like this:

[code]

### Version of the library
5.13.0

[2022-02-27 05:29] vinaygaba opened #290 "Can't take a dependency on `ScreenshotTest` from the "main" sourceSet"
I'm thinking of adding an example artifact that integrates with Shot in one of my libraries (https://github.com/airbnb/Showkase). In order to create this library artifact, I need to import `ScreenshotTest` in the `main` sourceSet. However, it seems like the plugin only allows me to do that in the `androidTest` sourceSet. Wondering if there is a way around this limitation?

[2022-02-27 20:30] MyDogTom commented on #243
I close the issue as I won't be able to dig deeper. Sorry.
In case someone else encounters the same problem, feel free to reopen and please provide more details. See my previous comment for the workaround.

[2022-02-27 20:30] #243 closed

[2022-03-01 00:57] vinaygaba commented on #290
I actually did and that doesn't work and now I know why 😅 The correct dependency was `com.karumi:shot-android` instead

[2022-03-01 00:57] #290 closed

[2022-03-03 09:14] SachinKasaraddi commented on #281
Where is it recommended to create project in mac machine?

[2022-03-03 09:38] ndeka28 commented on #281
Either $user folder/Documents/Downloads/Desktop - I tried these, and it worked

[2022-03-03 22:51] Jawnnypoo commented on #268
It would be great to revisit this with JDK 17, since that is becoming more normal to use when installing a JDK on an M1 Mac.

[2022-03-08 04:31] Jawnnypoo commented on #268
Addressed with https://github.com/pedrovgs/Shot/pull/292

[2022-03-09 08:54] oscarg798 opened #293 "XML results"
### Question

Hello, I have a question, is there a way to get comparison results as XML?, thanks

[2022-03-14 17:07] jaya-meena opened #295 "How to perform screenshot testing with a already produced and designed screenshot and compare it with the emulator's screen"
### Expected behaviour

### Actual behaviour

### Steps to reproduce

### Version of the library

[2022-03-23 09:02] BsBrabi opened #296 "Gradle tasks fail when targetSdkVersion is 31"
### Expected behaviour
All gradle tasks work when targetSdkVersion is set to 31.

### Actual behaviour
`./gradlew executeScreenshotTests -Precord` fails with the following error message:
[code]

### Steps to reproduce
Reproducable with sample app, when all targetSdkVersion and compileSdkVersion are set to 31.

### Version of the library
5.13.0

[2022-03-25 06:33] vyguera commented on #287
PR https://github.com/pedrovgs/Shot/pull/292 providesa support for this

[2022-03-25 06:59] MyDogTom commented on #263
Hi @pedrovgs , would you have time to take a look at https://github.com/pedrovgs/Shot/pull/291 ? There are also some other interesting PRs waiting for your feedback. 🙄

[2022-03-25 09:25] vyguera opened #297 "Add support for Kotlin DSL"
### Expected behaviour
As a developer I would like to be able to configure Shot using Kotlin DSL notation

### Actual behaviour
There's no official or documented support for DSL

### Steps to reproduce
In your module's build.gradle.kts file add the following, and try to synchronize:
[code]
 Gradle is not able to resolve plugin artifact 'com.karumi.shot:com.karumi.shot.gradle.plugin:5.13.0'
### Ver

[2022-03-25 14:30] TomSenier commented on #284
We have noticed the exact same issue when we upgraded from 5.11.2 to 5.13.0

[2022-03-28 06:36] MyDogTom commented on #296
@BsBrabi Is it only about sample app or your own app as well? If it's about your app, then I think you should be able to fix it without changing Shot library.

I suspect that this error is not related to the Shot library. Could you please try to run  `./gradlew assembleDebugAndroidTest` and let me know if you see the same error or not.

The reason for this error is behavior change in Android 12

h

[2022-03-28 13:06] BsBrabi commented on #296
Sorry, looks like it really is a problem in our app. I just tried the Shot library with another app sample, and I got it working.

[2022-03-28 13:06] #296 closed

[2022-03-29 02:44] crysxd opened #298 "Tolerance documentation inconsistent?"
Quoting from your README in the "Tolerance" section:

- `tolerance =  0.1 // 0,1% tolerance`
- If you configure tolerance = 1 it means the tolerance threshold will be 100%

This is a bit confusing as if the first example is correct (I think it is from the behaviour I see), then the second statement should be incorrect as `1` would then mean 1% tolerance and not 100% tolerance. Or did you limit the

[2022-03-29 02:47] crysxd commented on #298
Duplicate #282, my bad :)

[2022-03-29 02:47] #298 closed

[2022-04-07 17:59] smidf opened #300 "Plugin expects an availability of the Android SDK"
### Expected behaviour

The [Gradle Configuration phase](https://docs.gradle.org/current/userguide/build_lifecycle.html#sec:build_phases) is completed without error in an environment without the Android SDK.

### Actual behaviour

The Shot plugin uses `com.android.build.gradle.BaseExtension.getAdbExe` property in `afterEvaluate` block.
[code]

### Steps to reproduce

1. Integrate Shot plugin
2. "H

[2022-04-11 17:02] hrach opened #301 "Add difference number into the HTML report"
### Expected behaviour

Put a numeric value of difference into HTML report (e.g. under the diff image)

### Actual behaviour

I can just guess the needed value and rerun test. This is time demanding especially in those condition when the difference is caused by different machine rendering (CI).

### Version of the library

5.13.0

[2022-04-14 10:38] marcin-adamczewski commented on #212
@balachandarlinks @SumeraMartin Were you able to resolve the issue or take another approach to the problem?

[2022-04-14 10:45] SumeraMartin commented on #212
@marcin-adamczewski sadly, I didn't find a way how to solve this issue. We set up a local server where tests are running.

[2022-04-20 04:59] mittalshivansh opened #302 "Screenshot tests take huge time to run"
I feel the current approach for composing screenshot testing is not scalable as it takes a huge time to run a single test. Currently, for each screenshot test, a new activity is instantiated. Can we do something to share single instance of activity to optimize the time.

[2022-04-23 09:39] #274 closed

[2022-04-23 09:59] pedrovgs commented on #265
After thinking about this issue and checking @adrinieto 's implementation I think we can add this workaround to our project for now. It's far from being the perfect solution, but is good enough for now.

[2022-04-23 10:40] #284 closed

[2022-04-23 10:58] pedrovgs commented on #302
It all depends on the U library you are using @mittalshivansh. If you are using old android views, you'll be able to inflate different views and take as many screenshots as you want with only 1 activity instantiated only 1 time. However, the compose testing tools don't provide this capability. At least it didn't provide it last time I checked. I hope this is the answer to your question.

[2022-04-23 10:58] #302 closed

[2022-04-23 11:07] pedrovgs commented on #282
I think you are right @adrinieto

I'm checking the code where tolerance is computed and it shows:

[code]

If ``differentPixels.length.toDouble`` is 7 and ``oldScreenshotPixels.length.toDouble`` is 100. ``percentageOutOf100`` will be 7. Representing 7% of the pixel values changed. As the value read from the config is not modified at all. If the shot config is like this:

[code]

This means 100% of

[2022-04-23 11:16] pedrovgs commented on #285
Hi @IHNEL if you take a look at the error you'll see the issue is related to ``adb`` integration. Did you install ``adb`` in your docker image?

[2022-04-23 11:20] pedrovgs commented on #289
Hi @eliddell1 to be able to know what's going on I'd need to actually check your project. I don't know if you can upload a copy or something I can use to reproduce the error. It looks like there is something wrong in your project configuration, but with the current info I have, I can't spot the error. Sorry :(

[2022-04-23 11:26] pedrovgs commented on #293
I'm afraid this is not possible right now. We would need to configure different reporters. The only one provided is HTML. I hope this is the answer to your question.

[2022-04-23 11:26] #293 closed

[2022-04-23 11:27] #295 closed

[2022-04-23 13:04] #282 closed

[2022-04-28 02:40] NassirFfx opened #304 "Error: Java heap space"
Comparing the screenshot step is failing with an error: Java heap space
Further look into gives

`Comparing screenshots with previous ones.
[02:14:07]: ▸ > Task :sample:phoneDebugExecuteScreenshotTests FAILED
[02:14:07]: ▸ FAILURE: Build failed with an exception.
[02:14:07]: ▸ * What went wrong:
[02:14:07]: ▸ Execution failed for task ':sample:phoneDebugExecuteScreenshotTests'.
[02:14:07]: ▸ > Jav

[2022-05-02 16:53] pedrovgs commented on #304
🤔 @NassirFfx the sample projects we have are not able to reproduce this error. can you please upload a sample project we can use to reproduce this bug? I'm also wondering if this is related to the number of images you have or the size of some images.

[2022-05-03 16:26] mateuszkwiecinski commented on #263
FYI: It seems like the configuration cache isn't fully supported yet. I just tried the latest version `5.14.0` and I got:
[code]
or with `--stacktrace`
[code]

Here's full build scan: https://scans.gradle.com/s/p5omo5szuye3o

[2022-05-03 19:19] MyDogTom commented on #263
Hey @mateuszkwiecinski that's strange because it works in my project. I've just double checked again. The most noticeable difference I see is that my project uses Java 11 while yours Java 17. Not sure if it's related. Could you please
1. Remove configuration cache `rm -rf .gradle/configuration-cache`
2. Run command for the first time with `--scan`
3. Run command for the second time with `--scan`
4

[2022-05-04 04:52] mateuszkwiecinski commented on #263
Ah yes, sorry. Forgot to downgrade (https://github.com/pedrovgs/Shot/issues/268). And it seems like you're spot on and I'm unable to reproduce the same issue on Java 17.

But I did another test, on Java 11:
1. Removed configuration cache entries using `rm -rf .gradle/configuration-cache`
2. Run `./gradlew :projectpath:executeScreenshotTests -scan` - https://scans.gradle.com/s/e73fbuhghmuzm (or `./

[2022-05-04 06:33] MyDogTom commented on #263
Aha, good catch @mateuszkwiecinski . That was the missing step in my testing. Now I can also reproduce
[code]

I'll look closer during this week. Let's see if I manage to find any solution.

[2022-05-04 11:34] pedrovgs commented on #263
Thank you guys!

[2022-05-06 08:12] prateek-kaushik opened #305 "Error: Fails to capture AlertDialog composable"
The framework is throwing below error when I try to execute tests containing AlertDialog or Dialog composable.
Here is the stack trace:

[code]

Here is the sample AlertDialog composable in my test method:

[code]

[2022-05-06 08:27] prateek-kaushik commented on #305
Further related code

I pass above mentioned AlertDialog or any composable to this below shot helper method
[code]

[2022-05-07 13:01] badoualy commented on #53
Still happening on Windows 10.
As mentionned in the comment above, after killing the OpenJDK process, we can manually delete the file.

The issue is that when the verification test are failing, the html report isn't generated.

@pedrovgs would it be ok for you if we
* wrap the delete in a `try/catch` block to not crash if it can't be deleted? It's not ideal, but not really an issue with an appropr

[2022-05-08 19:23] MyDogTom commented on #263
It took me a while to figure out the reason, but now it works. At least the scenario where I was able to reproduce the initial issue. PR is here: https://github.com/pedrovgs/Shot/pull/307

[2022-05-13 13:42] rootsavaris opened #308 "Using Shot with Custom TestRunner"
I have one project running with default UI and E2E tests using Custom TestRunner (working with HILT). I'm trying incorporate shot library on screenshots tests but it does not work.

If I use:

`testInstrumentationRunner "com.karumi.shot.ShotTestRunner"
`

it works very well, but if I use:

[code]

When I use custom TestRunner, the screen shots doesn't save. Is it a bug ? Is there another way to wo

[2022-05-15 10:46] pedrovgs commented on #224
Closed by mistake. Opening again.

[2022-05-15 10:47] pedrovgs commented on #244
Releasing a tentative fix for this one right now. Version 5.14.1. Please, if this is still reproducible, feel free to reopen this issue after testing with the new release provided. Thanks!

[2022-05-15 10:47] #244 closed

[2022-05-16 17:54] badoualy commented on #244
@pedrovgs As mentionned in the PR, the fix will only fix the `Cannot delete directory` failing the task and not generating the report.

The next run will still throw the `File already exist` error

[2022-05-16 21:13] pedrovgs commented on #263
Closing after the latest release. Please @MyDogTom @mateuszkwiecinski reopen this again if the latest fix doesn't work.

[2022-05-16 21:13] #263 closed

[2022-05-17 11:33] MarcusWolschon opened #309 "Excessively long filenames"
### Expected behaviour

A feature and documentation to create shorter filenames.
e.g. to use subdirectories

### Actual behaviour

Unable to git clone repostories on Windows machines that contain tests created on Linux because of

`unable to create file %module%/screenshots/debug/**%long packagename%**.**%testname%**_**%testcase%**.png: Filename too long `

[2022-05-20 07:42] adrinieto commented on #305
We had the same problem with a custom Dialog. We made it work by capturing only the dialog, not the full screen.

First, add a test tag to the content of the dialog: `Modifier.testTag(YOUR_TAG)`
Then call `compareScreenshot()` using the tag node:
[code]

[2022-05-20 07:48] prateek-kaushik commented on #305
Thanks @adrinieto for the solution.
Coincidentally I had already implemented the same solution but forgot to update it here.
Ta.

[2022-05-20 18:05] #305 closed

[2022-05-25 14:57] dbayon opened #310 "ImageLoader must be init"
### Expected behaviour
Record snapshots of compose component

### Actual behaviour
while recording snapshots the following error appears in console:

com.playtomic.AcademyDetailSnapshotsMviTests > testAcademyDetailView[Pixel_4_API_29(AVD) - 10] FAILED
        java.lang.IllegalStateException: ImageLoader must be init with configuration before using
        at com.nostra13.universalimageloader.core.

[2022-05-25 15:03] pedrovgs commented on #310
Hey @dbayon can you check if this is reproducible with a previous version? Can you try with 5.13.0 or 5.12.2?

P.S: I play padel @dbayon , but my playtomic level is not updated xD

[2022-05-25 18:25] basimsherif opened #311 "Failing with error: Unable to make public void sun.nio.ch.ChannelInputStream.close()"
### Expected behaviour
It should successfully execute and generate screenshots

### Actual behaviour
Failing with error:

### Steps to reproduce
Execute command ./gradlew executeScreenshotTests -Precord

### Version of the library
Lib version: 5.14.1
Java version: 1.8
Emulator version: API 30

[2022-05-26 06:07] onreg opened #312 "View screenshots dont work in sample app."
I am trying to check the sample app shot-consumer. But it doesn't record screenshots from SuperHeroViewHolderTest.

### Expected behaviour

### Actual behaviour
I see these errors in logcat.

`2022-05-26 07:49:48.742 14084-14139/com.karumi E/Shot: Exception captured while taking screenshot for snapshot with name com.karumi.ui.view.SuperHeroViewHolderTest_showsAnySuperHero
    java.lang.RuntimeExce

[2022-05-26 14:46] basimsherif commented on #311
This happened because I was using java version 17 on my mac. Installed version 11 and this got resolved.

[2022-05-26 14:46] #311 closed

[2022-05-27 18:28] pedrovgs commented on #312
Hi @onreg thanks for reporting! I've checked our CI and looks like there are no issues on this environment. Are you using somethign differnt? If the CI is able to run our tests, we should be able to reproduce it in your local environment. Maybe you are using a different java version?

[2022-05-27 18:29] #310 closed

[2022-05-29 08:59] onreg commented on #312
Hi @pedrovgs I am using java that ships with Andoird Studio.

<img width="509" alt="Screenshot 2022-05-29 at 10 58 02" src="https://user-images.githubusercontent.com/56843874/170860306-c576711a-0075-404b-a969-5d3413acd1e3.png">

[2022-05-31 05:51] darvelo commented on #229
Is there a known alternative to this attribute? Its use is highly discouraged in the Android docs.

[2022-06-02 07:21] primoz-ivancic-ng commented on #265
Any news on this? Is the current workaround available anywhere?
I'm working on an OS library for some UI components and I'm getting way above 10% diff on some images that are otherwise the same - mostly where there is transparency involved.
The (main) source of issues here is the M1 vs x86 diff.

[2022-06-14 14:19] bartsg commented on #304
I'm having the same issue. It seems to happen only when a certain amount of differences are detected (e.g. 250+ changed screenshots or so).

[2022-06-16 23:10] adesentenac commented on #304
I'm also reproducing the issue with Shot 5.14.1.
I have 22 screenshots which have a resolution of 1080x2400. If I run them on a different device with a tolerance of 1.0, so they all pass with a warning, I have an OOM exception if Xmx is set at 2G, but pass if I change it to 4G.

[2022-06-17 18:27] DevNebulae commented on #242
Any status updates on how you're going to solve this or how we can help with this? I was previously using Espresso's `IntentsTestRule`. As it's deprecated now, I'd like to use one of Google's API's to resolve it.

[2022-06-18 02:22] derandecker commented on #229
I was reading an article that showed a method of getting screenshots from the device that doesn't require `sharedUserId`
It requires adding some code to build.gradle:

[code]
Here's a link to the "Retrieve screenshots from the device" section of the full write-up: [https://proandroiddev.com/easy-ui-and-screenshot-testing-on-android-2b138f6d1eb8#:~:text=Retrieve%20screenshots%20from%20the%20device]

[2022-06-20 08:24] HeyAlex commented on #308
@rootsavaris we are using a custom test runner as well, and it works well via inheritance. Just make something like [here](https://github.com/pedrovgs/Shot/blob/7bd9a4b18e5f31bc07c329d6f9c93da47769b91b/shot-consumer/app2/src/androidTest/java/com/karumi/TestRunner.kt)

[2022-06-20 11:16] darvelo commented on #229
For now we're using `sharedUserId` in the `androidTest` manifest and removed it from our main manifest, and screenshot tests are still working in CI. Still, hoping some longer-term solution can be reached!

[2022-06-28 11:52] irfanirawansukirman opened #313 "cannot record spinner when expand"
### Expected behaviour
capture when spinner is open

### Actual behaviour
only capture first time when spinner is close

### Steps to reproduce

### Version of the library
5.13.0

[2022-06-30 08:10] karsie commented on #304
I get this when I have a significant number of differences. (And I know tolerance is applied after gathering differences). From looking at the code of the image comparison library, the AWT images are never flushed. Maybe adding this will help?

[2022-07-01 06:54] karsie commented on #304
For me PR #314 helps

[2022-07-04 13:28] mecoFarid commented on #268
@Jawnnypoo It is not addressed there either. Would be great if you edited your comment.

[2022-07-04 13:29] mecoFarid commented on #268
So this basically means if I wanna use Shot, I should already give up on that and look for something else? I can't find any workaround for this

[2022-07-04 15:44] Jawnnypoo commented on #268
That PR isn't merged. Did you try it with that PR manually?

[2022-07-05 05:58] mecoFarid commented on #41
@SUPERCILEX Assumptions like `wait 500 ms then you should be good to go`  are the reason most tests fail and we stay like a stickman thinking about what the hell caused the issue

[2022-07-05 06:01] mecoFarid commented on #41
Rewriting the app :)

[2022-07-08 05:36] VleemingM opened #315 "Confusion about folder structure when using -PrunInstrumentation=false"
Whenever i'm running
`./gradlew app:executeScreenshotTests -PrunInstrumentation=false
`
I get the error
"We couldn't find any screenshot. Did you configure Shot properly and added your tests to your project?"
I couldn't really find any documentation about this option either.

My structure is as follow
| app
| --- screenshots
| ---------------- debug
| ----------------------- Nexus6
| -------------

[2022-07-08 07:01] VleemingM commented on #315
Figured it out you need to put your screenshots right next to your actual screenshots
for me that was app/screenshots/debug/nexus6/screenshots-compose-default
and running the following script
`./gradlew app:debugExecuteScreenshotTests -PrunInstrumentation=false -PdirectorySuffix=Nexus6`

[2022-07-08 07:01] #315 closed

[2022-07-15 08:10] mecoFarid opened #316 "Can't record very large view inside ScrollView"
### Expected behaviour
We should be able to capture large views even if parts of it is outside bounds of the window. E.g. views inside `ScrollView`

### Actual behaviour
Library captures only what is shown on the window and discards the rest of the view that is is outside the window

### Steps to reproduce
Add multiple view(s) inside `ScrollView` until part of the `ScrollVIew` is placed outside th

[2022-07-27 13:14] lyydikoi commented on #268
Hello, I'm facing same issue on M1 mac.
Do you know any way around to fix this?
Or any plans to merge this MR and release new version of the library?

[2022-07-28 16:32] darvelo commented on #229
@derandecker Can you tell me if your snippet works and allows the removal of sharedUserId?

[2022-07-30 11:44] mariuszmarzec commented on #240
@akshay-at-yml
[code]
Looks like this temporary dir `C:\Users\LATITUDE\AndroidStudioProjects\LiveProjects\HealthCare\app\s
creenshots\debug\screenshots-compose-default` wasn't removed from some reason. Remove it manually and other dirs under debug dir, should help.

[2022-08-04 20:44] zaaaach commented on #297
Am I able to use this library at all without converting back to Groovy for Gradle?

[2022-08-18 06:36] R-Ashh opened #317 "Problem: is there a way to capture bottom sheet while its open?"
I am trying to capture a bottom sheet on some scenarios, when I use the `compareWith` and pass the `activityOnTop` it won't capture the Bottomsheet and only the Activity itself is there any possibility to achieve this?

[2022-08-24 10:21] ohmerhe opened #318 "Aggregate all modules report together to a root report"
### Expected behaviour

We always have many modules in same project, it will generate test report for each domain.

Can provide a task to aggregate all modules report together to a root report?

### Actual behaviour

### Steps to reproduce

### Version of the library

[2022-08-26 10:32] StefanOltmann opened #319 ""Unresolved reference: shot""
I try to figure out where exactly I need to place this in my `build.gradle.kts`:
[code]

No matter where I place it, it never compiles.

[2022-08-31 08:26] crysxd opened #320 "`ManagedVirtualDevice` support"
Is there a way to support `ManagedVirtualDevice` introduced with AGP 7.3.0? It would be amazing to make use of this new AGP feature so we no longer need to manager our own emulators on our CI system. Ideally the invocation would look like

`./gradlew pixel4aApi30ExecuteScreenshotTests`

[2022-08-31 08:55] kasabov commented on #218
@mateuszkwiecinski, make sure your `--gradle-user-home` exists.

[2022-09-06 15:22] PierreCapo commented on #243
I had the same error with an API28 emulator, even if I tried with the aforementioned `android:requestLegacyExternalStorage` fix it didn't work. Running the tests API30 emulator fixed the problem.

[2022-09-12 23:26] zaaaach commented on #265
Just want to add that I'm getting the same issues when running my tests on a CICD platform (in this case, Bitrise).

[2022-09-22 23:13] tdrhq commented on #212
I set up an example of using Shot with Firebase Test Lab in CI: https://github.com/screenshotbot/shot-example

(Full disclosure, there's some self-promotion here, since it's set up to upload screenshots to Screenshotbot, a tool I maintain. But you could in theory take some of the concepts from here to build a record/verify workflow without Screenshotbot)

[2022-09-29 12:32] Mittchel opened #321 "Snapshot on multipe devices only saving last screenshot"
### Expected behaviour
I am trying to run a tablet emulator and phone emulator. I expect two screenshots in my /app/screenshots/debug folder (1 for tablet and 1 for phone)

### Actual behaviour
Only getting one screenshot, but the test is executing on both simulators. Seems like the last finishing emulator is the only screenshot thats saved.

### Steps to reproduce
./emulator -avd Pixel_C_API_30
.

[2022-10-03 19:55] sergio-sastre commented on #321
Shot runs the screenshot tests on all the devices adb finds.

However, Shot also supports to specify the folder where the screenshots are saved.

Moreover, using Android Serial we can decide on which emulators/devices the commands will be executed.

If we put all together, you can get it working as expected on a Mac as described in this tweet.

https://twitter.com/gio_sastre/status/148420105045005

[2022-10-04 10:56] saranyas72 opened #322 "How to compare screens with dynamic content"
### Steps to reproduce
I have some screens with dynamic image and text. Example - date that changes everyday. How can I use shot plugin to compare the screens with dynamic content?

### Version of the library
5.14.1

[2022-10-04 12:14] StefanOltmann commented on #319
@shen-david I gave up trying Shot and use now a simpler approach: https://github.com/googlecodelabs/android-compose-codelabs/blob/main/TestingCodelab/app/src/androidTest/java/com/example/compose/rally/ScreenshotComparator.kt

Only needed a Gradle task to pull the screenshots after that:
[code]

I would have preferred using Shot, but I did not manage to get it working and nobody responded to my iss

[2022-10-06 21:37] oluwafemi-bamisaye commented on #319
Hi @StefanOltmann and @shen-david, I was able to resolve this problem.

Removing this line:
`apply(plugin = "shot")`

and adding "shot" to the plugins block like below fixed it for me:

[code]

Then I could use the shot extension like this:

[code]

Don't forget to also add the class path dependency: classpath 'com.karumi:shot:5.14.1' as recommended in the [Getting started ](https://github.com/ped

[2022-10-10 16:42] shen-david commented on #319
thanks @oluwafemi-bamisaye! However, I actually still understand how this works - could you please paste your `buildscript` block? I still get the following, which suggests this doesn't work because this shot lib isn't [here](https://plugins.gradle.org/).
![Screen Shot 2022-10-10 at 12 41 41 PM](https://user-images.githubusercontent.com/41307218/194914883-cba526e1-210d-45c4-b6c1-78c2d3e5ff53.png)

[2022-10-11 21:46] shen-david commented on #319
ok, the issue was that my
[code]
block was in the same module-level `build.gradle.kts` file - i moved it to the top-level `build.gradle.kts` file, and then the extension resolved correctly!

[2022-10-11 21:47] shen-david commented on #297
@zaaaach see https://github.com/pedrovgs/Shot/issues/319

[2022-10-19 08:33] NaSOS commented on #265
Another alternative would be to investigate solutions followed by other frameworks, maybe they could be applied here as well.

Take, for example, [swift-snapshot-testing#628](https://github.com/pointfreeco/swift-snapshot-testing/pull/628).

[2022-10-19 12:40] tdrhq commented on #265
At Facebook, the way we solved issues like this was to just generate screenshots on the CI. So developers never recorded screenshots, and we're always recording screenshots in a clean identical environment. If screenshots changed, we just notified them on their diff.

(If you want this workflow, consider using something like [Screenshotbot](https://screenshotbot.io). It's also open-source for self

[2022-10-20 00:19] neugartf commented on #268
There is a work-around you can use until this is fixed:
`-Dorg.gradle.jvmargs="--add-opens java.base/java.nio=ALL-UNNAMED --add-opens java.base/java.nio.channels=ALL-UNNAMED --add-exports java.base/sun.nio.ch=ALL-UNNAMED"`

[2022-10-25 21:32] mhiew commented on #304
I think the issue is due to [parallelism](https://github.com/pedrovgs/Shot/blob/master/core/src/main/scala/com/karumi/shot/screenshots/ScreenshotsComparator.scala#L13) when comparing images and not really a garbage collection issue. (While debugging locally I could see that the total used memory was properly being recycled during execution)

[code]

I am not too familiar with scala, but I believe

[2022-10-31 13:33] crysxd commented on #320
Still chewing on this one...the main issue is that Shot copies the files from the device after the test is run, but at this point the emulator is already gone.

I did find [this SO post](https://stackoverflow.com/questions/74069309/copy-data-from-an-android-emulator-that-is-run-by-gradle-managed-devices) which describes how data is copied off the managed device

[2022-11-07 22:50] cj1098 opened #323 "Screenshots get deleted after being recorded."
### Expected behaviour
I expect after running `./gradlew executeScreenshotTests -Precord` that the tests get saved and stay in the directory they're saved in.

### Actual behaviour
The entire directory gets deleted, and a new empty directory gets created in projects' build/reports/shot/debug/record/images/recorded. It has screenshots-default and screenshots-compose-default, but both are empty. It

[2022-11-16 20:03] smugleafdev opened #324 "XML report not showing failing tests"
### Expected behavior
Generated .xml file should accurately write the correct amount of passing and failing tests. For example:

[code]

This way, our ADO pipelines can properly generate a Tests tab and show failing tests.

### Actual behavior
Although the HTML report shows a failing test, the XML file does not:

[code]

### Steps to reproduce
Force a test failure (in this case I'm just renaming m

[2022-11-22 16:41] smugleafdev commented on #324
My mistake, wrong library